<div class="d-sm-flex justify-content-between page-heading">
  <div>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb breadcrumb-title">
        <li class="breadcrumb-item"><a>Helpline</a></li>
        <li class="breadcrumb-item active" aria-current="page">Contact Information</li>
      </ol>
    </nav>
    <h5 class="mg-b-0 tx-spacing--1">Central Helpline Number for corona-virus: - +91-11-23978046</h5>
    <h5 class="mg-b-0 tx-spacing--1">Helpline Numbers of States & Union Territories (UTs)</h5>
  </div>
</div>

<div class="row flex-xl-nowrap">
  <div class="col-12">
    <table class="table table-striped">
        <thead>
            <tr>
                <th style="width:10%">#</th>
                <th style="width:40%">State</th>
                <th style="width:50%">Helpline Number</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Andhra Pradesh</td>
                <td><a target="_blank" href="tel:+918662410978">(+91) 8662410978</a></td>
            </tr>
            <tr>
                <td>2</td>
                <td>Arunachal Pradesh</td>
                <td><a target="_blank" href="tel:+919536055743">(+91) 9536055743</a></td>
            </tr>
            <tr>
                <td>3</td>
                <td>Assam</td>
                <td><a target="_blank" href="tel:06913347770">0691-3347770</a></td>
            </tr>
            <tr>
                <td>4</td>
                <td>Bihar</td>
                <td><a target="_blank" href="tel:104">104</a></td>
            </tr>
            <tr>
                <td>5</td>
                <td>Chhattisgarh</td>
                <td><a target="_blank" href="tel:+917712235091">(+91) 7712235091</a></td>
            </tr>
            <tr>
                <td>6</td>
                <td>Goa</td>
                <td><a target="_blank" href="tel:104">104</a></td>
            </tr>
            <tr>
                <td>7</td>
                <td>Gujarat</td>
                <td><a target="_blank" href="tel:104">104</a></td>
            </tr>
            <tr>
                <td>8</td>
                <td>Haryana</td>
                <td><a target="_blank" href="tel:+918558893911">(+91) 8558893911</a></td>
            </tr>
            <tr>
                <td>9</td>
                <td>Himachal Pradesh</td>
                <td><a target="_blank" href="tel:104">104</a></td>
            </tr>
            <tr>
                <td>10</td>
                <td>Jharkhand</td>
                <td><a target="_blank" href="tel:104">104</a></td>
            </tr>
            <tr>
                <td>11</td>
                <td>Karnataka</td>
                <td><a target="_blank" href="tel:104">104</a></td>
            </tr>
            <tr>
                <td>12</td>
                <td>Kerala</td>
                <td><a target="_blank" href="tel:04712552056">0471-2552056</a></td>
            </tr>
            <tr>
                <td>13</td>
                <td>Madhya Pradesh</td>
                <td><a target="_blank" href="tel:07552527177">0755-2527177</a></td>
            </tr>
            <tr>
                <td>14</td>
                <td>Maharashtra</td>
                <td><a target="_blank" href="tel:02026127394">0202-6127394</a></td>
            </tr>
            <tr>
                <td>15</td>
                <td>Manipur</td>
                <td><a target="_blank" href="tel:03852411668">0385-2411668</a></td>
            </tr>
            <tr>
                <td>16</td>
                <td>Meghalaya</td>
                <td><a target="_blank" href="tel:+919366090748">(+91) 9366090748</a></td>
            </tr>
            <tr>
                <td>17</td>
                <td>Mizoram</td>
                <td><a target="_blank" href="tel:102">102</a></td>
            </tr>
            <tr>
                <td>18</td>
                <td>Nagaland</td>
                <td><a target="_blank" href="tel:+917005539653">(+91) 7005539653</a></td>
            </tr>
            <tr>
                <td>19</td>
                <td>Odisha</td>
                <td><a target="_blank" href="tel:+919439994859">(+91) 9439994859</a></td>
            </tr>
            <tr>
                <td>20</td>
                <td>Punjab</td>
                <td><a target="_blank" href="tel:104">104</a></td>
            </tr>
            <tr>
                <td>21</td>
                <td>Rajasthan</td>
                <td><a target="_blank" href="tel:01412225624">0141-2225624</a></td>
            </tr>
            <tr>
                <td>22</td>
                <td>Sikkim</td>
                <td><a target="_blank" href="tel:104">104</a></td>
            </tr>
            <tr>
                <td>23</td>
                <td>Tamil Nadu</td>
                <td><a target="_blank" href="tel:04429510500">0442-9510500</a></td>
            </tr>
            <tr>
                <td>24</td>
                <td>Telangana</td>
                <td><a target="_blank" href="tel:104">104</a></td>
            </tr>
            <tr>
                <td>25</td>
                <td>Tripura</td>
                <td><a target="_blank" href="tel:03812315879">0381-2315879</a></td>
            </tr>
            <tr>
                <td>26</td>
                <td>Uttarakhand</td>
                <td><a target="_blank" href="tel:104">104</a></td>
            </tr>
            <tr>
                <td>27</td>
                <td>Uttar Pradesh</td>
                <td><a target="_blank" href="tel:18001805145">18001805145</a></td>
            </tr>
            <tr>
                <td>28</td>
                <td>West Bengal</td>
                <td><a target="_blank" href="tel:03323412600">0332-3412600</a></td>
            </tr>
        </tbody>
    </table>
  </div>
</div>
