<div class="content content-fixed">
  <div class="container">
    <div class="d-sm-flex justify-content-between page-heading">
      <div>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb breadcrumb-title">
            <li class="breadcrumb-item">Helpline</li>
            <li class="breadcrumb-item"><a href="/helpline/awareness">Awareness</a></li>
            <li class="breadcrumb-item">Advisory on Social Distancing Measure in view of spread of COVID-19 disease</li>
          </ol>
        </nav>
        <h5 class="mg-b-0 tx-spacing--1">Advisory on Social Distancing Measure in view of spread of COVID-19 disease</h5>
      </div>
    </div>
    <div class="row">
      <div class="col-12 card">
        <div class="card-body">
          <h6 class="mg-b-0 tx-spacing--1">Advisory on Social Distancing Measure in view of spread of COVID-19 disease</h6>
          <p>Social distancing is a non-pharmaceutical infection prevention and control intervention
          implemented to avoid/decrease contact between those who are infected with a disease causing
          pathogen and those who are not, so as to stop or slow down the rate and extent of disease
          transmission in a community. This eventually leads to decrease in spread, morbidity and
          mortality due to the disease.</p>
          <p>In addition to the proposed interventions, the State/UT Governments may prescribe such other measures as they consider necessary.</p>
          <p>All these proposed interventions shall be in force till 31st of March, 2020. They will be reviewed as per the evolving situation.</p>
          <p class="font-weight-bold">The following interventions are proposed:</p>
          <ol>
            <li>Closure of all educational establishments (schools, universities etc), gyms, museums, cultural and social centres, swimming pools and theatres. Students should be advised to stay at home. Online education to be promoted.</li>
            <li>Possibility of postponing exams may be explored. Ongoing exams to be conducted only after ensuring physical distance of one meter amongst students.</li>
            <li>Encourage private sector organizations/employers to allow employees to work from home wherever feasible.</li>
            <li>Meetings, as far as feasible, shall be done through video conferences. Minimize or reschedule meetings involving large number of people unless necessary.</li>
            <li>Restaurants to ensure handwashing protocol and proper cleanliness of frequently touched surfaces. Ensure physical distancing (minimum 1metre) between tables; encourage open air seating where practical with adequate distancing.</li>
            <li>Keep already planned weddings to a limited gathering, postpone all non-essential social and cultural gatherings.</li>
            <li>Local authorities to have a dialogue with organizers of sporting events and competitions involving large gatherings and they may be advised to postpone such events.</li>
            <li>Local authorities to have a dialogue with opinion leaders and religious leaders to regulate mass gatherings and should ensure no overcrowding/at least one metre distance between people.</li>
            <li>Local authorities to have meeting with traders associations and other stakeholders to regulate hours, exhibit Do’s and Don’ts and take up a communication drive in market places like sabzi mandi, anaj mandi, bus depots, railway stations, post-offices etc., where essential services are provided.</li>
            <li>All commercial activities must keep a distance of one meter between customers. Measures to reduce peak hour crowding in markets.</li>
            <li>Non-essential travel should be avoided. Buses, Trains and aeroplanes to maximize social distancing in public transport besides ensuring regular and proper disinfection of surfaces.</li>
            <li>Hospitals to follow necessary protocol related with COVID-19 management as prescribed and restrict family/friends/children visiting patients in hospitals.</li>
            <li>Hygiene and physical distancing has to be maintained. Shaking hands and hugging as a matter of greeting to be avoided.</li>
            <li>Special protective measures for delivery men/ women working in online ordering services.</li>
            <li>Keep communities informed consistently and constantly.</li>
          </ol>
          <p class="text-right font-weight-bold">Ministry of Health & Family Welfare</p>
          <p>Source link: <a href="https://www.mohfw.gov.in/SocialDistancingAdvisorybyMOHFW.pdf" target="_blank">Social Distancing Advisory by MOHFW (pdf)</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
