<div class="content content-fixed">
  <div class="page-header" style="background-image: url('/assets/images/about-page-header.jpg');">
  </div>
  <div class="container container-margin-top">
    <br/>
    <div class="row">
      <div class="col-12 card">
        <div class="card-body">
          <h4>About us</h4>
          <p>In February 2020, Dr. Mike Ryan – Head of WHO’s health emergency program said, “We need a vaccine against misinformation”. The idea to develop this website came from the very fact that there was a lot of misinformation being spread on various platforms, some of it completely amusing but some which could really startle a person. Aptlogica wants you to know the facts and the actual figures about coronavirus disease 2019 (COVID-19).</p>

          <br/>
          <h4 class="text-center"><i class="fa fa-quote-left"></i><span>&nbsp; Let’s be informed rather than panic. &nbsp;</span><i class="fa fa-quote-right"></i></h4>
          <br/>
          <p>Data displayed on our website are aggregated from multiple sources including the website of the Ministry of Health and Family Welfare of India. We have also used other sources to like news outlets, the world meter website, etc to verify the figures. Aptlogica Technologies is committed to the cause of displaying verified data and is updating its dashboards regularly.</p>

          <p>We request you to take a minute out of your busy schedule and serve the society by -</p>
          <ul>
            <li>Spreading the word about this website</li>
            <li>Reporting of Errors</li>
            <li>Feedbacks</li>
            <li>Suggestions or alterations</li>
          </ul>

          <p><b>Together we can build hope, resilience and trust.</b></p>

          <p>We at Aptlogica would like to thank all the healthcare workers at various facilities who are serving the citizens, the airport personnel who are the first point of contact but have shown tremendous courage and resilience when calamity has struck, the administration of various states and Indian Government, who are working hard to ensure that the spread of COVID-19 or Corona Virus is halted or at least minimized and last but not least to every Indian who has taken care of herself/himself by following simple protocols which have been suggested by the administration. </p>

          <p>Let us all raise awareness about COVID-19 without increasing fear or spreading rumors.</p>

          <p>Please email us at <a href="mailto:connect@aptlogica.com" target="_top">connect [at] aptlogica.com</a> if there are any queries or concerns or suggestions.</p>


          <div class="mt-5">
            <h5 class="text-center">DO THE FIVE - HEFSL - Help stop coronavirus</h5>
            <div class="row row-xs">
              <div class="col-sm-6 col-lg-3 margin-top-10">
                <div class="card card-body card-color-primary">
                  <h6 class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-8">HANDS Wash them often</h6>
                  <img width="100%" src="/assets/images/hands-wash.png" alt="">
                </div>

              </div>
              <div class="col-sm-6 col-lg-3 margin-top-10">
                <div class="card card-body card-color-secondary">
                  <h6 class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-8">ELBOW Cough into it</h6>
                  <img width="100%" src="/assets/images/elbow-cough-image.png" alt="">
                </div>
              </div>
              <div class="col-sm-6 col-lg-3 margin-top-10">
                <div class="card card-body card-color-success">
                  <h6 class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-8">FACE Don't touch it</h6>
                  <img width="100%" src="/assets/images/face-donot-touch.png" alt="">
                </div>
              </div>
              <div class="col-sm-6 col-lg-3 margin-top-10">
                <div class="card card-body card-color-warning">
                  <h6 class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-8">SPACE Keep a safe distance</h6>
                  <img width="100%" src="/assets/images/space-keep-safe-distance.png" alt="">
                </div>
              </div>
              <div class="col-sm-6 col-lg-3 margin-top-10">
                <div class="card card-body card-color-danger">
                  <h6 class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-8">FEEL sick? Stay home</h6>
                  <img width="100%" src="/assets/images/feel-sick-stay-home.png" alt="">
                </div>
              </div>
            </div>

          </div>


          <p class="mt-4"><b><em>#* Disclaimer: This is not a government website. Please refer to our sources page</em></b></p>
        </div>
      </div>
    </div>
  </div>
</div>
