<div class="content content-fixed">
  <div class="container">
    <div class="d-sm-flex justify-content-between page-heading">
      <div>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb breadcrumb-title">
            <li class="breadcrumb-item">Helpline</li>
            <li class="breadcrumb-item"><a href="/helpline/awareness">Awareness</a></li>
            <li class="breadcrumb-item">Essential Technical Features for Ventilator for COVID-19</li>
          </ol>
        </nav>
        <h5 class="mg-b-0 tx-spacing--1">Essential Technical Features for Ventilator for COVID-19</h5>
      </div>
    </div>
    <div class="row">
      <div class="col-12 card">
        <div class="card-body">
          <p>During the Empowered Group Meeting (for ensuring availability of essential Medical equipment) held on 30.03.2020 at 03:00 PM in Room 152 Udyog Bhawan, it was, inter alia, decided that the Technical Committee of DRDO shall identify the essential technical features for ventilators for COVID-19, which shall be put on the website of the Ministry of Health & Family Welfare and HLL Lifecare Ltd.</p>
          <p>The same have been received from Director General Life Sciences, DRDO (Chairman Technical Committee) and are as below:</p>
          <h6>"Essential Technical Features for Ventilator for COVID-19</h6>
          <ol>
            <li>The machine should be turbine/compressor based because the installation sites might not have central Oxygen Lines.</li>
            <li>The machine should have Invasive, non-invasive and CPAP features to make them versatile.</li>
            <li>200-600 ML tidal volume, Lung Mechanics Display</li>
            <li>Monitoring of Plateau Pressure, PEEP, PS, oxygen concentration, lung mechanics/inverse ratio (I:E)</li>
            <li>Pressure & volume control & PSV</li>
            <li>Continuous working capability for 4-5 days"</li>
          </ol>
          <p>It is requested that the above essential technical features may be got uploaded immediately on the website of HLL Lifecare Ltd under intimation to this Office.</p>
          <br>
          <p>Source link: <a href="https://www.mohfw.gov.in/pdf/EssentialTechfeaturesforVentilators.pdf" target="_blank">Essential Tech features for Ventilators (pdf)</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
