<div class="content content-fixed">
  <div class="container">
    <div class="d-sm-flex justify-content-between page-heading">
      <div>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb breadcrumb-title">
            <li class="breadcrumb-item">Helpline</li>
            <li class="breadcrumb-item"><a href="/helpline/awareness">Awareness</a></li>
            <li class="breadcrumb-item">Kids, Vaayu & Corona2: Pandemic Defeated (A comic series for COVID-19 Prevention)</li>
          </ol>
        </nav>
        <h5 class="mg-b-0 tx-spacing--1">Kids, Vaayu & Corona2: Pandemic Defeated (A comic series for COVID-19 Prevention)</h5>
      </div>
    </div>
    <div class="row">
      <div class="col-12 card">
        <div class="card-body">
          <h6 class="mg-b-0 tx-spacing--1">Kids, Vaayu & Corona2: Pandemic Defeated (A comic series for COVID-19 Prevention)</h6>
          <p>There is growing concern and perceived threat about the Coronavirus amongcommon citizens. The population of all ages is making  use of  available  media  suchas newspapers, social media and television to make themselves  aware.  From adultsto children, most of the discussion these days are centering around the Coronavirus.But for children, especially those below the age of   14   years,   Coronavirus   hasbecome a cause of concern as they are not able to comprehend the talks and gettingworried. The parent should talk to them and resolve their queries so they do notpanic.</p>
          <p>Sometimes parents might be busy and they might not be able to resolve their queries. Considering this PGIMER- Chandigarh, India and Panjab University- Chandigarh, India created this second part of the comic to make children aware about the threat of Corona- virus and clear some of the doubts and how to remain safe through simple precautionary steps. This comic is created to learn, along with fun and motivate children to be a hero of prevention by defeating corona and other infectious germs.</p>
          <p>Source link: <a href="https://www.mohfw.gov.in/pdf/CoronaComic2PGIPU22Mar20.pdf" target="_blank">Corona Comic 2PGIPU 22, March 20 (pdf)</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
