<div class="content content-fixed">
  <div class="container">
    <div class="d-sm-flex justify-content-between page-heading">
      <div>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb breadcrumb-title">
            <li class="breadcrumb-item">Helpline</li>
            <li class="breadcrumb-item active" aria-current="page">Testing Center</li>
          </ol>
        </nav>
        <h5 class="mg-b-0 tx-spacing--1">Test Centres across the Country</h5>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">State</th>
              <th scope="col">Address</th>
              <th scope="col">Map</th>
            </tr>
          </thead>
          <tbody>
            <!-- Andhra Pradesh -->
            <tr>
              <th rowspan="3" scope="row" class="align-middle">1</th>
              <td rowspan="3" class="align-middle">Andhra Pradesh</td>
              <td>Sri Venkateswara Institute of Medical Sciences in Tirupati</td>
              <td><a href="https://goo.gl/maps/gu5cppFaaU9RGrzNA" target="_blank">Link</a></td>
            </tr>
            <tr>
              <td>Andhra Medical College in Visakhapatnam</td>
              <td><a href="https://goo.gl/maps/AzrRTZH1veoicvbSA" target="_blank">Link</a></td>
            </tr>
            <tr>
              <td>GMC, Anantapur</td>
              <td><a href="https://goo.gl/maps/B7TtbVbdUjfg2nW79" target="_blank">Link</a></td>
            </tr>
            <!-- Andaman and Nicobar -->
            <tr>
              <th scope="row" class="align-middle">2</th>
              <td class="align-middle">Andaman and Nicobar</td>
              <td>Regional Medical Research Centre, Port Blair</td>
              <td><a href="https://goo.gl/maps/J5QVJW6BfHCQD4FE7" target="_blank">Link</a></td>
            </tr>
            <!-- Assam -->
            <tr>
              <th rowspan="2" scope="row" class="align-middle">3</th>
              <td rowspan="2" class="align-middle">Assam</td>
              <td>Gauhati Medical College, Guwahati</td>
              <td><a href="https://goo.gl/maps/gu5cppFaaU9RGrzNA" target="_blank">Link</a></td>
            </tr>
            <tr>
              <td>Andhra Medical College in Visakhapatnam</td>
              <td><a href="https://goo.gl/maps/AzrRTZH1veoicvbSA" target="_blank">Link</a></td>
            </tr>
            <!-- Bihar -->
            <tr>
              <th scope="row" class="align-middle">4</th>
              <td class="align-middle">Bihar</td>
              <td>Rajendra Memorial Research Institute of Medical Sciences, Patna</td>
              <td><a href="https://goo.gl/maps/2Tvi2Ld6eRWSNnMu5" target="_blank">Link</a></td>
            </tr>
            <!-- Chandigarh -->
            <tr>
              <th scope="row" class="align-middle">5</th>
              <td class="align-middle">Chandigarh</td>
              <td>Post Graduate Institute of Medical Education & Research</td>
              <td><a href="https://goo.gl/maps/ePoqLTz2cF83KzVF9" target="_blank">Link</a></td>
            </tr>
            <!-- Chhattisgarh -->
            <tr>
              <th scope="row" class="align-middle">6</th>
              <td class="align-middle">Chhattisgarh</td>
              <td>All India Institute of Medical Science Raipur, Chhatisgarh</td>
              <td><a href="https://goo.gl/maps/2axBsyGeLN6mXfvy5" target="_blank">Link</a></td>
            </tr>
            <!-- Delhi -->
            <tr>
              <th rowspan="2" scope="row" class="align-middle">7</th>
              <td rowspan="2" class="align-middle">Delhi</td>
              <td>All India Institute Of Medical Sciences, New Delhi</td>
              <td><a href="https://goo.gl/maps/jReDdinicZPcnKii9" target="_blank">Link</a></td>
            </tr>
            <tr>
              <td>National Centre for Disease Control</td>
              <td><a href="https://goo.gl/maps/21hHNe5TaocLK4BC9" target="_blank">Link</a></td>
            </tr>
            <!-- Gujarat -->
            <tr>
              <th rowspan="2" scope="row" class="align-middle">8</th>
              <td rowspan="2" class="align-middle">Gujarat</td>
              <td>BJ Medical College, Ahmedabad</td>
              <td><a href="https://goo.gl/maps/c6ctku4VMqpbfXfa8" target="_blank">Link</a></td>
            </tr>
            <tr>
              <td>M P Shah Government Medical College, Jamnagar</td>
              <td><a href="https://goo.gl/maps/R4PsSVdVHqumBa8Z7" target="_blank">Link</a></td>
            </tr>
            <!-- Haryana -->
            <tr>
              <th rowspan="2" scope="row" class="align-middle">9</th>
              <td rowspan="2" class="align-middle">Haryana</td>
              <td>Pt B D Sharma Post Graduate Institute of Medical Sciences, Rohtak</td>
              <td><a href="https://goo.gl/maps/XsD2Q6EgNjkoq6xj9" target="_blank">Link</a></td>
            </tr>
            <tr>
              <td>BPS Government Medical College, Sonipat</td>
              <td><a href="https://goo.gl/maps/GWWx3fCeke5Z9WS38" target="_blank">Link</a></td>
            </tr>
            <!-- Himachal Pradesh -->
            <tr>
              <th rowspan="2" scope="row" class="align-middle">11</th>
              <td rowspan="2" class="align-middle">Himachal Pradesh</td>
              <td>Indira Gandhi Medical College, Shimla</td>
              <td><a href="https://goo.gl/maps/JB8PViFZS7LZSYoj9" target="_blank">Link</a></td>
            </tr>
            <tr>
              <td>Dr Rajendra Prasad Government Medical College, Kangra, Tanda</td>
              <td><a href="https://goo.gl/maps/kAC1e5kCjsTr4WHr8" target="_blank">Link</a></td>
            </tr>
            <!-- Jammu-Kashmir -->
            <tr>
              <th rowspan="2" scope="row" class="align-middle">12</th>
              <td rowspan="2" class="align-middle">Jammu-Kashmir</td>
              <td>Sher-I-Kashmir Institute of Medical Sciences, Srinagar</td>
              <td><a href="https://goo.gl/maps/dwwSwBkCpjj4XsDQ9" target="_blank">Link</a></td>
            </tr>
            <tr>
              <td>Government Medical College, Jammu</td>
              <td><a href="https://goo.gl/maps/67PuFAwkvFWn5tVr5" target="_blank">Link</a></td>
            </tr>
            <!-- Jharkhand -->
            <tr>
              <th scope="row" class="align-middle">13</th>
              <td class="align-middle">Jharkhand</td>
              <td>MGM Medical College, Jamshedpur</td>
              <td><a href="https://goo.gl/maps/s9gfy6rerW3roV7k9" target="_blank">Link</a></td>
            </tr>
            <!-- Karnataka -->
            <tr>
              <th rowspan="5" scope="row" class="align-middle">14</th>
              <td rowspan="5" class="align-middle">Karnataka</td>
              <td>Bangalore Medical College & Research Institute, Bengaluru</td>
              <td><a href="https://goo.gl/maps/LQjGgTgNJK7JazPb9" target="_blank">Link</a></td>
            </tr>
            <tr>
              <td>National Institute of Virology Field Unit, Bengaluru</td>
              <td><a href="https://goo.gl/maps/2DwQ4sQLXdaUN5TMA" target="_blank">Link</a></td>
            </tr>
            <tr>
              <td>Mysore Medical College & Research Institute, Mysore</td>
              <td><a href="https://goo.gl/maps/n3Ckfh6nssLZgSY6A" target="_blank">Link</a></td>
            </tr>
            <tr>
              <td>Hassan Institute of Medical Sciences, Hassan</td>
              <td><a href="https://goo.gl/maps/fxkcEvS7C4JDKZU99" target="_blank">Link</a></td>
            </tr>
            <tr>
              <td>Shimoga Institute of Medical Sciences, Shivamoga</td>
              <td><a href="https://goo.gl/maps/28x3wrusTte3Ve469" target="_blank">Link</a></td>
            </tr>
            <!-- Kerala -->
            <tr>
              <th rowspan="3" scope="row" class="align-middle">15</th>
              <td rowspan="3" class="align-middle">Kerala</td>
              <td>National Institute of Virology Field Unit and Government Medical College, Thriuvananthapuram</td>
              <td><a href="https://goo.gl/maps/qxb25VJRkQHpysEF9" target="_blank">Link</a></td>
            </tr>
            <tr>
              <td>Govt. Medical College, Thriuvananthapuram</td>
              <td><a href="https://goo.gl/maps/qxb25VJRkQHpysEF9" target="_blank">Link</a></td>
            </tr>
            <tr>
              <td>Government Medical College, Kozhikhode</td>
              <td><a href="https://goo.gl/maps/LpfF1TSY9FYgjWLy9" target="_blank">Link</a></td>
            </tr>
            <!-- Madhya Pradesh -->
            <tr>
              <th rowspan="2" scope="row" class="align-middle">16</th>
              <td rowspan="2" class="align-middle">Madhya Pradesh</td>
              <td>All India Institute of Medical Sciences (AIIMS) Bhopal</td>
              <td><a href="https://goo.gl/maps/F4d9HngmSS34yrHE6" target="_blank">Link</a></td>
            </tr>
            <tr>
              <td>National Institute of Research in Tribal Health (NIRTH), Jabalpur</td>
              <td><a href="https://goo.gl/maps/a4LSXY5YZLDKoVT98" target="_blank">Link</a></td>
            </tr>
            <!-- Maharashtra -->
            <tr>
              <th rowspan="3" scope="row" class="align-middle">17</th>
              <td rowspan="3" class="align-middle">Maharashtra</td>
              <td>Indira Gandhi Government Medical College, Nagpur</td>
              <td><a href="https://goo.gl/maps/a5uDiES5nbkm8gSA6" target="_blank">Link</a></td>
            </tr>
            <tr>
              <td>Kasturba Hospital for Infectious Diseases, Mumbai</td>
              <td><a href="https://goo.gl/maps/hkAWEixvRD34nyxZ9" target="_blank">Link</a></td>
            </tr>
            <tr>
              <td>Naidu Hospital, Pune</td>
              <td><a href="https://goo.gl/maps/UHG24SUmoiMFfwVW6" target="_blank">Link</a></td>
            </tr>
            <!-- Manipur -->
            <tr>
              <th scope="row" class="align-middle">18</th>
              <td class="align-middle">Manipur</td>
              <td>JN Institute of Medical Sciences Hospital, Imphal</td>
              <td><a href="https://goo.gl/maps/EdggGFJjtew3Re9o9" target="_blank">Link</a></td>
            </tr>
            <!-- Meghalaya -->
            <tr>
              <th scope="row" class="align-middle">19</th>
              <td class="align-middle">Meghalaya</td>
              <td>North Eastern Indira Gandhi Institute of Health and Medical Sciences, Shillong</td>
              <td><a href="https://goo.gl/maps/LXaVHgK42bD4bVnq7" target="_blank">Link</a></td>
            </tr>
            <!-- Odisha -->
            <tr>
              <th scope="row" class="align-middle">20</th>
              <td class="align-middle">Odisha</td>
              <td>Regional Medical Research Centre, Bhubaneswar</td>
              <td><a href="https://goo.gl/maps/uDuxEii1BmnEtztEA" target="_blank">Link</a></td>
            </tr>
            <!-- Puducherry -->
            <tr>
              <th scope="row" class="align-middle">21</th>
              <td class="align-middle">Puducherry</td>
              <td>Jipmer Hospital</td>
              <td><a href="https://goo.gl/maps/C2UZ72jX6mRxD7qX7" target="_blank">Link</a></td>
            </tr>
            <!-- Punjab -->
            <tr>
              <th rowspan="2" scope="row" class="align-middle">22</th>
              <td rowspan="2" class="align-middle">Punjab</td>
              <td>Government Medical College, Patiala</td>
              <td><a href="https://goo.gl/maps/8HpeLiowovGEzej29" target="_blank">Link</a></td>
            </tr>
            <tr>
              <td>Government Medical College, Amritsar</td>
              <td><a href="https://goo.gl/maps/dM3RJPsXc8zudbPv6" target="_blank">Link</a></td>
            </tr>
            <!-- Rajasthan -->
            <tr>
              <th rowspan="4" scope="row" class="align-middle">23</th>
              <td rowspan="4" class="align-middle">Rajasthan</td>
              <td>Sawai Man Singh Hospital, Jaipur</td>
              <td><a href="https://goo.gl/maps/86yP35f9h7qk58Np7" target="_blank">Link</a></td>
            </tr>
            <tr>
              <td>Dr. Sampurnanand Medical College (SNMC), Jodhpur</td>
              <td><a href="https://goo.gl/maps/QC3TrhpvyZL7NFf48" target="_blank">Link</a></td>
            </tr>
            <tr>
              <td>Jhalawar Medical College, Jhalawar</td>
              <td><a href="https://goo.gl/maps/y5AkWH9Q5xvK2nfQ6" target="_blank">Link</a></td>
            </tr>
            <tr>
              <td>SP Medical College, Bikaner</td>
              <td><a href="https://goo.gl/maps/859DtnkFw97SEDHq5" target="_blank">Link</a></td>
            </tr>
            <!-- Tamil Nadu -->
            <tr>
              <th rowspan="2" scope="row" class="align-middle">24</th>
              <td rowspan="2" class="align-middle">Tamil Nadu</td>
              <td>King’s Institute of Preventive Medicine & Research, Chennai</td>
              <td><a href="https://goo.gl/maps/ugJZPgdL8rDmZVTy7" target="_blank">Link</a></td>
            </tr>
            <tr>
              <td>Government Medical College, Theni</td>
              <td><a href="https://goo.gl/maps/h9GjLFu6v3gLz9hXA" target="_blank">Link</a></td>
            </tr>
            <!-- Telangana -->
            <tr>
              <th scope="row" class="align-middle">25</th>
              <td class="align-middle">Telangana</td>
              <td>Gandhi Medical College, Secunderabad</td>
              <td><a href="https://goo.gl/maps/zVymPGkAC425EUSw8" target="_blank">Link</a></td>
            </tr>
            <!-- Tripura -->
            <tr>
              <th scope="row" class="align-middle">26</th>
              <td class="align-middle">Tripura</td>
              <td>Government Medical College, Agartala</td>
              <td><a href="https://goo.gl/maps/4XS42g68BPLtTbWPA" target="_blank">Link</a></td>
            </tr>
            <!-- Uttar Pradesh -->
            <tr>
              <th rowspan="3" scope="row" class="align-middle">27</th>
              <td rowspan="3" class="align-middle">Uttar Pradesh</td>
              <td>King George Medical University, Lucknow</td>
              <td><a href="https://goo.gl/maps/ZrbmhsDqG7anpaDf9" target="_blank">Link</a></td>
            </tr>
            <tr>
              <td>Institute of Medical Sciences, Banaras Hindu University, Varanasi</td>
              <td><a href="https://goo.gl/maps/hzJZcbgrY2mYq87u7" target="_blank">Link</a></td>
            </tr>
            <tr>
              <td>Jawaharlal Nehru Medical College, Aligarh</td>
              <td><a href="https://goo.gl/maps/oF9rdXQpyhFQgmFd9" target="_blank">Link</a></td>
            </tr>
            <!-- Uttarakhand -->
            <tr>
              <th scope="row" class="align-middle">28</th>
              <td class="align-middle">Uttarakhand</td>
              <td>Government Medical College, Haldwani</td>
              <td><a href="https://goo.gl/maps/ZycBGNWTnwstsRoXA" target="_blank">Link</a></td>
            </tr>
            <!-- West Bengal -->
            <tr>
              <th rowspan="2" scope="row" class="align-middle">29</th>
              <td rowspan="2" class="align-middle">West Bengal</td>
              <td>National Institute of Cholera and Enteric Diseases, Kolkata</td>
              <td><a href="https://goo.gl/maps/YgEELsqJYtgPX5Yc7" target="_blank">Link</a></td>
            </tr>
            <tr>
              <td>IPGMER, Kolkata</td>
              <td><a href="https://goo.gl/maps/HerHvBJqvf89qxvbA" target="_blank">Link</a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

</div>
</div>
