<div class="content content-fixed">
  <div class="container">
    <div class="d-sm-flex justify-content-between page-heading">
      <div>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb breadcrumb-title">
            <li class="breadcrumb-item">Helpline</li>
            <li class="breadcrumb-item"><a href="/helpline/awareness">Awareness</a></li>
            <li class="breadcrumb-item">Reimbursement of OPD medicines to CS(MA) beneficiaries</li>
          </ol>
        </nav>
        <h5 class="mg-b-0 tx-spacing--1">Reimbursement of OPD medicines to CS(MA) beneficiaries</h5>
      </div>
    </div>
    <div class="row">
      <div class="col-12 card">
        <div class="card-body">
          <h6 class="mg-b-0 tx-spacing--1 text-center">S-11011/12/2020-EHS<br>Ministry of Health nad family welfare<br>EHS section</h6>
          <p class="text-right">Dated 1st April 2020<br>Nirman Bhawan, New Delhi</p>
          <br>
          <h6 class="mg-b-0 tx-spacing--1 text-center"><u>Office Memorandum</u></h6>
          <h6 class="mg-b-0 tx-spacing--1">Subject : Reimbursement of OPD medicines to CS(MA) beneficiaries : Special Sanction in view of COVID-19 -reg.</h6>
          <p>In view of Corona Virus Disease (COVID-19) panademic, all out efforts are being made by the Goverment to contain the impact by instituting measures at community as well as individual level.</p>
          <p>Guidelines for maintaaining social distancing between individuals have already been issued by the Goverment. In the spirit of above guidelines, the undersigned is directed to state that CS(MA) beneficiaries getting medicines  for chronic diseases may purchase medicines from the local pharmacy till 30.04.2020, based on the prescription of Authorized Medical Attendant, already held by the beneficiaries.</p>
          <p>The Medical claim for reimbursement shall be submitted by the beneficiary to the concerned Ministry/Department/Organization for further processing.</p>
          <p class="text-right">[Bimal Kumar]<br>Deputy Secretary to the Goverment of India<br>011 2306 2677</p>
          <br>
          <p>Source link: <a href="https://www.mohfw.gov.in/pdf/20200401CSMAOM.pdf" target="_blank">Reimbursement of OPD medicines to CS(MA) beneficiaries (pdf)</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
