<div class="content content-fixed">
  <div class="container">
    <div class="d-sm-flex justify-content-between page-heading">
      <div>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb breadcrumb-title">
            <li class="breadcrumb-item">Helpline</li>
            <li class="breadcrumb-item"><a href="/helpline/awareness">Awareness</a></li>
            <li class="breadcrumb-item">Role of Frontline Workers in Prevemtion and Management of CORONA VIRUS</li>
          </ol>
        </nav>
        <h5 class="mg-b-0 tx-spacing--1">Role of Frontline Workers in Prevemtion and Management of CORONA VIRUS</h5>
      </div>
    </div>
    <div class="row">
      <div class="col-12 card">
        <div class="card-body">
          <h6 class="mg-b-0 tx-spacing--1">Role of Frontline Workers in Prevemtion and Management of CORONA VIRUS</h6>
          <br>
          <p>As you know a new respiratory disease called COVID-19 is spreading across the world. India has reported cases from states and the gpverment is trying to contain the spread of disease. As an important frontline worker, you play a major role in preventing its spread.</p>
          <p><b>Your Role as a Frontline Worker is two-fold:</b></p>
          <ol>
            <li>Spread key messages in the community about measures to prevent the infection.</li>
            <li>Take actions for early detection and referral of suspected COVID-19 cases.</li>
          </ol>
          <p>As a key member of the primary health care team, we want you and your family to be safe. Following the advice in this document will help you in staying safe.</p>
          <br>
          <p><b>What is COVID-19?</b></p>
          <p>COVID-19 is a disease caused by the "novel corona virus". Common symptoms are:</p>
          <ul>
            <li>Fever</li>
            <li>Dry cough</li>
            <li>Breathing difficulty</li>
            <li>Some patients also have aches and pains, nasal congestion, runny nose, sore throat or diarrhoea</li>
          </ul>
          <p>About 80% of confirmed cases recover from the disease without any serious complications. However, one out of every six people who gets COVID-19 can become seriously ill* and develop difficulty in breathing. In more severe cases, infection can cause severe pneumonia and other complications which can be treated only at higher level facilities (District Hospitals and above). In a few cases it may even cause death.</p>
          <br>
          <p><b>How does COVID-19 spread?</b></p>
          <p>COVID-19 spreads mainly by droplets produced as a result of coughing or sneezing of a COVID-19 infected person. This can happen in two ways:</p>
          <ul>
            <li><b>Direct close contact:</b> one can get the infection by being in close contact with COVID-19 patients (within one Metre of the infected person), especially if they do not cover their face when coughing or sneezing.</li>
            <li><b>Indirect contact:</b> the droplets survive on surfaces and clothes for many days. Therefore, touching any such infected surface or cloth and then touching one’s mouth, nose or eyes can transmit the disease.</li>
          </ul>
          <p>The incubation period of COVID 19 (time between getting the infection and showing symptoms) is 1 to 14 days</p>
          <p>Some people with the infection, but without any serious symptoms can also spread the disease.</p>
          <br>
          <p>Source link: <a href="https://www.mohfw.gov.in/pdf/PreventionandManagementofCOVID19FLWEnglish.pdf" target="_blank">Prevention and Management of COVID19 FLW (pdf)</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
