<div class="content content-fixed">
  <div class="container">
    <div class="d-sm-flex justify-content-between page-heading">
      <div>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb breadcrumb-title">
            <li class="breadcrumb-item">Helpline</li>
            <li class="breadcrumb-item"><a href="/helpline/awareness">Awareness</a></li>
            <li class="breadcrumb-item">Advisory for Human Resource Management of COVID-19</li>
          </ol>
        </nav>
        <h5 class="mg-b-0 tx-spacing--1">Advisory for Human Resource Management of COVID-19</h5>
      </div>
    </div>
    <div class="row">
      <div class="col-12 card">
        <div class="card-body">
          <p class="text-center">Ministry of Health & Family Welfare<br>Directorate General of Health Services<br>(EMR Division)</p>
          <br>
          <h6 class="mg-b-0 tx-spacing--1 text-center">Advisory for Human Resource Management of COVID-19</h6>
          <p>India reported its 1st case of COVID-19 on 30th January, 2020. It was a travel related case from Wuhan, China. Since then (as on 29th March, 2020), 979 confirmed cases and 25 deaths have been reported from 27 States/UTs. Although there is no evidence to widespread community transmission, 20 existing and 22 potential hotspots have been identified. The containment measures to break the cycle of transmission and clinical management of those affected would require large human resource (HR).</p>
          <p><b>Scope of Document</b></p>
          <p>This document provides guidance to the state on the human resource that can be mobilized for COVID-19 management along with possible role assignments and their training requirements.</p>
          <p><b>A. Human Resource</b></p>
          <ol>
            <li>
              The major areas where enhanced deployment of HR is required:
              <ol type="i">
                <li>
                  Surveillance
                  <ol type="a">
                    <li>Surveillance activities at grass root level.</li>
                    <li>Supervisory management of containment operations at grass root level.</li>
                    <li>Laboratory testing</li>
                    <li>Collection, collation and dissemination of data.</li>
                    <li>Risk Communication</li>
                  </ol>
                </li>
                <li>
                  Clinical management
                  <ol type="a">
                    <li>Clinical management of Suspect/confirmed cases in isolation wards.</li>
                    <li>Critical care management SARI cases in ICUs.</li>
                    <li>Patient transportation and referral</li>
                    <li>Cleaning, disinfection and waste management.</li>
                  </ol>
                </li>
                <li>Management of quarantine, isolation facilities, logistics and supply chain management</li>
                <li>Pyscho Social Care:</li>
              </ol>
            </li>
            <li>The HR pooled from various sources will be assigned roles to perform in the above mentioned areas.</li>
          </ol>
          <p><b>B. Capacity building</b></p>
          <ol type="i">
            <li>Such identified HR needs to be trained online using online training programs developed by Ministry of Health and Family Welfare (MoHFW).</li>
            <li>These trainings will be designed to suit requirement of each and every section of healthcare worker involved in the containment operations.</li>
            <li>
              These trainings for different target groups shall cover:
              <ol type="a">
                <li>Field surveillance, contact tracing, data management and reporting</li>
                <li>Sampling, packaging and shipment of specimen</li>
                <li>Hospital infection prevention and control including use of appropriate PPEs and biomedical waste management</li>
                <li>Clinical case management including ventilator management, critical care management</li>
                <li>Training of managers on managing quarantine and isolation facilities</li>
                <li>Community based training in Pyscho –social care.</li>
              </ol>
            </li>
            <li>Each State will identify and designate a Nodal officer for Training who will coordinate all training activities in the State.</li>
            <li>MoHFW will conduct trainings of Master trainers of organizationsfrom where field staff is being deployed. Responsibility of further dissemination will be that of concerned institution.</li>
            <li>The concerned organization will create a database of trained person who will disseminate and convey the information to all the districts through MoHFW.</li>
            <li>For COVID-19 management, the district administration will pool-in the requisite human resources.</li>
            <li>Such pooled human resources would stay in the containment zone till the containment operations are over</li>
            <li>Isolation areas: in addition to training all hospital staff, dentists and AYUSH practitioners available should also be trained.</li>
            <li>Retired doctors and other healthcare professionals should be identified to work in noncovid areas in hospitals in case of emergencies</li>
          </ol>
          <p><b>C. Suggested numbers of HR</b></p>
          <ol type="i">
            <li>For surveillance activities: Covid Warriors @ 1 per 250 population may be identified and trained.</li>
            <li>Quarantine facilities: these are meant to house asymptomatic cases. The number identified and trained should be equal to the number of Covid Warriors.</li>
            <li>Ventilator use: at least two times the number of ICU beds earmarked for covid-19 patients should be imparted one day training.</li>
          </ol>
          <br>
          <p>Source link: <a href="https://www.mohfw.gov.in/pdf/AdvisoryforHRmanagement.pdf" target="_blank">Advisory for HR management (pdf)</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
