.cumulative-chart-confirm-count{
  position: absolute;
  top: 38%;
  left: 14px;
}

.media{
  .media-body{
    margin-left: 6px;
    h6{
      font-size: 2.2rem;
      color: #ff0000;
      margin-bottom: 2px;
    }
    p{
      margin-bottom: 0px;
      font-size: 0.8rem;
      opacity: 0.5;
    }
  }
}