.cumulative-chart-confirm-count{
    position: absolute;
    top: 20%;
    left: 20%;
  }

  .media{
    .media-body{
      margin-left: 6px;
      h6{
        margin-bottom: 2px;
      }
      p{
        margin-bottom: 0px;
        font-size: 0.8rem;
        opacity: 0.5;
      }
    }
  }