<div class="content content-fixed">
  <div class="container">
    <div class="d-sm-flex justify-content-between page-heading">
      <div>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb breadcrumb-title">
            <li class="breadcrumb-item"><a href="#/helpline">Helpline</a></li>
            <li class="breadcrumb-item" aria-current="page">Awareness</li>
          </ol>
        </nav>
        <h5 class="mg-b-0 tx-spacing--1">Awareness</h5>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 mb-2">
        <div class="card">
          <div class="card-body blog">
            <img src="assets/images/image-1.jpg" alt="Advisory">
            <span class="badge badge-primary blog-badge mt-2">Advisory</span>
            <h6 class="mg-b-0 tx-spacing--1 mt-2 blog-title">Advisory on Social Distancing Measure in view of spread of COVID-19 disease</h6>
            <p class="blog-date mb-2">17th March, 2020</p>
            <p class="mb-2 blog-body">Social distancing is a non-pharmaceutical infection prevention and control intervention
            implemented to avoid/decrease contact between those who are infected with a disease causing
            pathogen and those who are not, so as to stop or slow down the rate and extent of disease
            transmission in a community. This eventually leads to decrease in spread, morbidity and
            mortality due to the disease.</p>
            <a href="#/helpline/advisor">Read more</a>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 mb-2">
        <div class="card">
          <div class="card-body blog">
            <img src="assets/images/image-2.jpg" alt="Guidelines">
            <span class="badge badge-warning blog-badge mt-2">Guidelines</span>
            <h6 class="mg-b-0 tx-spacing--1 mt-2 mb-2 blog-title">COVID-19: GUIDELINES ON DEAD BODY MANAGEMENT</h6>
            <p class="blog-date mb-2">15th March, 2020</p>
            <p class="mb-2 blog-body">There are currently over 100 laboratory confirmed cases and two deaths due to Novel Coronavirus disease (COVID-19) in India. Being a new disease there is knowledge gap on how to dispose of dead body of a suspect or confirmed case of COVID-19.</p>
            <a href="#/helpline/guidelines">Read more</a>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 mb-2">
        <div class="card">
          <div class="card-body blog">
            <img src="assets/images/image-3.jpg" alt="Additional Advisory">
            <span class="badge badge-info blog-badge mt-2">Additional advisory</span>
            <h6 class="mg-b-0 tx-spacing--1 mt-2 mb-2 blog-title">Advisory on Social Distancing Measure in view of spread of COVID-19 disease</h6>
            <p class="blog-date mb-2">17th March, 2020</p>
            <p class="mb-2 blog-body">Government of India Ministry of Health & FW<br>Additional Travel Advisory for Novel Coronavirus Disease (COVID-19)</p>
            <a href="#/helpline/additional-advisory">Read more</a>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 mb-2">
        <div class="card">
          <div class="card-body blog">
            <img src="assets/images/image-4.jpg" alt="Notify">
            <span class="badge badge-primary blog-badge mt-4">Notification</span>
            <h6 class="mg-b-0 tx-spacing--1 mt-2 mb-2 blog-title">Guidelines for notifying COVID-19 affected persons by Private Institutions</h6>
            <p class="blog-date mb-2">17th March, 2020</p>
            <p class="mb-2 blog-body">In the wake of the prevailing COVID-19 situation and in order to strengthen the containment measures, it is of utmost importance that each and every case (suspects/confirmed) of COVID-19 is isolated and provided appropriate treatment and their contacts are traced at the earliest to break the chain of transmission. It is important that support and cooperation of private sector is enlisted, in this regard.</p>
            <a href="#/helpline/notifying-persons">Read more</a>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 mb-2">
        <div class="card">
          <div class="card-body blog">
            <img src="assets/images/image-5.jpg" alt="Procedure">
            <span class="badge badge-success blog-badge mt-2">Procedure</span>
            <h6 class="mg-b-0 tx-spacing--1 mt-2 mb-2 blog-title">Standard Operating Procedure for Passenger Movement post Disembarkation</h6>
            <p class="blog-date mb-2">17th March, 2020</p>
            <p class="mb-2 blog-body">Ministry of Civil Aviation would instruct the Airport Authorities to stagger the arrival of flights from COVID19 affected areas so that the flow of passengers is maintained for the screening of passengers.</p>
            <a href="#/helpline/procedure-for-passenger">Read more</a>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 mb-2">
        <div class="card">
          <div class="card-body blog">
            <img src="assets/images/image-6.jpg" alt="Prevention">
            <span class="badge badge-danger blog-badge mt-2">Prevention</span>
            <h6 class="mg-b-0 tx-spacing--1 mt-2 mb-2 blog-title">Preventive measures to be taken to contain the spread of Novel Coronavirus (COVID-19)</h6>
            <p class="blog-date mb-2">17th March, 2020</p>
            <p class="mb-2 blog-body">In order to contain the spread of Novel Coronavirus (COVID-19), some precautionary measures are required to be taken by all the employees and the Ministries/Departments. In this regard, it has been decided to issue the following advisory for the well-being of Government employees and in public interest.</p>
            <a href="#/helpline/preventive-measures">Read more</a>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 mb-2">
        <div class="card">
          <div class="card-body blog">
            <img src="assets/images/image-7.jpg" alt="Strategy">
            <span class="badge badge-success blog-badge mt-2">Strategy</span>
            <h6 class="mg-b-0 tx-spacing--1 mt-2 mb-2 blog-title">INDIAN COUNCIL OF MEDICAL RESEARCH DEPARTMENT OF HEALTH RESEARCH Strategy of COVID19 testing in india</h6>
            <p class="blog-date mb-2">17th March, 2020</p>
            <p class="mb-2 blog-body">WHO declared an outbreak of febrile respiratory illness of unknown etiology in December 2019 from Wuhan, Hubei province of China. Since its emergence, the disease his rapidly spread to neighboring provinces of China as well 151 other countries mainly through International travel. Infection is spread through droplets of an infected patient generated by coughing and sneezing or through prolonged contact with infected patients.</p>
            <a href="#/helpline/strategy-covid19">Read more</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
