<div class="d-sm-flex justify-content-between page-heading">
  <div>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb breadcrumb-title">
        <li class="breadcrumb-item"><a>Helpline</a></li>
        <li class="breadcrumb-item active" aria-current="page">Awareness</li>
      </ol>
    </nav>
    <h5 class="mg-b-0 tx-spacing--1">Awareness</h5>
  </div>
</div>
<div class="row row-xs">
  <div class="col-sm-6 col-md-4 col-lg-4 col-4">
    <div class="card">
      <div class="card-body blog">
        <span class="badge badge-primary blog-badge">Advisory</span>
        <h6 class="mg-b-0 tx-spacing--1 mt-2 mb-2 blog-title">Advisory on Social Distancing Measure in view of spread of COVID-19 disease</h6>
        <p class="mb-2 blog-body">Social distancing is a non-pharmaceutical infection prevention and control intervention
        implemented to avoid/decrease contact between those who are infected with a disease causing
        pathogen and those who are not, so as to stop or slow down the rate and extent of disease
        transmission in a community. This eventually leads to decrease in spread, morbidity and
        mortality due to the disease.</p>
        <button type="button" class="btn btn-link" [routerLink]="['#/helpline/advisor']" routerLinkActive="active">Read more</button>
        <a  href="#/helpline/advisor">Read more</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4 col-lg-4 col-4">
    <div class="card">
      <div class="card-body blog">
        <span class="badge badge-primary blog-badge">Guidelines</span>
        <h6 class="mg-b-0 tx-spacing--1 mt-2 mb-2 blog-title">COVID-19: GUIDELINES ON DEAD BODY MANAGEMENT</h6>
        <p class="mb-2 blog-body">There are currently over 100 laboratory confirmed cases and two deaths due to Novel Coronavirus disease (COVID-19) in India. Being a new disease there is knowledge gap on how to dispose of dead body of a suspect or confirmed case of COVID-19.</p>
        <button type="button" class="btn btn-link" [routerLink]="['/guidelines']">Read more</button>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4 col-lg-4 col-4">
    <div class="card">
      <div class="card-body blog">
        <span class="badge badge-primary blog-badge">Additional advisory</span>
        <h6 class="mg-b-0 tx-spacing--1 mt-2 mb-2 blog-title">Advisory on Social Distancing Measure in view of spread of COVID-19 disease</h6>
        <p class="mb-2 blog-body">Government of India Ministry of Health & FW<br>Additional Travel Advisory for Novel Coronavirus Disease (COVID-19)</p>
        <button type="button" class="btn btn-link" [routerLink]="['/additional-advisory']">Read more</button>
      </div>
    </div>
  </div>
</div>
