<div class="content content-fixed">
  <div class="container">
    <div class="d-sm-flex justify-content-between page-heading">
      <div>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb breadcrumb-title">
            <li class="breadcrumb-item">Helpline</li>
            <li class="breadcrumb-item" aria-current="page">Awareness</li>
          </ol>
        </nav>
        <h5 class="mg-b-0 tx-spacing--1">Awareness</h5>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 mb-2">
        <div class="card">
          <div class="card-body blog">
            <img src="assets/images/image-21.jpg" alt="press-information">
            <span class="badge badge-success blog-badge mt-2">Press Information</span>
            <h6 class="mg-b-0 tx-spacing--1 mt-2 blog-title">Press Information Bureau Government of India</h6>
            <p class="blog-date mb-2">26th March, 2020</p>
            <p class="blog-body mb-2">Finance Minister announces Rs 1.70 Lakh Crore relief package under Pradhan Mantri Garib Kalyan Yojana for the poor to help them fight the battle against Corona Virus</p>
            <a href="/helpline/awareness/press-information">Read more</a>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 mb-2">
        <div class="card">
          <div class="card-body blog">
            <img src="assets/images/image-20.jpg" alt="gazette">
            <span class="badge badge-danger blog-badge mt-2">Gazette</span>
            <h6 class="mg-b-0 tx-spacing--1 mt-2 blog-title">MINISTRY OF HEALTH AND FAMILY WELFARE</h6>
            <p class="blog-date mb-2">26th March, 2020</p>
            <p class="blog-body mb-2">Whereas, the Central Government is satisfied that retail sale of drugs to the doorstep of consumers is essential to meet the requirements of emergency arising due to pandemic COVID-19 and in the public interest, it is necessary and expedient to regulate the sale and distribution of drugs for their delivery to the consumers;</p>
            <a href="/helpline/awareness/gazette">Read more</a>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 mb-2">
        <div class="card">
          <div class="card-body blog">
            <img src="assets/images/image-19.jpg" alt="telemedicine">
            <span class="badge badge-info blog-badge mt-2">Telemedicine</span>
            <h6 class="mg-b-0 tx-spacing--1 mt-2 blog-title">Telemedicine Practice Guidelines</h6>
            <p class="blog-date mb-2">25th March, 2020</p>
            <p class="blog-body mb-2">The delivery of health care services, where distance is a critical factor, by all health care professionals using information and communication technologies for the exchange of valid information for diagnosis, treatment and prevention of disease and injuries, research and evaluation, and for the continuing education of health care providers, all in the interests of advancing the health of individuals and their communities.</p>
            <a href="/helpline/awareness/telemedicine">Read more</a>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 mb-2">
        <div class="card">
          <div class="card-body blog">
            <img src="assets/images/image-16.jpg" alt="role">
            <span class="badge badge-success blog-badge mt-2">Role</span>
            <h6 class="mg-b-0 tx-spacing--1 mt-2 blog-title">Role of Frontline Workers in Prevemtion and Management of CORONA VIRUS</h6>
            <p class="blog-date mb-2">25th March, 2020</p>
            <p class="blog-body mb-2">As you know a new respiratory disease called COVID-19 is spreading across the world. India has reported cases from states and the gpverment is trying to contain the spread of disease. As an important frontline worker, you play a major role in preventing its spread.</p>
            <a href="/helpline/awareness/role">Read more</a>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 mb-2">
        <div class="card">
          <div class="card-body blog">
            <img src="assets/images/image-17.jpg" alt="guideline measures">
            <span class="badge badge-warning blog-badge mt-2">Guideline measures</span>
            <h6 class="mg-b-0 tx-spacing--1 mt-2 blog-title">Guidelines on the measures to be taken by Ministries/ Departments of Government of India</h6>
            <p class="blog-date mb-2">24th March, 2020</p>
            <p class="blog-body mb-2">Offices of the Government of India, its Autonomous/ Subordinate Offices and Public Corporations shall remain closed. Exceptions: Defence, central armed police forces, treasury, public utilities (including petroleum, CNG, LPG, PNG), disaster management, power generation and transmission units, post offices, National Informatics Centre, Early Warning Agencies</p>
            <a href="/helpline/awareness/guideline-measures">Read more</a>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 mb-2">
        <div class="card">
          <div class="card-body blog">
            <img src="assets/images/image-18.jpg" alt="outbreak">
            <span class="badge badge-primary blog-badge mt-2">Outbreak</span>
            <h6 class="mg-b-0 tx-spacing--1 mt-2 blog-title">D.O. Letter from Secretary, Human Resource Development to Chief Secretaries for temporary Medical camps in Jawahar Navodaya Vidyalayas</h6>
            <p class="blog-date mb-2">24th March, 2020</p>
            <p class="blog-body mb-2">In the backdrop of the COVID 19 outbreak, temporary medical camps may be required in various parts of the country. In this connection, I would like to inform you that the infrastructure available in the Jawahar Navodaya Vidyalayas (JNVs) which are residential schools functioning under the Ministry of Human Resource Development, could be utilised for the purpose of setting up temporary camps for isolation or medical facility.</p>
            <a href="/helpline/awareness/outbreak">Read more</a>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 mb-2">
        <div class="card">
          <div class="card-body blog">
            <img src="assets/images/image-15.jpg" alt="Office Memorandum">
            <span class="badge badge-success blog-badge mt-2">Office Memorandum</span>
            <h6 class="mg-b-0 tx-spacing--1 mt-2 blog-title">Closing of Immigration Check Posts (ICPs) for all incoming passenger traffic</h6>
            <p class="blog-date mb-2">23rd March, 2020</p>
            <p class="blog-body mb-2">In continuation of restrictions and advisories including those issued vide orders dated 13th & 14th March, 2020 by MHA and those dated 19th & 21st March, 2020 by Bol, the undersigned is directed to convey the orders of Central Government to stop all incoming passenger traffic on all 107 Immigration Check Posts which includes all Airport ICPs, all Seaport ICPs, all Land Port ICPs, all Rail Port ICPs and all River Port ICPs in view of the spread of COVID-19. </p>
            <a href="/helpline/awareness/office-memorandum">Read more</a>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 mb-2">
        <div class="card">
          <div class="card-body blog">
            <img src="assets/images/image-14.jpg" alt="Office Order">
            <span class="badge badge-danger blog-badge mt-2">Office Order</span>
            <h6 class="mg-b-0 tx-spacing--1 mt-2 blog-title">Government of India Ministry of Shipping (Ports Wing)</h6>
            <p class="blog-date mb-2">23rd March, 2020</p>
            <p class="blog-body mb-2">In, order to contain the spread of Coronavirus, various State Governments/Union, Territories have issued prohibitory orders, imposing restrictions on non-essential services.</p>
            <a href="/helpline/awareness/office-order">Read more</a>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 mb-2">
        <div class="card">
          <div class="card-body blog">
            <img src="assets/images/image-11.png" alt="infection">
            <span class="badge badge-primary blog-badge mt-2">Infection</span>
            <h6 class="mg-b-0 tx-spacing--1 mt-2 blog-title">Advisory on the use of hydroxy-chloroquine as prophylaxis for SARS-CoV-2 infection</h6>
            <p class="blog-date mb-2">23rd March, 2020</p>
            <p class="blog-body mb-2">The National Task force for COVID-19 constituted by Indian Council of Medical Research recommends the use of hydroxy-chloroquine for prophylaxis of SARS-CoV-2 infection for high risk population. Copy is annexed.</p>
            <a href="/helpline/awareness/infection">Read more</a>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 mb-2">
        <div class="card">
          <div class="card-body blog">
            <img src="assets/images/image-12.jpg" alt="infection">
            <span class="badge badge-warning blog-badge mt-2">Defeat</span>
            <h6 class="mg-b-0 tx-spacing--1 mt-2 blog-title">Kids, Vaayu & Corona2: Pandemic Defeated (A comic series for COVID-19 Prevention)</h6>
            <p class="blog-date mb-2">22nd March, 2020</p>
            <p class="blog-body mb-2">There is growing concern and perceived threat about the Coronavirus amongcommon citizens. The population of all ages is making  use of  available  media  suchas newspapers, social media and television to make themselves  aware.  From adultsto children, most of the discussion these days are centering around the Coronavirus.But for children, especially those below the age of   14   years,   Coronavirus   hasbecome a cause of concern as they are not able to comprehend the talks and gettingworried. The parent should talk to them and resolve their queries so they do notpanic.</p>
            <a href="/helpline/awareness/infection">Read more</a>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 mb-2">
        <div class="card">
          <div class="card-body blog">
            <img src="assets/images/image-13.jpg" alt="infection">
            <span class="badge badge-info blog-badge mt-2">Secretary</span>
            <h6 class="mg-b-0 tx-spacing--1 mt-2 blog-title">CABINET SECRETARY GOVERNMENT OF INDIA</h6>
            <p class="blog-date mb-2">22nd March, 2020</p>
            <p class="blog-body mb-2">As you are aware, Government of India in coordination with State Governments has taken several steps to manage and contain the spread of Corona virus COVID-19. These steps have been taken based on the emerging global and domestic scenario, the pattern of spread of COVID-19 witnessed in various countries and expert advice given by eminent doctors and scientists. These include, inter alia, restrictions on international travel imposed in a graded manner, setting up testing labs through the length and breadth of the country, identifying isolation and quarantine facilities, screening and contact tracing, promoting social distancing and framing suitable guidelines in this regard etc.</p>
            <a href="/helpline/awareness/secretary">Read more</a>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 mb-2">
        <div class="card">
          <div class="card-body blog">
            <img src="assets/images/image-10.png" alt="Order">
            <span class="badge badge-danger blog-badge mt-2">Order</span>
            <h6 class="mg-b-0 tx-spacing--1 mt-2 blog-title">The test to be conducted by a laboratory which has NABL accreditation for real-time PCR assay for RNA virus</h6>
            <p class="blog-date mb-2">21st March, 2020</p>
            <p class="blog-body mb-2">The guidelines laid down by Indian Council of Medical Research for COVID-19 testing in private laboratories in India (as annexed) is notified vide Clause (i) and (1) of sub-section 2 of Section 10 of DM Act, 2005, under the power delegated vide order F. NO. 40-2/2020-DM1 (A); dated 11th March, 2020 for strict follow up and compliance.</p>
            <a href="/helpline/awareness/order">Read more</a>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 mb-2">
        <div class="card">
          <div class="card-body blog">
            <img src="assets/images/image-9.png" alt="Revised Strategy">
            <span class="badge badge-success blog-badge mt-2">Revised Strategy</span>
            <h6 class="mg-b-0 tx-spacing--1 mt-2 blog-title">Revised Strategy of COVID19 testing in India (Version 3, dated 20/03/2020)</h6>
            <p class="blog-date mb-2">21st March, 2020</p>
            <p class="blog-body mb-2">WHO declared an outbreak of febrile respiratory illness of unknown etiology in December 2019 from Wuhan, Hubei province of China. Since its emergence, the disease rapidly spread to neighboring provinces of China as well as to 182 other countries. Infection is spread through droplets of an infected patient generated by coughing and sneezing or through prolonged contact with infected patients.</p>
            <a href="/helpline/awareness/revised-strategy">Read more</a>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 mb-2">
        <div class="card">
          <div class="card-body blog">
            <img src="assets/images/image-8.jpg" alt="Emergency">
            <span class="badge badge-danger blog-badge mt-2">Emergency</span>
            <h6 class="mg-b-0 tx-spacing--1 mt-2 blog-title">Mock Drill for Emergency Response for Handling COVID -19 cases in Govt Hospitals</h6>
            <p class="blog-date mb-2">20th March, 2020</p>
            <p class="blog-body mb-2">In addition to using the appropriate PPE, frequent hand hygiene and respiratory hygiene should always be performed. PPE should be discarded in an appropriate waste container after use, and hand hygiene should be performed before putting on and after taking off PPE.</p>
            <a href="/helpline/awareness/emergency">Read more</a>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 mb-2">
        <div class="card">
          <div class="card-body blog">
            <img src="assets/images/image-1.jpg" alt="Advisory">
            <span class="badge badge-primary blog-badge mt-2">Advisory</span>
            <h6 class="mg-b-0 tx-spacing--1 mt-2 blog-title">Advisory on Social Distancing Measure in view of spread of COVID-19 disease</h6>
            <p class="blog-date mb-2">17th March, 2020</p>
            <p class="mb-2 blog-body">Social distancing is a non-pharmaceutical infection prevention and control intervention
            implemented to avoid/decrease contact between those who are infected with a disease causing
            pathogen and those who are not, so as to stop or slow down the rate and extent of disease
            transmission in a community. This eventually leads to decrease in spread, morbidity and
            mortality due to the disease.</p>
            <a href="/helpline/awareness/advisor">Read more</a>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 mb-2">
        <div class="card">
          <div class="card-body blog">
            <img src="assets/images/image-2.jpg" alt="Guidelines">
            <span class="badge badge-warning blog-badge mt-2">Guidelines</span>
            <h6 class="mg-b-0 tx-spacing--1 mt-2 mb-2 blog-title">COVID-19: GUIDELINES ON DEAD BODY MANAGEMENT</h6>
            <p class="blog-date mb-2">15th March, 2020</p>
            <p class="mb-2 blog-body">There are currently over 100 laboratory confirmed cases and two deaths due to Novel Coronavirus disease (COVID-19) in India. Being a new disease there is knowledge gap on how to dispose of dead body of a suspect or confirmed case of COVID-19.</p>
            <a href="/helpline/awareness/guidelines">Read more</a>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 mb-2">
        <div class="card">
          <div class="card-body blog">
            <img src="assets/images/image-3.jpg" alt="Additional Advisory">
            <span class="badge badge-info blog-badge mt-2">Additional advisory</span>
            <h6 class="mg-b-0 tx-spacing--1 mt-2 mb-2 blog-title">Additional Travel Advisory for Novel Coronavirus Disease (COVID-19)</h6>
            <p class="blog-date mb-2">17th March, 2020</p>
            <p class="mb-2 blog-body">Government of India Ministry of Health & FW<br>Additional Travel Advisory for Novel Coronavirus Disease (COVID-19)</p>
            <a href="/helpline/awareness/additional-advisory">Read more</a>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 mb-2">
        <div class="card">
          <div class="card-body blog">
            <img src="assets/images/image-4.jpg" alt="Notify">
            <span class="badge badge-primary blog-badge mt-2">Notification</span>
            <h6 class="mg-b-0 tx-spacing--1 mt-2 mb-2 blog-title">Guidelines for notifying COVID-19 affected persons by Private Institutions</h6>
            <p class="blog-date mb-2">17th March, 2020</p>
            <p class="mb-2 blog-body">In the wake of the prevailing COVID-19 situation and in order to strengthen the containment measures, it is of utmost importance that each and every case (suspects/confirmed) of COVID-19 is isolated and provided appropriate treatment and their contacts are traced at the earliest to break the chain of transmission. It is important that support and cooperation of private sector is enlisted, in this regard.</p>
            <a href="/helpline/awareness/notifying-persons">Read more</a>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 mb-2">
        <div class="card">
          <div class="card-body blog">
            <img src="assets/images/image-5.jpg" alt="Procedure">
            <span class="badge badge-success blog-badge mt-2">Procedure</span>
            <h6 class="mg-b-0 tx-spacing--1 mt-2 mb-2 blog-title">Standard Operating Procedure for Passenger Movement post Disembarkation</h6>
            <p class="blog-date mb-2">17th March, 2020</p>
            <p class="mb-2 blog-body">Ministry of Civil Aviation would instruct the Airport Authorities to stagger the arrival of flights from COVID19 affected areas so that the flow of passengers is maintained for the screening of passengers.</p>
            <a href="/helpline/awareness/procedure-for-passenger">Read more</a>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 mb-2">
        <div class="card">
          <div class="card-body blog">
            <img src="assets/images/image-6.jpg" alt="Prevention">
            <span class="badge badge-danger blog-badge mt-2">Prevention</span>
            <h6 class="mg-b-0 tx-spacing--1 mt-2 mb-2 blog-title">Preventive measures to be taken to contain the spread of Novel Coronavirus (COVID-19)</h6>
            <p class="blog-date mb-2">17th March, 2020</p>
            <p class="mb-2 blog-body">In order to contain the spread of Novel Coronavirus (COVID-19), some precautionary measures are required to be taken by all the employees and the Ministries/Departments. In this regard, it has been decided to issue the following advisory for the well-being of Government employees and in public interest.</p>
            <a href="/helpline/awareness/preventive-measures">Read more</a>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 mb-2">
        <div class="card">
          <div class="card-body blog">
            <img src="assets/images/image-7.jpg" alt="Strategy">
            <span class="badge badge-success blog-badge mt-2">Strategy</span>
            <h6 class="mg-b-0 tx-spacing--1 mt-2 mb-2 blog-title">INDIAN COUNCIL OF MEDICAL RESEARCH DEPARTMENT OF HEALTH RESEARCH Strategy of COVID19 testing in india</h6>
            <p class="blog-date mb-2">17th March, 2020</p>
            <p class="mb-2 blog-body">WHO declared an outbreak of febrile respiratory illness of unknown etiology in December 2019 from Wuhan, Hubei province of China. Since its emergence, the disease his rapidly spread to neighboring provinces of China as well 151 other countries mainly through International travel. Infection is spread through droplets of an infected patient generated by coughing and sneezing or through prolonged contact with infected patients.</p>
            <a href="/helpline/awareness/strategy-covid19">Read more</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
