<div class="content content-fixed">
  <div class="container">
    <div class="d-sm-flex justify-content-between page-heading">
      <div>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb breadcrumb-title">
            <li class="breadcrumb-item">Helpline</li>
            <li class="breadcrumb-item"><a href="/helpline/awareness">Awareness</a></li>
            <li class="breadcrumb-item">COVID-19: Guidelines on disinfection of common public places including offices</li>
          </ol>
        </nav>
        <h5 class="mg-b-0 tx-spacing--1">COVID-19: Guidelines on disinfection of common public places including offices</h5>
      </div>
    </div>
    <div class="row">
      <div class="col-12 card">
        <div class="card-body">
          <h6 class="mg-b-0 tx-spacing--1 text-center">COVID-19: Guidelines on disinfection of common public places including offices</h6>
          <br>
          <p><b>Scope:</b> This document aims to provide interim guidance about the environmental cleaning/decontamination of common public places including offices in areas reporting COVID-19</p>
          <p>Coronavirus Disease 2019 (COVID -19) is an acute respiratory disease caused by a novel Coronavirus (SARS-CoV-2), transmitted in most instances through respiratory droplets, direct contact with cases and also through contaminated surfaces/objects. Though the virus survives on environmental surfaces for varied period of time, it gets easily inactivated by chemical disinfectants.</p>
          <p>In view of the above, the following guidelines are to be followed, especially in areas reporting COVID-19. For ease of implementation the guideline divided these areas into (i) indoor areas, (ii) outdoor areas and (iii) public toilets.</p>
          <ol>
            <li>
              <b>Indoor areas including office spaces</b><br>
              <p>Office spaces, including conference rooms should be cleaned every evening after office hours or early in the morning before the rooms are occupied. If contact surface is visibly dirty, it should be cleaned with soap and water prior to disinfection. Prior to cleaning, the worker should wear disposable rubber boots, gloves (heavy duty), and a triple layer mask.</p>
              <ul>
                <li>Start cleaning from cleaner areas and proceed towards dirtier areas.</li>
                <li>All indoor areas such as entrance lobbies, corridors and staircases, escalators, elevators, security guard booths, office rooms, meeting rooms, cafeteria should be mopped with a disinfectant with 1% sodium hypochlorite or phenolic disinfectants. The guidelines for preparing fresh 1% sodium hypochlorite solution is at Annexure I</li>
                <li>High contact surfaces such elevator buttons, handrails / handles and call buttons, escalator handrails, public counters, intercom systems, equipment like telephone, printers/scanners, and other office machines should be cleaned twice daily by mopping with a linen/absorbable cloth soaked in 1% sodium hypochlorite.Frequently touched areas like table tops, chair handles, pens, diary files, keyboards, mouse, mouse pad, tea/coffee dispensing machines etc. should specially be cleaned</li>
                <li>For metallic surfaces like door handles, security locks, keys etc. 70% alcohol can be used to wipe down surfaces where the use of bleach is not suitable.</li>
                <li>Hand sanitizing stations should be installed in office premises (especially at the entry) and near high contact surfaces.</li>
                <li>In a meeting/conference/office room, if someone is coughing, without following respiratory etiquettes or mask, the areas around his/her seat should be vacated and cleaned with 1% sodium hypochlorite.</li>
                <li>Carefully clean the equipment used in cleaning at the end of the cleaning process.</li>
                <li>Remove PPE, discard in a disposable PPE in yellow disposable bag and wash hands with soap and water.</li>
              </ul>
              <p>In addition, all employees should consider cleaning the work area in front of them with a disinfecting wipe prior to use and sit one seat further away from others, if possible</p>
            </li>
            <li>
              <b>Outdoor areas</b><br>
              Outdoor areas have less risk then indoor areas due to air currents and exposure to sunlight. These include bus stops, railway platforms, parks, roads, etc. Cleaning and disinfection efforts should be targeted to frequently touched/contaminated surfaces as already detailed above.
            </li>
            <li>
              <b>Public toilets</b><br>
              Sanitary workers must use separate set of cleaning equipment for toilets (mops, nylon scrubber) and separate set for sink and commode). They should always wear disposable protective gloves while cleaning a toilet.
              <ul>
                <li>Do not use disinfectants spray on potentially highly contaminated areas (such as toilet bowl or surrounding surfaces) as it may create splashes which can further spread the virus.</li>
                <li>To prevent cross contamination, discard cleaning material made of cloth (mop and wiping cloth) in appropriate bags after cleaning and disinfecting. Wear new pair of gloves and fasten the bag.</li>
                <li>Disinfect all cleaning equipment after use and before using in other area</li>
                <li>Disinfect buckets by soaking in bleach solution or rinse in hot water</li>
              </ul>
            </li>
            <li><b>Personal Protective Equipment (PPE):</b> Wear appropriate PPE which would include the following while carrying out cleaning and disinfection work.
              <ul>
                <li>Wear disposable rubber boots, gloves (heavy duty), and a triple layer mask</li>
                <li>Gloves should be removed and discarded damaged, and a new pair worn.</li>
                <li>All disposable PPE should be removed and discarded after cleaning activities are completed.</li>
                <li>Hands should be washed with soap and water immediately after each piece of PPE is removed, following completion of cleaning. (Refer to Annexure II: Steps of Hand Hygiene)</li>
              </ul>
            </li>
          </ol>
          <p>Masks are effective if worn according to instructions and properly fitted. Masks should be discarded and changed if they become physically damaged or soaked. (Annexure-III: Guidelines for use of mask)</p>
          <br>
          <p>Source link: <a href="https://www.mohfw.gov.in/pdf/Guidelinesondisinfectionofcommonpublicplacesincludingoffices.pdf" target="_blank">Guidelines on disinfection of common public places including offices (pdf)</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
