<div class="content content-fixed">
  <div class="container">
    <div class="d-sm-flex justify-content-between page-heading">
      <div>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb breadcrumb-title">
            <li class="breadcrumb-item">Helpline</li>
            <li class="breadcrumb-item"><a href="/helpline/awareness">Awareness</a></li>
            <li class="breadcrumb-item">Closing of Immigration Check Posts (ICPs) for all incoming passenger traffic.</li>
          </ol>
        </nav>
        <h5 class="mg-b-0 tx-spacing--1">Closing of Immigration Check Posts (ICPs) for all incoming passenger traffic.</h5>
      </div>
    </div>
    <div class="row">
      <div class="col-12 card">
        <div class="card-body">
          <h6 class="mg-b-0 tx-spacing--1 float-right">Heck Most Immediate</h6>
          <br><br>
          <h6 class="mg-b-0 tx-spacing--1 text-center">F.No. 25022/12/2017-Imm <br> Government of India <br> Ministry of Home Affairs <br> Foreigners Division <br> (Immigration Section) <br> Hall No.18, Open Gallery, Second Floor, Major Dhyan Chand National Stadium, New Delhi- 01, Dt. : 23.03.2020</h6>
          <br>
          <h6 class="mg-b-0 tx-spacing--1 text-center"><u>Office Memorandum</u></h6>
          <p>Subject: Closing of Immigration Check Posts (ICPs) for all incoming passenger traffic.</p>
          <p>In continuation of restrictions and advisories including those issued vide orders dated 13th & 14th March, 2020 by MHA and
          those dated 19th & 21st March, 2020 by Bol, the undersigned is directed to convey the orders of Central Government to stop
          all incoming passenger traffic on all 107 Immigration Check Posts which includes all Airport ICPs, all Seaport ICPs, all
          Land Port ICPs, all Rail Port ICPs and all River Port ICPs in view of the spread of COVID-19.</p>
          <p>2. 2. Vehicles/ Trains carrying goods for trade or essential goods and supplies are exempted from this prohibition along with
          their crew, driver, helper, cleaner etc. subject to their thorough screening by medical staff for COVID-19</p>
          <p>3. This issues with the approval of the competent authority.</p>
          <h6 class="float-right">(Shamim Ahmad) <br> Under Secretary to the Govt. of India <br> Tele No. 011-23077502 <br> M. No. 09811355433 <br> Email: Shamim.ahmed@mha.gov.in</h6>
          <p class="clearfix"></p>
          <b>To,</b>
          <ol>
              <li>Secretary Ministry of External Affairs.</li>
              <li>Secretary Ministry of Civil Aviation.</li>
              <li>Secretary Ministry of Shipping.</li>
              <li>Secretary Ministry of Road Highways and Transport.</li>
              <li>Secretary Ministry of Health and Family Welfare.</li>
              <li>Secretary Ministry of Tourism.</li>
              <li>Sh. V.K. Yadav, Chairman, Railway Board.</li>
              <li>Chief Secretaries and Directors General of Police of all States and UTs.</li>
              <li>All Director General (CISF, BSF, ITBP, SSB, CRPF, GRP, ASSAM RIFLES and NSG).</li>
              <li>Sh. Rajeev Ranjan Verma, Additional Director, Bureau of Immigration (Bol).</li>
              <li>Sh. Vikram Doraiswami, Additional Secretary, MEA.</li>
              <li>Sh. Amitabh Kumar, DG Shipping.</li>
              <li>Sh. A. K. Bamba, Chairman, LPAI.</li>
              <li>Sh. Lay Agarwal, Joint secretary, Ministry of Health and Family Welfare.</li>
              <li>Ms. Rubina Ali, Joint Secretary, Ministry of Civil Aviation.</li>
              <li>Sh. Piyush Goyal, Joint Secretary, Border Management, MHA.</li>
              <li>Sh. Kailash Kumar Aggarwal, Joint Secretary, Ministry of Shipping.</li>
              <li>Sh. Rakesh Kumar Verma, Joint Secretary, Ministry of Tourism.</li>
              <li>Sh. Satyendra Garg, Joint Secretary (NE), MHA.</li>
              <li>Sh. Pankaj Agrawal Joint Secretary Cabinet Secretariat.</li>
              <li>Director DGCA.</li>
          </ol>

          <p><b>Copy to for information,</b></p>
          <ol>
              <li>Sr. PPS to Union Home Secretary.</li>
              <li>Sr. PPS to Secretary (Border Management,) MHA.</li>
              <li>Sr. PPS to Additional Secretary (Foreigners), MHA.</li>
              <li>PPS to Director (I), Foreigners Division MHA.</li>
          </ol>
          <p>Source link: <a href="https://www.mohfw.gov.in/pdf/ClosingofImmigrationCheckPosts.pdf" target="_blank">Closing of Immigration Check Posts (pdf)</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
