<div class="content content-fixed">
  <div class="container">
    <div class="d-sm-flex justify-content-between page-heading">
      <div>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb breadcrumb-title">
            <li class="breadcrumb-item">Helpline</li>
            <li class="breadcrumb-item"><a href="/helpline/awareness">Awareness</a></li>
            <li class="breadcrumb-item">Telemedicine Practice Guidelines</li>
          </ol>
        </nav>
        <h5 class="mg-b-0 tx-spacing--1">Telemedicine Practice Guidelines</h5>
      </div>
    </div>
    <div class="row">
      <div class="col-12 card">
        <div class="card-body">
          <h6 class="mg-b-0 tx-spacing--1 text-center">BOARD OF GOVERNORS<br>In supersession of the Medical Council of India</h6>
          <br>
          <h6 class="mg-b-0 tx-spacing--1 text-center">Telemedicine Practice Guidelines<br>Enabling Registered Medical Practitioners to Provide Healthcare Using Telemedicine</h6>
          <br>
          <p class="text-center">25th March, 2020</p>
          <br>
          <p><b>TELEMEDICINE</b></p>
          <p>'The delivery of health care services, where distance is a critical factor, by all health care professionals using information and communication technologies for the exchange of valid information for diagnosis, treatment and prevention of disease and injuries, research and evaluation, and for the continuing education of health care providers, all in the interests of advancing the health of individuals and their communities.'</p>
          <p><b>TELEHEALTH</b></p>
          <p>'The delivery and facilitation of health and health-related services including medical care, provider and patient education, health information services, and self-care via telecommunications and digital communication technologies.'</p>
          <p><b>REGISTERED MEDICAL PRACTITIONER</b></p>
          <p>'A Registered Medical Practitioner [RMP] is a person who is enrolled in the State Medical Register or the Indian Medical Register under the Indian Medical Council Act 1956.' [IMC Act, 1956]</p>
          <br>
          <p>Source link: <a href="https://www.mohfw.gov.in/pdf/Telemedicine.pdf" target="_blank">Telemedicine (pdf)</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
