<div class="content content-fixed">
  <div class="container">
    <div class="d-sm-flex justify-content-between page-heading">
      <div>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb breadcrumb-title">
            <li class="breadcrumb-item">Helpline</li>
            <li class="breadcrumb-item"><a href="/helpline/awareness">Awareness</a></li>
            <li class="breadcrumb-item">MINISTRY OF HEALTH AND FAMILY WELFARE</li>
          </ol>
        </nav>
        <h5 class="mg-b-0 tx-spacing--1">MINISTRY OF HEALTH AND FAMILY WELFARE</h5>
      </div>
    </div>
    <div class="row">
      <div class="col-12 card">
        <div class="card-body">
          <h6 class="mg-b-0 tx-spacing--1 text-center">[To be published in the Gazette of India, Extraordinary, PART II, Section 3, Sub-section (i)]</h6>
          <br>
          <h6 class="mg-b-0 tx-spacing--1 text-center">MINISTRY OF HEALTH AND FAMILY WELFARE<br>(Department of Health and Family Welfare)<br>NOTIFICATION</h6>
          <p class="text-right"><b>New Delhi, the 26th March, 2020</b></p>
          <br>
          <p>G.S.R._____(E).---Whereas, the Central Government is satisfied that retail sale of drugs to the doorstep of consumers is
          essential to meet the requirements of emergency arising due to pandemic COVID-19 and in the public interest, it is necessary
          and expedient to regulate the sale and distribution of drugs for their delivery to the consumers;
          </p>
          <p>Now, therefore, in exercise of the powers conferred by Section 26B of the Drugs and Cosmetics Act, 1940 (23 of 1940), the
          Central Government hereby directs that in case any person holding a license in Form-20 or Form-21 under the Drugs and Cosmetics
          Rules, 1945 to sell, stock or exhibit or offer for sale, or distribute drugs by retail, intends to sell any drug including
          the drugs specified in Schedule H except narcotics, psychotropics and controlled substances as defined in the Narcotic Drugs
          and Psychotropic Substances Act, 1985 (61 of 1985) and the drugs as specified in Schedule H1 & Schedule X to the said rules,
          by retail with doorstep delivery of the drug, the licensee can sell such drugs subject to the condition that any such sale
          of a drug specified in Schedule H shall be based on receipt of prescription physically or through e-mail and such sale of
          drugs shall further be subject to the following conditions:</p>
          <ol type="i">
              <li>The licensee shall submit an e-mail ID for registration with the licensing authority if prescriptions are to be received
              through email.</li>
              <li>The drugs shall be supplied at the doorstep of the patients located within the same revenue district where the licensee is
              located.</li>
              <li>In case of chronic diseases, the prescription shall be dispensed only if it is presented to the licensee within 30 days of
              its issue and in acute cases, the prescription shall be dispensed only if it is presented to licensee within 7 days of its
              issue.</li>
              <li>The bill or cash memo shall be sent by the return email and records of all such transactions shall be maintained by the licensee.</li>
          </ol>
          <p>This order shall come into force on the date of its publication in the Official Gazette.</p>
          <p>[F.No.18-04/2020-DC]</p>
          <p>Dr. Mandeep K Bhandari <br> Joint Secretary to the Government of India </p>
          <br>
          <p>Source link: <a href="https://www.mohfw.gov.in/pdf/Doorstepdelivery26B.pdf" target="_blank">Door step delivery 26B (pdf)</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
