<div class="d-sm-flex justify-content-between page-heading">
  <div>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb breadcrumb-title">
        <li class="breadcrumb-item"><a>Sources</a></li>
        <!-- <li class="breadcrumb-item active" aria-current="page">Testing Center</li> -->
      </ol>
    </nav>
    <h5 class="mg-b-0 tx-spacing--1">Data Sources</h5>
  </div>
</div>
<div class="row flex-xl-nowrap">
  <div class="col-12">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">1. World Health Organization (WHO): <a href="https://www.who.int" target="_blank">https://www.who.int</a></li>
      <li class="list-group-item">2. China CDC (CCDC): <a href="http://weekly.chinacdc.cn/news/TrackingtheEpidemic.htm" target="_blank">http://weekly.chinacdc.cn/news/TrackingtheEpidemic.htm</a></li>
      <li class="list-group-item">3. Hong Kong Department of Health: <a href="https://www.chp.gov.hk/en/features/102465.html" target="_blank">https://www.chp.gov.hk/en/features/102465.html</a></li>
      <li class="list-group-item">4. Macau Government: <a href="https://www.ssm.gov.mo/portal/" target="_blank">https://www.ssm.gov.mo/portal/</a></li>
      <li class="list-group-item">5. Taiwan CDC: <a href="https://sites.google.com/cdc.gov.tw/2019ncov/taiwan?authuser=0" target="_blank">https://sites.google.com/cdc.gov.tw/2019ncov/taiwan?authuser=0</a></li>
      <li class="list-group-item">6. US CDC: <a href="https://www.cdc.gov/coronavirus/2019-ncov/index.html" target="_blank">https://www.cdc.gov/coronavirus/2019-ncov/index.html</a></li>
      <li class="list-group-item">7. Government of Canada: <a href="https://www.canada.ca/en/public-health/services/diseases/coronavirus.html" target="_blank">https://www.canada.ca/en/public-health/services/diseases/coronavirus.html</a></li>
      <li class="list-group-item">8. Australia Government Department of Health: <a href="https://www.health.gov.au/news/coronavirus-update-at-a-glance" target="_blank">https://www.health.gov.au/news/coronavirus-update-at-a-glance</a></li>
      <li class="list-group-item">9. European Centre for Disease Prevention and Control (ECDC): <a href="https://www.ecdc.europa.eu/en/geographical-distribution-2019-ncov-cases" target="_blank">https://www.ecdc.europa.eu/en/geographical-distribution-2019-ncov-cases</a></li>
      <li class="list-group-item">10. Ministry of Health Singapore (MOH): <a href="https://www.moh.gov.sg/covid-19" target="_blank">https://www.moh.gov.sg/covid-19</a></li>
      <li class="list-group-item">11. Italy Ministry of Health: <a href="http://www.salute.gov.it/nuovocoronavirus" target="_blank">http://www.salute.gov.it/nuovocoronavirus</a></li>
      <li class="list-group-item">12. Ministry of Health and Family Affairs India: <a href="https://www.mohfw.gov.in/" target="_blank">https://www.mohfw.gov.in/</a></li>
    </ul>
  </div>
</div>
