<div class="content content-fixed">
  <div class="container">
  <div class="d-sm-flex justify-content-between page-heading">
    <div>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-title">
          <li class="breadcrumb-item"><a>Sources</a></li>
          <!-- <li class="breadcrumb-item active" aria-current="page">Testing Center</li> -->
        </ol>
      </nav>
      <h5 class="mg-b-0 tx-spacing--1">Data Sources</h5>
    </div>
  </div>
  <div class="row flex-xl-nowrap">
    <div class="col-12">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">1. Ministry of Health and Family Affairs India: <a href="https://www.mohfw.gov.in/" target="_blank">https://www.mohfw.gov.in/</a></li>
        <li class="list-group-item">2. John Hopkins University and Medicine: <a href="https://coronavirus.jhu.edu/map.html" target="_blank">https://coronavirus.jhu.edu/map.html</a></li>
        <li class="list-group-item">3. Renown News Outlets and their Twitter Accounts</li>
      </ul>
    </div>
  </div>

</div>
</div>
