<div class="content content-fixed">
  <div class="container">
    <div class="d-sm-flex justify-content-between page-heading">
      <div>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb breadcrumb-title">
            <li class="breadcrumb-item">Helpline</li>
            <li class="breadcrumb-item"><a href="/helpline/awareness">Awareness</a></li>
            <li class="breadcrumb-item">Mock Drill for Emergency Response for Handling COVID -19 cases in Govt Hospitals</li>
          </ol>
        </nav>
        <h5 class="mg-b-0 tx-spacing--1">Mock Drill for Emergency Response for Handling COVID -19 cases in Govt Hospitals</h5>
      </div>
    </div>
    <div class="row">
      <div class="col-12 card">
        <div class="card-body">
          <h6><u>Mock Drill for Emergency Response for Handling COVID -19 cases in Govt Hospitals</u></h6>

          <table class="table table-bordered">
            <tbody>
              <tr>
                <th>Setting</th>
                <th>Personnel Required</th>
                <th>Inventory/Activity/ Skills to be tested</th>
              </tr>
              <tr>
                <th colspan="3">1. Outpatients facilities/ Initial Triage</th>
              </tr>
              <tr>
                <th rowspan="3">Consultation Room </th>
                <td>Healthcare workers (Doctors and Nurses)</td>
                <td>Physical examination of patients with respiratory symptoms. Inventory PPEs & Medicines, hand washing and sanitizer facility.</td>
              </tr>
              <tr>
                <td>Healthcare workers (Doctors and Nurses)</td>
                <td>Physical examination of patients without respiratory symptoms but based on self-declaration and /or history</td>
              </tr>
              <tr>
                <td>Cleaners</td>
                <td>After and between consultations with patients with respiratory symptoms; Disinfectants.</td>
              </tr>
              <tr>
                <th>Waiting Room</th>
                <td></td>
                <td>Well ventilated areas with Exhaust Fans/Open Areas</td>
              </tr>
              <tr>
                <th colspan="3">2. Emergency /Inpatient facilities/Isolation Rooms and Duty Stations</th>
              </tr>
              <tr>
                <td rowspan="2"></td>
                <td>Healthcare workers (Doctors and Nurses)</td>
                <td>
                  <ul>
                    <li>PPE</li>
                    <li>Drugs & Disposable</li>
                    <li>Oxygen Apparatus</li>
                    <li>Suction Machine</li>
                    <li>Hand washing and Hand sanitizer facility</li>
                  </ul>
                </td>
              </tr>
              <tr>
                <td>Cleaners</td>
                <td>Entering the room of COVID-19 patients with proper PPE</td>
              </tr>
              <tr>
                <th>Laboratory</th>
                <td>Lab Technician</td>
                <td>Collection of Respiratory samples</td>
              </tr>
              <tr>
                <th>Administrative Areas</th>
                <td>All staff, including healthcare workers</td>
                <td>Administrative tasks that do not involve contact with COVID -19 patients but work on logistics and supply and record maintenance. Hand washing and hand sanitizer facility.</td>
              </tr>
              <tr>
                <th colspan="3">3. ICU Facilities</th>
              </tr>
              <tr>
                <th>ICUs</th>
                <td>
                  Respiratory specialists Anaesthesiologist
                  <ul>
                    <li>ICU Nurses</li>
                    <li>OT Technician</li>
                  </ul>
                </td>
                <td>
                  <ul>
                    <li>PPEs</li>
                    <li>Knowledge and skill as per treatment protocols</li>
                    <li>Oxygen supply</li>
                    <li>Emergency medicines</li>
                    <li>Monitors</li>
                    <li>Defibrillators</li>
                    <li>Ventilators</li>
                  </ul>
                </td>
              </tr>
              <tr>
                <th colspan="3">4. Ambulance or transfer vehicle (For shifting to Tertiary Care Centre)</th>
              </tr>
              <tr>
                <td rowspan="3"></td>
                <td>Healthcare workers </td>
                <td>Transporting suspected COVID-19 patients to the referral healthcare facility.</td>
              </tr>
              <tr>
                <td>Driver with Paramedical workers</td>
                <td>Involved only in driving the patient with suspected COVID-19 disease and the driver’s compartment is separated from the mai compartment.<br>Assisting with embarkation /disembarkation of patient with suspected COVID-19 disease.</td>
              </tr>
              <tr>
                <td>Cleaners</td>
                <td>Cleaning and disinfection after and between transport of patients with suspected COVID-19 disease to the referral healthcare facility</td>
              </tr>
              <tr>
                <th colspan="3">5. Details of Tertiary Care Centre (Contact No. of Nodal Person and Emergency No.) are available</th>
              </tr>
            </tbody>
          </table>

          <h6>General Tips:</h6>
          <ol>
          <li>In addition to using the appropriate PPE, frequent hand hygiene and respiratory hygiene should always be performed. PPE should be discarded in an appropriate waste container after use, and hand hygiene should be performed before putting on and after taking off PPE.</li>
          <li>The number of visitors should be restricted. If visitors must enter a COVID-19 patient’s room, they should be provided with clear instructions about how to put on and remove PPE and about performing hand hygiene before putting on and after removing PPE; this should be supervised by a healthcare worker.</li>
          <li>This category includes the use of no-touch thermometers, thermal imaging cameras, and limited observation and questioning, all while maintaining a spatial distance of at least 1 m.</li>
          <li>All rapid response team members must be trained in performing hand hygiene and how to put on and remove PPE to avoid self-contamination.</li>

          </ol>

          <h6><u>Laboratory investigations</u></h6>
          <ol type="i">
              <li>All kits required for collection (Respiratory samples like Nasopharyngeal Swab, Sputum and bronchoalveolar lavage) such as swabs, VTMs, Zip Lock Bag & Cold Chain etc. are available</li>
              <li>All lab investigations of a COVID-19 suspect case should be restricted to a bare minimum as deemed appropriate by the treating physician till such time as the confirmatory COVID-19 tests are made available. After confirmation proper bio safety precautions should be observed if any invasive investigations are done.</li>

          </ol>

          <h6><u>Assessment of Healthcare workers</u></h6>
          <p>Doctors, Nurses, Technicians should undergo knowledge assessment along with skill assessment and if needed the requisite training should be provided to fill the gaps. A Microbiologists should be posted for Supervising the samples collection from the patients in a proper way and ensuring the transportation of sample to designated laboratories for testing under appropriate condition including maintenance of cold chain for this purpose.</p>

          <h6><u>Public Health Specialist</u></h6>
          <p>should be engaged to advise about the reduction of infection in the medical care facility. They will also supervise the handing over of discharged patients to State Surveillance teams for monitoring and tracking these patients till the requisite period is over. They will also supervise proper biomedical waste disposal of the healthcare facility.</p>
          <p>Source link: <a href="https://www.mohfw.gov.in/pdf/MockDrill.pdf" target="_blank">Mock Drill (pdf)</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
