<div class="content content-fixed">
  <div class="container">

    <div class="d-sm-flex justify-content-between page-heading">
      <div>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb breadcrumb-title">
            <li class="breadcrumb-item"><a>Dashboard</a></li>
            <li class="breadcrumb-item active" aria-current="page">CASES</li>
          </ol>
        </nav>
        <h5 class="mg-b-0 tx-spacing--1">India Covid-19 Cases</h5>
      </div>
      <!-- <div class="d-flex justify-content-end">

      </div> -->
    </div>
    <div>
      <!-- <div class="table-wrapper">
        <ng-table [config]="config" (tableChanged)="onChangeTable(config)" (cellClicked)="onCellClick($event)"
          [rows]="rows" [columns]="columns">
        </ng-table>
      </div>

      <pagination *ngIf="config.paging" class="pagination-sm" [(ngModel)]="page" [totalItems]="length"
        [itemsPerPage]="itemsPerPage" [maxSize]="maxSize" [boundaryLinks]="true" [rotate]="false"
        (pageChanged)="onChangeTable(config, $event)" (numPages)="numPages = $event">
      </pagination> -->
      <!-- <pre *ngIf="config.paging" class="card card-block card-header">Page: {{page}} / {{numPages}}</pre> -->
    </div>

    <div class="d-flex justify-content-end case-number-legends mb-3">
      <div class="row">
        <div class="col">
          <span style="background-color: #ffdb8e;"></span>Active
        </div>
        <div class="col">
          <span style="background-color: #83f473;"></span>Recovered
        </div>
        <div class="col">
          <span style="background-color: #ffa1a1;"></span>Died
        </div>
      </div>
    </div>

    <div class="case-number-container">
        <div class="case-number" *ngFor="let patient of data">
          <div class="card" [popover]="popTemplate" [adaptivePosition]="true" placement="auto"
          [triggers]="'focus'" tabindex="1" outsideClick="true">
            <!-- <div class="card-text-stats"></div> -->
            <div class="card-stats" [style.background-color]="getboxBackgroundColor(patient)">
              <!-- {{patient.caseNumber.split('P')[1]}} -->
            </div>
          </div>
          <ng-template  #popTemplate>
            <div class="popover-container" [style.background-color]="getGenderBackgroundColor(patient)">
              <h5 *ngIf="patient.caseNumber">{{patient.caseNumber}}</h5>
              <div *ngIf="patient.gender">Gender: {{patient.gender}}</div>
              <div *ngIf="!patient.gender">Gender: ?</div>
              <div>Status: {{patient.status}}</div>
              <div *ngIf="patient.daysInHospital">Days in Hospital: {{patient.daysInHospital}}</div>
              <div>State: {{patient.state}}</div>
              <div *ngIf="patient.cityName">City: {{patient.cityName}}</div>
              <div>Confirm On: {{patient.confirmAt}}</div>
            </div>
          </ng-template>
        </div>
    </div>
  </div>