<div class="content content-fixed">
  <div class="container">

    <div class="d-sm-flex justify-content-between page-heading">
      <div>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb breadcrumb-title">
            <li class="breadcrumb-item"><a>Dashboard</a></li>
            <li class="breadcrumb-item active" aria-current="page">CASES</li>
          </ol>
        </nav>
        <h5 class="mg-b-0 tx-spacing--1">Showing all results.</h5>
      </div>
      <div class="d-flex justify-content-end calendar-button">
        <input *ngIf="config.filtering" placeholder="Filter all columns"
               [ngTableFiltering]="config.filtering"
               class="form-control"
               (tableChanged)="onChangeTable(config)"/>
      </div>
    </div>


<div>
  <div class="table-wrapper">
    <ng-table [config]="config"
              (tableChanged)="onChangeTable(config)"
              (cellClicked)="onCellClick($event)"
              [rows]="rows" [columns]="columns">
    </ng-table>
  </div>
  
  <pagination *ngIf="config.paging"
              class="pagination-sm"
              [(ngModel)]="page"
              [totalItems]="length"
              [itemsPerPage]="itemsPerPage"
              [maxSize]="maxSize"
              [boundaryLinks]="true"
              [rotate]="false"
              (pageChanged)="onChangeTable(config, $event)"
              (numPages)="numPages = $event">
  </pagination> 
  <!-- <pre *ngIf="config.paging" class="card card-block card-header">Page: {{page}} / {{numPages}}</pre> -->


</div>
</div>
