<div class="row row-xs">
  <div class="col-12">
    <h6 class="mg-b-0 tx-spacing--1 text-center">Government of India Ministry of Health & FW<br>Additional Travel Advisory for Novel Coronavirus Disease (COVID-19)</h6>
    <p>In continuation of the travel advisory issued on 11th March, 2020 and 16 th March, 2020, the following additional advisory is issued:</p>
    <ol>
      <li>Travel of passengers from Afghanistan, Philippines, Malaysia to India is prohibited with immediate effect. No flight shall take off from these countries to India after 1500 hours Indian Standard Time (IST). The airline shall enforce this at the port of initial departure.</li>
      <li>This instruction is a temporary measure and shall be in force till 31st March 2020 and will be reviewed subsequently.</li>
    </ol>
    <p>Source link: <a href="https://www.mohfw.gov.in/TravelAdvisory17thMarch.pdf" target="_blank">Travel Advisory 17th March (pdf)</a></p>
  </div>
</div>
