<div class="content content-fixed">
  <div class="container">
    <div class="d-sm-flex justify-content-between page-heading">
      <div>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb breadcrumb-title">
            <li class="breadcrumb-item">Helpline</li>
            <li class="breadcrumb-item"><a href="/helpline/awareness">Awareness</a></li>
            <li class="breadcrumb-item">The test to be conducted by a laboratory which has NABL accreditation for real-time PCR assay for RNA virus</li>
          </ol>
        </nav>
        <h5 class="mg-b-0 tx-spacing--1">The test to be conducted by a laboratory which has NABL accreditation for real-time PCR assay for RNA virus</h5>
      </div>
    </div>
    <div class="row">
      <div class="col-12 card">
        <div class="card-body">
          <h6 class="mg-b-0 tx-spacing--1 text-center">F. No. Z.28015/23/2020-EMR  <br> Government of India <br> Ministry of Health and Family Welfare </h6>
          <h6 class="mg-b-0 tx-spacing--1 text-right">Nirman Bhawan, New Delhi <br> Dated the 21st March, 2020</h6>
          <br>
          <h6 class="mg-b-0 tx-spacing--1 text-center"><u>ORDER</u></h6>
          <p>The guidelines laid down by Indian Council of Medical Research for COVID-19 testing in private laboratories in India (as annexed) is notified vide Clause (i) and (1) of sub-section 2 of Section 10 of DM Act, 2005, under the power delegated vide order F. NO. 40-2/2020-DM1 (A); dated 11th March, 2020 for strict follow up and compliance.</p>
          <p class="text-right">Secretary, <br> Ministry of Health & Family Welfare <br> Government of India </p>
          <br>
          <h6 class="mg-b-0 tx-spacing--1">Guidelines for COVID-19 testing in private laboratories in India</h6>
          <h6 class="mg-b-0 tx-spacing--1">The test to be conducted by a laboratory which has NABL accreditation for real-time PCR assay for RNA virus.</h6>
          <h6>Whom to test:</h6>
          <p>Laboratory test should only be offered when prescribed by a qualified physician as per the ICMR guidleines for COVID-19 testing.
          Since the guidance evolves periodically, the latest revised version should be followed (link below). (<a href="https://icmr.nic.in/sites/default/files/upload documents/2020-03-20 covid!9 test v3.pdf/" target="_blank">https://icmr.nic.in/sites/default/files/upload documents/2020-03-20 covid!9 test v3.pdf</a>) / <a href="https://www.mohfw.gov.in" target="_blank">www.mohfw.gov.in</a>.</p>
          <p>Sample collection and Testing guidelines:</p>
          <ul>
              <li>Appropriate biosafety and biosecurity precautions should be ensured while collecting respiratory samples (oropharnygeal and nasal swab) from a suspect patient. Alternatively, a COVID-19 specific separate sample collection site may be created.</li>
              <li>Preferably, home collection of samples may be done by all the private laboratories. This will help avoid the contact of people with the suspect case during local travel to reach the laboratory.</li>
              <li>Only real time PCR based assays are recommended. Conventional PCR. in-house real time PCR and antibody/antigen tests are not recommended for COVID19 testing</li>
              <li>Commercial kits for real time PCR based diagnosis of COVID-19 should be US FDA approved or European CE Certified or both     for in vitro diagnosis of COVID-19 under emergency use, under intimation to DCGI, MoH&FW. Nucleic acid extraction kits and other reagents should be of standard quality.</li>
              <li>All the laboratory staff involved in COVID-19 testing should be appropriately trained in Good Laboratory Practices and performing real-time PCR.</li>
              <li>All the biomedical waste should be disposed off in accordance with National guidelines (https://dhr.gov.in/sites/dcfault/files/Bio-medical_Waste_Management_Rules_2016.pd〇.</li>
              <li>The sample should be opened only in Biosafety Cabinet Class II A2. At the time of sample disposal, the Viral Transport Medium (VTM) with swabs should be discarded in a biohazard bag containing 2% Lyzol or 5% freshly prepared hypochlorite solution. Bag should then be sealed using plastic tag and disposed of in accordance with the National guidelines.</li>
              <li>Government ID to support the current address and contact number of the suspect patient should be collected at the time of sample collection.</li>
          </ul>

          <h6>Reporting protocols:</h6>
          <ul>
              <li>Before any laboratory (private or public) start their activities, they must ensure immediate/real time reporting of the test results along with the contact details to the ICMR HQ database accessible at https://cvstatus.icmr.org.in. Login credentials to each lab for uploading the data will be given by ICMR.</li>
              <li>Each laboratory will be given a registration number by ICMR. The registration number given by ICMR should be prominently exhibited in case any advertisement is made and also in the report.</li>
              <li>The access to specified data and analysis to stakeholders like IDSP, MoHFW will be provided through API for timely initiation of contact tracing and appropriate control measures.</li>
              <li>The request should be send at aggarwal.n@icmr.gov.in indicating name, contact details and mobile number of nodal contact for the lab.</li>
          </ul>

          <h6>Policy for sample storage and destruction:</h6>
          <ul>
              <li>All C0VID19 positive samples will need to be transported to 1CMR-NIV, Pune under suitable biosafety and biosecurity precautions as laid down by ICMR. The negative samples will be destroyed within one week of collection.</li>
              <li>No sample should be shared with any other organisation for any purpose.</li>
          </ul>

          <h6>Cost of the test:</h6>
          <p>The National Task Force recommends that the maximum cost for testing sample should not exceed Rs 4,500/-. This may include Rs 1,500 as a screening test for suspect cases, and an additional Rs 3,000/- for confirmation test. However, ICMR encourages free or subsidized testing in this hour of National public health emergency.</p>
          <p>These guidelines may be amended from time to time.</p>
          <p>Failure to comply with any of the above guidelines will result in legal action.</p>
          <p>Source link: <a href="https://www.mohfw.gov.in/pdf/NotificationofICMguidelinesforCOVID19testinginprivatelaboratoriesiIndia.pdf" target="_blank">Notification of ICM guide lines for COVID19 testing in private laboratoriesi India (pdf)</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
