<div class="content content-fixed">
  <div class="container">
    <div class="d-sm-flex justify-content-between page-heading">
      <div>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb breadcrumb-title">
            <li class="breadcrumb-item">Helpline</li>
            <li class="breadcrumb-item"><a href="/helpline/awareness">Awareness</a></li>
            <li class="breadcrumb-item">COVID-19 testing - when and how?</li>
          </ol>
        </nav>
        <h5 class="mg-b-0 tx-spacing--1">COVID-19 testing - when and how?</h5>
      </div>
    </div>
    <div class="row">
      <div class="col-12 card">
        <div class="card-body">
          <h6 class="mg-b-0 tx-spacing--1 text-center">NOVEL CORONAVIRUS (COVID-19)</h6>
          <br>
          <h6 class="mg-b-0 tx-spacing--1 text-center">COVID-19 testing - when and how?</h6>
          <p><b>All individuals need not be tested,</b> because Disease is primarily reported in Individuals with travel history to the affected countries or close contacts of positive cases</p>
          <p><b>WHOM TO TEST</b></p>
          <p>ALL symptomatic people who</p>
          <ul>
            <li>Have history of international travel in last 14 days</li>
            <li>Had come in contact of confirmed cases</li>
            <li>Are healthcare workers</li>
            <li>Are hospitalized patients with Severe Acute Respiratory Illness (SARI) or Influenza Like Illness (ILI) or severe pneumonia.</li>
          </ul>
          <p><b>Asymptomatic direct and high-risk contacts of confirmed cases should be tested once between day 5 and day 14 of coming in his/her contact. Direct and high-risk contact include:</b></p>
          <ul>
            <li>Those living in same household with a confirmed case</li>
            <li>Healthcare workers who examined a confirmed case without adequate protection as per WHO recommendations</li>
          </ul>
          <br>
          <p class="text-center">List of labs (Govt. & Private) can be accessed at: icmr.nic.in</p>
          <p><b>For further information:</b><br>Call the State helpline numbers or Ministry of Health and Family Welfare, Government of India’s 24x7 helpline numbers</p>
          <p>1075 (Toll Free) | 011-23978046<br>Email to: <a href="mailto:ncov2019@gov.in">ncov2019@gov.in</a> , <a href="mailto:ncov2019@gmail.com">ncov2019@gmail.com</a></p>
          <p>Website: <a href="https://www.mohfw.gov.in/" target="_blank">mohfw.gov.in</a><br>Facebook: <a href="https://www.facebook.com/MoHFWIndia/" target="_blank">@MoHFWIndia</a><br>Twitter: <a href="https://twitter.com/mohfw_india?lang=en" target="_blank">@MoHFW_INDIA</a><br>Youtube: <a href="https://www.youtube.com/channel/UCsyPEi8BS07G8ZPXmpzIZrg" target="_blank">mohfwindia</a></p>
          <br>
          <p>Source link: <a href="https://www.mohfw.gov.in/pdf/FINAL_14_03_2020_ENg.pdf" target="_blank">Whom to test (pdf)</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
