body{
  padding-top: 4.5rem;
  padding-bottom: 4.5rem;
  -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.navbar-nav{
  font-size: 0.9rem;
  .nav-item{
    margin-right: 10px;
    .btn-link{
      text-decoration: none;
      font-size: 0.9rem;
      color: rgba(0,0,0,.5);
      &:hover{
        color: rgba(0,0,0,.7);
      }
    }
  }
}

.page-heading{
  margin-bottom: 30px;
  margin-top: 20px;
}

.breadcrumb-item.active {
    color: #0166e6;
}

.breadcrumb-title{
  border-radius: 0;
  background-color: transparent;
  padding: 0;
  font-size: 0.74rem;
  text-transform: uppercase;
  margin-bottom: 6px;
}

.calendar-button{
  display: flex;
  align-items: center;
  .btn{
    font-size: 0.8rem;
    white-space: pre-wrap;
    word-break: break-word;
  }
}


.margin-top-10{
  margin-top: 10px;
}

.row-xs>div{
  padding-right: 5px;
  padding-left: 5px;
}

.card{
  height: 100%;
  .card-header{
    background-color: rgba(0,0,0,0);
    p{
      font-size: 0.8rem;
      color: rgba(0,0,0,0.5);
      margin-bottom: 0px;
      margin-top: 2px;
    }
  }
}
