.navbar-nav{
  font-size: 0.9rem;
  .nav-item{
    margin-right: 8px;
  }
}

.page-heading{
  margin-bottom: 30px;
}


.breadcrumb-title{
  border-radius: 0;
  background-color: transparent;
  padding: 0;
  font-size: 0.8rem;
  text-transform: uppercase;
  margin-bottom: 6px;
}

.calendar-button{
  display: flex;
  align-items: center;
  .btn{
    height: 38px;
  }
}


.margin-top-10{
  margin-top: 10px;
}