<div class="content content-fixed">
  <div class="container">
    <div class="d-sm-flex justify-content-between page-heading">
      <div>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb breadcrumb-title">
            <li class="breadcrumb-item">Helpline</li>
            <li class="breadcrumb-item"><a href="/helpline/awareness">Awareness</a></li>
            <li class="breadcrumb-item">D.O. Letter from Secretary, Human Resource Development to Chief Secretaries for temporary Medical camps in Jawahar Navodaya Vidyalayas dated 24th March 2020</li>
          </ol>
        </nav>
        <h5 class="mg-b-0 tx-spacing--1">D.O. Letter from Secretary, Human Resource Development to Chief Secretaries for temporary Medical camps in Jawahar Navodaya Vidyalayas dated 24th March 2020</h5>
      </div>
    </div>
    <div class="row">
      <div class="col-12 card">
        <div class="card-body">
          <h6 class="mg-b-0 tx-spacing--1 float-left">AMIT KHARE, IAS Secretary<br>Tel.: 011-23386451,23382698<br>Fax:	011-23385807<br>E-mail: secy.dhe@nic.in</h6>
          <h6 class="mg-b-0 tx-spacing--1 float-right">Government of India<br>Ministry of Human Resource Development<br>Departments of Higher Education/<br>School Education & Literacy<br>127 'C' Wing, Shastri Bhawan, New Delhi-110 001</h6>
          <p class="clearfix"></p>
          <br>
          <p class="text-right">D.O. No. 31-1/2020-EE.1 (Pt.)<br>24th March, 2020</p>
          <br>
          <p>Dear Chief Secretary,</p>
          <ol>
            <li>In the backdrop of the COVID 19 outbreak, temporary medical camps may be required in various parts of the country. In this connection, I would like to inform you that the infrastructure available in the Jawahar Navodaya Vidyalayas (JNVs) which are residential schools functioning under the Ministry of Human Resource Development, could be utilised for the purpose of setting up temporary camps for isolation or medical facility.</li>
            <li>JNVs are functional in 645 districts in the country, (except Tamil Nadu) 75 JNVs are functioning from their temporary premises and therefore the infrastructure available in the form of hostels/mess facilities may be limited. Some of the JNVs also have students residing in the hostels as they could not be moved out due to disruption of inter-state rail/bus services.</li>
            <li>The facilities available in the 570 JNVs functioning from their permanent buildings and which do not have any resident students at present. could be utilised for the purpose of setting up temporary medical facilities/quarantine camps for isolation.</li>
            <li>The suitability of the available infrastructure could be assessed by the concerned District Magistrates who also head the Vidyalaya Management Committees. A copy of this letter is also being endorsed to the Commissioner, Navodaya Vidyalaya Samiti for issuing necessary directions to the Principals concerned to extend all cooperation to the District Administration in this regard.</li>
          </ol>
          <p class="text-right">With regards,<br>Yours sincerely,<br>(Amit Khare)</p>
          <br>
          <p>Chief Secretary of State/UT</p>
          <br>
          <p>CC: Commissioner, Navodaya Vidyalaya Samiti</p>
          <br>
          <p>Source link: <a href="https://www.mohfw.gov.in/pdf/DOtoChiefSecretariesregCOVID19.pdf" target="_blank">Do to Chief Secretaries reg COVID19 (pdf)</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
