<div class="content content-fixed">
  <div class="container">
    <div class="d-sm-flex justify-content-between page-heading">
      <div>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb breadcrumb-title">
            <li class="breadcrumb-item">Helpline</li>
            <li class="breadcrumb-item"><a href="/helpline/awareness">Awareness</a></li>
            <li class="breadcrumb-item">Guidelines for notifying COVID-19 affected persons by Private Institutions</li>
          </ol>
        </nav>
        <h5 class="mg-b-0 tx-spacing--1">Guidelines for notifying COVID-19 affected persons by Private Institutions</h5>
      </div>
    </div>
    <div class="row">
      <div class="col-12 card">
        <div class="card-body">
          <h6 class="mg-b-0 tx-spacing--1"><u>Guidelines for notifying COVID-19 affected persons by Private Institutions</u></h6>
          <p>In the wake of the prevailing COVID-19 situation and in order to strengthen the containment measures, it is of utmost importance that each and every case (suspects/confirmed) of COVID-19 is isolated and provided appropriate treatment and their contacts are traced at the earliest to break the chain of transmission. It is important that support and cooperation of private sector is enlisted, in this regard.</p>
          <p>Therefore, it shall be mandatory for all hospitals (Government and Private), Medical officers in Government health institutions and registered Private Medical Practitioners including AYUSH Practitioners, to notify such person(s) with COVID-19 affected person (as defined in the attached annexure) to concerned district surveillance unit. All practitioners shall also get the self-declaration forms (enclosed), who, within their knowledge, are having travel history of COVID-19 affected countries as per the extant guidelines and are falling under the case definition of COVID-19 (Suspect/Case)</p>
          <p>In case the person has any such history in the last 14 days and is symptomatic as per case definition of COVID-19, the person must be isolated in the hospital and will be tested for COVID-19 as per protocol.</p>
          <p>Information of all such cases should be given to the State helpline number (list enclosed) and also to national helpline 1075. Email may also be sent at ncov2019@gov.in.</p>

          <h6 class="mg-b-0 tx-spacing--1 text-center"><u>COVID-19 Case Definitions</u></h6>
          <p><u>Suspect Case:</u></p>
          <p>A patient with acute respiratory illness (fever and at least one sign/symptom of respiratory disease (e.g., cough, shortness of breath) AND a history of travel to of residence in a country/area or territory reporting local transmission (See NCDC website for updated list) of COVID-19 disease during the 14 days prior to symptom onset;</p>
          <p><b>OR</b></p>
          <p>A patient / Health care worker with any acute respiratory illness <b>AND</b> having been in contact with a confirmed COVID-19 case in the last 14 days prior to onset of symptoms;</p>
          <p><b>OR</b></p>
          <p>A patient with severe acute respiratory infection (fever and at least one sign/symptom of respiratory disease (e.g., cough, shortness breath) AND requiring hospitalization <b>AND</b> with no other etiology that fully explains the clinical presentation;</p>
          <p><b>OR</b></p>
          <p>A case for whom testing for COVID-19 is inconclusive</p>
          <p><b><u>Laboratory Confirmed case: </u></b> A person with laboratory confirmation of COVID-19 infection, irrespective of clinical signs and symptoms.</p>
          <p>Source link: <a href="https://www.mohfw.gov.in/pdf/GuidelinesfornotifyingCOVID-19affectedpersonsbyPrivateInstitutions.pdf" target="_blank">Guidelines for notifying COVID-19 affected personsby Private Institutions (pdf)</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
