<div class="content content-fixed">
  <div class="container">
    <div class="d-sm-flex justify-content-between page-heading">
      <div>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb breadcrumb-title">
            <li class="breadcrumb-item">Helpline</li>
            <li class="breadcrumb-item"><a href="/helpline/awareness">Awareness</a></li>
            <li class="breadcrumb-item">Order</li>
          </ol>
        </nav>
        <h5 class="mg-b-0 tx-spacing--1">Order</h5>
      </div>
    </div>
    <div class="row">
      <div class="col-12 card">
        <div class="card-body">
          <h6 class="mg-b-0 tx-spacing--1 text-center">GOVERNMENT OF NATIONAL CAPITAL TERRITORY OF DELHI<br>HEALTH AND FAMILY WELFARE DEPARTMENT</h6>
          <p class="text-center">9th LEVEL, A-WING, DELHI SECRETARIAT, IP ESTATE, NEW DELHI - 110 002<br>PH: 011-23392017; FAX: 011-23392464; e-mail: pshealth@nic.in</p>
          <p class="text-center">No.F.51/DGHS/PH-IV/COVID-19/2020/prsecyhfw/33/6-30 Dated: 24/03/2020</p>
          <br>
          <h6 class="mg-b-0 tx-spacing--1 text-center">ORDER</h6>
          <br>
          <p>Whereas a lot of complaints have been received from doctors/paramedical staff/healthcare personnel all over NCT of Delhi, that their landlords/house-owners are forcing them to vacate their rented residences.</p>
          <p>And Whereas such behaviour amounts to obstructing public servant in discharging their duties.</p>
          <p>And Whereas the Government of NCT of Delhi has issued the Delhi Epidemic Diseases, COVID-19 Regulations, 2020 under the Epidemic Diseases Act, 1897 for prevention and containment of COVID-19. </p>
          <p>Now, therefore, in exercise of the aforesaid powers, all the District Magistrates/Zonal Deputy Commissioners of Municipal Corporations/District Deputy Commissioners of Police are directed to take strict penal action against such landlords/house-owners under the relevant provisions of law and submit an Action Taken Report on a daily basis to the office of Addi. Chief Secretary (Home), Govt. of NCT of Delhi.</p>
          <p class="text-right">Padmini Singla<br>Secretary (Health & FW)</p>
          <p>No.F.51/DGHS/PH-IV / COVID-19 /2020/M/ prsecyhfw /33/6-30 Dated: 24/03/2020 </p>
          <p><b>Copy to:</b></p>
          <ol>
            <li>Addi. Chief Secretary (Home), Govt. of NCT of Delhi</li>
            <li>Commissioner of Police, Delhi to ensure strict compliance.</li>
            <li>Pr. Secretary to Hon'ble Lt. Governor of NCT of Delhi, New Delhi</li>
            <li>Addi. Secretary to Hon'ble CM, Govt. of Delhi, New Delhi.</li>
            <li>Secretary to Hon'ble Dy. CM, Govt. of Delhi, New Delhi.</li>
            <li>Secretary to Hon'ble Minister Health & Family Welfare, GNCTD</li>
            <li>Commissioner (EDMC/SDMC/NDMC)</li>
            <li>OSD to CS, Govt. of NCT of Delhi, New Delhi.</li>
            <li>All the District Magistrates in the GNCT of Delhi to ensure strict compliance.</li>
            <li>Special Secy. (Home-1) to compile and submit ATR for perusal of CS, Delhi.</li>
            <li>Director, DIP with the request for wider publicity.</li>
            <li>SIO, NIC for uploading the same on the website of Delhi Government.</li>
          </ol>
          <p class="text-right">Padmini Singla<br>Secretary (Health & FW)</p>
          <br>
          <p>Source link: <a href="http://health.delhigovt.nic.in/wps/wcm/connect/95096c804dacdc9595abf7982ee7a5c7/oLand.pdf?MOD=AJPERES&lmod=276494546&CACHEID=95096c804dacdc9595abf7982ee7a5c7" target="_blank">Order to landlords/house-owners (pdf)</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
