<header class="navbar navbar-header navbar-header-fixed" style="z-index: 100;">
    <div class="navbar-brand">
        <a class="df-logo" href="/">
            covid19<span>&nbsp;IND</span>
        </a>
    </div>

    <div id="navbarMenu" class="navbar-menu-wrapper">

        <ul class="nav navbar-menu">
            <li class="nav-item active"><a class="nav-link" href="/dashboard">&nbsp;Home</a></li>
            <li class="nav-item active"><a class="nav-link" href="/analytics">&nbsp;Analytics</a></li>
            <li class="nav-item active"><a class="nav-link" href="/cases">&nbsp;Cases</a></li>
            <li class="nav-item active"><a class="nav-link" href="/insight">&nbsp;Insight</a></li>
            <li class="nav-item active"><a class="nav-link" href="/map">&nbsp;Map</a></li>
            <li class="nav-item active"><a class="nav-link" href="/worldwide">&nbsp;Worldwide</a></li>
        </ul>
    </div>

</header>



<router-outlet></router-outlet>