
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">

    <a class="navbar-brand" href="/">
      <img src="/assets/images/covid-19-logo.png" class="covid-19-logo d-inline-block align-top" alt="">
      <!-- India Fights COVID-19 -->
    </a>
    <button class="navbar-toggler btn" type="button" (click)="isCollapsed = !isCollapsed" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" [ngClass]="!isCollapsed?'mobile-navbar':''" id="navbarSupportedContent" [collapse]=isCollapsed>
      <ul class="navbar-nav ml-auto mr-auto justify-content-center">
        <li class="nav-item active" (click)="hideDropdown()">
          <a class="nav-link" href="/dashboard">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown">
            <div class="btn-group" dropdown>
                <button dropdownToggle type="button" class="btn btn-link dropdown-toggle">
                    Analytics <span class="caret"></span>
                </button>
                <ul *dropdownMenu class="dropdown-menu" role="menu">
                  <li role="menuitem"><a class="dropdown-item" href="/analytics/confirmed" (click)="hideDropdown()">Confirmed Cases</a></li>
                  <li role="menuitem"><a class="dropdown-item" href="/analytics/recovered" (click)="hideDropdown()">Recovered Cases</a></li>
                  <!-- <li role="menuitem"><a class="dropdown-item" href="#/analytics/symptomatic" (click)="hideDropdown()">Symptomatic Cases</a></li> -->
                  <li role="menuitem"><a class="dropdown-item" href="/analytics/intensive_care_cases" (click)="hideDropdown()">Intensive Care Cases</a></li>
                </ul>
            </div>
        </li>
        <!-- <li class="nav-item dropdown">
          <div class="btn-group" dropdown>
              <button dropdownToggle type="button" class="btn btn-link dropdown-toggle">
                  Insight <span class="caret"></span>
              </button>
              <ul *dropdownMenu class="dropdown-menu" role="menu">
                <li role="menuitem"><a class="dropdown-item" href="#/insight/currentCases" (click)="hideDropdown()">Current Cases In Hospital</a></li>
                <li role="menuitem"><a class="dropdown-item" href="#/insight/dischargedCases" (click)="hideDropdown()">Discharged Cases</a></li>
              </ul>
          </div>
        </li> -->

        <!-- <li class="nav-item" (click)="hideDropdown()">
          <a class="nav-link" href="#/cases">Cases</a>
        </li> -->

        <!-- <li class="nav-item">
          <a class="nav-link" href="#/map">Map</a>
        </li> -->
        <li class="nav-item" (click)="hideDropdown()">
          <a class="nav-link" href="/worldwide">Worldwide</a>
        </li>
        <li class="nav-item" (click)="hideDropdown()">
          <a class="nav-link" href="/sources">Sources</a>
        </li>
        <li class="nav-item dropdown">
        <div class="btn-group" dropdown>
            <button dropdownToggle type="button" class="btn btn-link dropdown-toggle">
                Helpline <span class="caret"></span>
            </button>
            <ul *dropdownMenu class="dropdown-menu" role="menu">
              <li role="menuitem"><a class="dropdown-item" href="/helpline/contact-information" (click)="hideDropdown()">Contact Information</a></li>
              <li role="menuitem"><a class="dropdown-item" href="/helpline/awareness" (click)="hideDropdown()">Awareness</a></li>
              <li role="menuitem"><a class="dropdown-item" href="/helpline/testing-center" (click)="hideDropdown()">Testing Centers</a></li>
            </ul>
          </div>
        </li>

        <li class="nav-item" (click)="hideDropdown()">
          <a class="nav-link" href="/about">About</a>
        </li>

      </ul>

    </div> 

    <li class="nav-item gov-data-link" (click)="hideDropdown()">
      <a class="nav-link" href="/MOHFWIndia">Live Data from MOHFW India</a>
    </li>
    <!-- <a class="btn btn-bd-download d-none d-lg-inline-block mb-3 mb-md-0 ml-md-3"></a> -->

    <!-- <div class="navbar-right">
      <button class="btn my-2 my-sm-0" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
    </div> -->

  </nav>

<router-outlet></router-outlet>


<div class="shareaholic-canvas" data-app="share_buttons" data-app-id="28824921"></div>
<footer class="footer" style="display:block; position: fixed; bottom: 0; width: 100%; height: 45px; z-index: 100">
  <div class="d-flex justify-content-between" style="margin-top: 0px !important;">
    <div>
      <span>Created by <a href="https://www.aptlogica.com" target="_blank">Aptlogica Technologies</a></span>
    </div>
  </div>
</footer>
