
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <a class="navbar-brand" href="#">India Fights COVID-19</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto mr-auto justify-content-center">
        <li class="nav-item active">
          <a class="nav-link" href="/dashboard">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown">
            <div class="btn-group" dropdown>
                <button dropdownToggle type="button" class="btn btn-link dropdown-toggle">
                    Analytics <span class="caret"></span>
                </button>
                <ul *dropdownMenu class="dropdown-menu" role="menu">
                  <li role="menuitem"><a class="dropdown-item" href="/analytics/confirmed">Confirmed Cases</a></li>
                  <li role="menuitem"><a class="dropdown-item" href="/analytics/recovered">Recovered Cases</a></li>
                  <li role="menuitem"><a class="dropdown-item" href="/analytics/symptomatic">Symptomatic Cases</a></li>
                  <li role="menuitem"><a class="dropdown-item" href="/analytics/intensive_care_cases">Intensive Care Cases</a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Insight
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Current Cases In Hospital</a>
            <a class="dropdown-item" href="#">Discharged Cases</a>
          </div>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Cases
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Network Graph</a>
            <a class="dropdown-item" href="#">Search</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/map">Map</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/worldwide">Worldwide</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/sources">Sources</a>
        </li>
        <li class="nav-item dropdown">
          <div class="btn-group" dropdown>
              <button dropdownToggle type="button" class="btn btn-link dropdown-toggle">
                  Helpline <span class="caret"></span>
              </button>
        <ul *dropdownMenu class="dropdown-menu" role="menu">
          <li role="menuitem"><a class="dropdown-item" href="/helpline/contact-information">Contact Information</a></li>
          <li role="menuitem"><a class="dropdown-item" href="/helpline/awareness">Awareness</a></li>
          <li role="menuitem"><a class="dropdown-item" href="/helpline/testing-center">Testing Centers</a></li>
        </ul>
      </div>
    </li>
   
      </ul>

    </div>

    <div class="navbar-right">
      <button class="btn my-2 my-sm-0" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
    </div>

  </nav>

  
<div class="content content-fixed">
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>
