

.navbar{
  height: 70px;
  background-color: #fff;
  border-bottom: 1px solid rgba(72,94,144,0.16);

  .covid-19-logo{
    height: 60px;
  }

}


.footer {
    font-size: 10px;
    letter-spacing: .3px;
    padding: 15px 25px;
    background-color: #fafbfc;
    color: #637388;
    border-top: 1px solid rgba(72,94,144,0.16);
    text-transform: uppercase;
}
