<div class="content content-fixed">
  <div class="container">
    <div class="d-sm-flex justify-content-between page-heading">
      <div>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb breadcrumb-title">
            <li class="breadcrumb-item">Helpline</li>
            <li class="breadcrumb-item"><a href="/helpline/awareness">Awareness</a></li>
            <li class="breadcrumb-item">PSYCHOSOCIAL ISSUES AMONG MIGRANTS DURING COVID-19</li>
          </ol>
        </nav>
        <h5 class="mg-b-0 tx-spacing--1">PSYCHOSOCIAL ISSUES AMONG MIGRANTS DURING COVID-19</h5>
      </div>
    </div>
    <div class="row">
      <div class="col-12 card">
        <div class="card-body">
          <h6 class="mg-b-0 tx-spacing--1">PSYCHOSOCIAL ISSUES AMONG MIGRANTS DURING COVID-19</h6>
          <p>Migrants are less familiar in their new environment in which they temporarily live. They are prone to various social, psychological and emotional trauma in such situations, emanating from fear of neglect by the local community and concerns about wellbeing and safety of their families waiting in their native places. Migrants are forced to leave their native places in search of better opportunities and earnings, sometime leaving behind their families. In many instances, the families in native places depend partially or entirely on the money sent by the migrant earning members of the family.</p>
          <p>During outbreak of communicable diseases, such a COVID-19, and the restrictions imposed on routine activities as part of social distancing norms to prevent the spread of the disease, scores of migrant workers tend to move back to their native places. During the prevailing COVID pandemic also, many migrant workers used all possible means to reach their destinations. Many of them are however stuck at borders, including state, district and at national border areas. These are the most marginalized sections of the society who are dependent on daily wages for their living, and in times of such distress need sympathy and understanding of the society.</p>
          <p>Immediate concerns faced by such migrant workers relate to food, shelter, healthcare, fear of getting infected or spreading the infection, loss of wages, concerns about the family, anxiety and fear. Sometimes, they also face harassment and negative reactions of the local community. All this calls for strong social protection.</p>
          <p>As an immediate response, measures to be taken should include, ensuring community shelters and community kitchens, making other relief material available, emphasising on the need for social distancing, identification of suspected cases of infection and adherence to protocols for management of such cases, putting up mechanisms to enable them reach to the family members through telephone, video calls etc. and ensuring their physical safety.</p>
          <p>Migrant workers faced with the situation of spending a few days in temporary shelters, which may be quarantine centres, while trying to reach to their native places, are filled with anxieties and fears stemming from various concerns, and are in need of psycho-social support. As part of such support, following measures can be adopted :</p>
          <ol>
            <li>Treat everyone migrant worker with dignity, respect, empathy and compassion</li>
            <li>Listen to their concerns patiently and understand their problems</li>
            <li>Recognise specific and varied needs for each person/family. There is no generalisation.</li>
            <li>Help them to acknowledge that this is an unusual situation of uncertainty and reassure them that the situation is transient and not going to last long. Normal life is going to resume soon</li>
            <li>Be prepared with all the information about possible sources of help. Inform them about the support being extended by Central Government, State Governments/ NGOs/ health care systems etc.</li>
            <li>Emphasise on the importance of their staying in their present location and how mass movement could greatly and adversely affect all efforts to contain the virus</li>
            <li>Make them realise their importance in the community and appreciate their contributions for the society.</li>
            <li>Remind them that they have made their place with their own efforts, acquired the trust of their employer, sent remittances to their families and therefor deserve all respect.</li>
            <li>Reassure that even if their employer fails them, local administration and charitable institutions would extend all possible help.</li>
            <li>Out of desperation, many may react in a manner which may appear insulting. Try to understand their issues and be patient.</li>
            <li>If somebody is afraid of getting affected, tell them that the condition is curable, and that most recover from it.</li>
            <li>Remind them that it is safer for their families if they themselves stay away from them.</li>
            <li>Instead of reflecting any mercy, seek their support in the spirit of winning over the situation together.</li>
          </ol>
          <br>
          <p>Source link: <a href="https://www.mohfw.gov.in/pdf/RevisedPsychosocialissuesofmigrantsCOVID19.pdf" target="_blank">Revised Psycho social issues of migrants COVID19 (pdf)</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
