// .state-card{
//     font-size: 0.8rem;
//     h5{
//         margin-bottom: 10spx;
//     }
//     p{
//         margin-bottom: 6px;
//     }
    
// }

.card {
    background: white;
    overflow: hidden;
    text-align: center;

      .card-text-stats {
        padding: 10px;
        grid-area: stats; 
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;
        .date {
            color: rgb(255, 7, 110);
            font-size:13px;
          }
          p {
            color: grey;
            font-size:0.7rem;
            font-weight: 300;
            margin: 0px;
          }
          h5 {
            margin-bottom: 0px;
          }
      }
      .card-stats {
        .stat {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
          
            //color: white;
            padding:10px;
          }
      }

  }