.quick-link-state{
  p{
    font-size: 0.7rem;
    margin-left: 6px;
    .tx-danger{
      color: #e60f24;
    }
    .tx-success {
      color: #08bf58;
    }
  }
}

.average-state{
  width: 10px;
  height: 10px;
}

.card-footer{
  background-color: transparent;
  p{
    margin-bottom: 0px;
  }
}

.mg-l-auto {
    margin-left: auto;
}

.longest-stay-in-hospital-list{
  font-size: 0.9rem;
  p{
    margin-bottom: 0px;
  }
  .color-primary{
    color: #0166e6;
  }
}

.progress{
    height: 3px;
    margin-bottom: 4px;
}

.hospitalised-cases-state-card{
  .table{
    margin-top: 20px;
    font-size: 0.75rem;
    thead{
      font-size: 0.75rem;
      font-weight: normal;
    }
  }
  .table td, .table th {
      padding: .25rem;
  }
}

.hospitalised-cases-state p{
    font-size: 0.75rem;
    color: #08bf58;
}
