<div class="content content-fixed">
  <div class="container">
    <div class="d-sm-flex justify-content-between page-heading">
      <div>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb breadcrumb-title">
            <li class="breadcrumb-item">Helpline</li>
            <li class="breadcrumb-item"><a href="/helpline/awareness">Awareness</a></li>
            <li class="breadcrumb-item">Advisory for Human Resource Management of COVID-19</li>
          </ol>
        </nav>
        <h5 class="mg-b-0 tx-spacing--1">Advisory for Human Resource Management of COVID-19</h5>
      </div>
    </div>
    <div class="row">
      <div class="col-12 card">
        <div class="card-body">
          <p class="text-center">Government of India<br>Ministry of Health & Family Welfare</p>
          <h6 class="mg-b-0 tx-spacing--1 text-center">Guidelines for Dialysis of COVID – 19 patients</h6>
          <br>
          <h6 class="mg-b-0 tx-spacing--1">Guidelines for Dialysis with reference to COVID-19 Infection</h6>
          <p>COVID-19, a disease caused by a novel corona virus (SARS CoV-2), is currently a pandemic, which produces high morbidity in the elderly and in patients with associated comorbidities. Chronic kidney disease stage-5 (CKD-5) patients on dialysis [maintenance hemodialysis (MHD)or continuous ambulatory peritoneal dialysis (CAPD)] are also vulnerable group because of their existing comorbidities, repeated unavoidable exposure to hospital environment and immunosuppressed state due to CKD-5. These patients are therefore not only more prone to acquire infection but also develop severe diseases as compared to general population.</p>
          <p><b><u>Patients on regular dialysis should adhere to prescribed schedule and not miss their dialysis sessions to avoid any emergency dialysis.</u></b></p>
          <p>There will be three situations of patients who require dialysis; patients already on maintenance dialysis, patients requiring dialysis due to acute kidney injury (AKI) and patients critically ill requiring continuous renal replacement therapy (CRRT).</p>
          <p><b>General Guidelines for Administration</b></p>
          <ol>
            <li>State/UT should identify and earmark at-least one hemodialysis facility with adequate number of dialysis machines, trained staff, reverse osmosis (RO) water system and other support equipment as preparatory fixed-point dialysis unit in case of rise of Covid-19 epidemic.</li>
            <li>Health departments may issue directives to the district administrations allowing easy movements of these patients (with one attendant) to dialysis facility. Patients who do not have private vehicles, government run transport system should be organized for facilitating transport of these patients. Patients should use their hospital papers as passto commute to the dialysis unit.</li>
            <li>District administration should ensure that service providers for the dialysis consumables, both for MHD and CAPD should be allowed to deliver the material to the hospital or home as the case may be.</li>
          </ol>
          <p><b>General Guidance for Dialysis Unit</b></p>
          <ol>
            <li>Adequate medical supplies such as dialysate, dialyzers and tubing, catheters, fistula needles, disinfectant and medicines etc. must be ensured in adequate quantity</li>
            <li>A sign board should be posted prominently in the local understandable language as well as Hindi and English asking patients to report any fever, coughing or breathing problem in dialysis unit and waiting area.The information including images for education can be obtained on the International Society of Nephrology website https://www.theisn.org/covid-19.</li>
            <li>All hemodialysis units should educate their personnel in hemodialysis units; including nephrologists, nurses, technicians, other staff and all patients undergoing MHD along with their care givers about COVID 19</li>
            <li>All universal precautions must be strictly followed.</li>
            <li>All staff should strictly follow hand hygiene (seven steps) with soap and water for 20 second before handling any patient and in between two patients. If soap and water are not readily available, use a hand sanitizer that contains at least 60% alcohol. If hands are visibly soiled or dirty, they should be first washed with soap and water and then an alcoholic hand rub used. Avoid touchingyour eyes, nose, and mouth with unwashed hands.</li>
            <li>Medical and support staff treating infected patients should be monitored for COVID infection at the dialysis facility and should take necessary action if found infected.</li>
            <li>Dialysis units should organize healthcare workers shift duties in a way that work of dialysis unit is not affected.</li>
            <li>All hemodialysis units should be aware of the testing, triage and notification policy recommended by the Union Ministry of health and Family welfare and those by State/ UT Health Departments as well as District health authorities. </li>
            <li>Some of the dialysis unit staff should be trained for donning and doffing of Personal Protective Equipment (PPE) so that they can be used for treatment of COVID-19 positive patients.</li>
            <li>All staff should be trained for cough etiquette, hand hygiene and proper use and disposal of mask, gown and eye glassesand the need to protect themselves.</li>
            <li>All patients with suspected COVID-19 be tested as per the local health authorities’ guidelines</li>
            <li>Patients with suspected or positive COVID-19 should be referred to COVID-19 care team as per local guidelines</li>
          </ol>
          <br>
          <p>Source link: <a href="https://www.mohfw.gov.in/pdf/GuidelinesforDialysisofCovid19Patients.pdf" target="_blank">Guidelines for Dialysis of Covid19 Patients (pdf)</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
