<div class="content content-fixed">
  <div class="container">
    <div class="d-sm-flex justify-content-between page-heading">
      <div>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb breadcrumb-title">
            <li class="breadcrumb-item">Helpline</li>
            <li class="breadcrumb-item"><a href="/helpline/awareness">Awareness</a></li>
            <li class="breadcrumb-item">Preventive measures to be taken to contain the spread of Novel Coronavirus (COVID-19)</li>
          </ol>
        </nav>
        <h5 class="mg-b-0 tx-spacing--1">Preventive measures to be taken to contain the spread of Novel Coronavirus (COVID-19)</h5>
      </div>
    </div>
    <div class="row">
      <div class="col-12 card">
        <div class="card-body">
          <h6 class="mg-b-0 tx-spacing--1"><u>OFFICE MEMORANDUM</u></h6>
          <h6 class="mg-b-0 tx-spacing--1">Subject: Preventive measures to be taken to contain the spread of Novel Coronavirus (COVID-19) — regarding.</h6>
          <p>In order to contain the spread of Novel Coronavirus (COVID-19), some precautionary measures are required to be taken by all the employees and the Ministries/Departments. In this regard, it has been decided to issue the following advisory for the well-being of Government employees and in public interest.</p>
          <p>2. All the Ministries/Departments are advised to take all necessary measures such as :-</p>
            <ul>
              <li>Install thermal scanners at the entry of Government buildings, as feasible. Mandatory placing of hand sanitizers at the entry of Government buildings. Those found having flu-like symptoms may be advised to take proper treatment/quarantine etc. </li>
              <li>Discourage, to the maximum extent, entry of visitors in the office complex. Routine issue of visitors/temporary passes should be suspended with immediate effect. Only those visitors whom have proper permission of the officer who they want to meet, should be allowed after being properly screened. </li>
              <li>Meetings, as far as feasible, should be done through video conferencing. To minimize or reschedule meetings involving large number of people unless necessary.</li>
              <li>Avoid non-essential official travel. </li>
              <li>Undertake essential correspondence on official email and avoid sending files and documents to other offices, to the extent possible.</li>
              <li>Facilitate delivery and receipt of dak at the entry point itself of the office building, as far as practicable. </li>
              <li>Close all gyms/recreation centres/creches located in Government buildings. </li>
              <li>Ensure proper cleaning and frequent sanitization of the workplace, particularly of the frequently touched surfaces.</li>
              <li>Ensure regular supply of hand sanitisers, soap and running water in the washrooms.</li>
              <li>All officials may be advised to take care of their own health and look out for respiratory symptoms/fever and, if feeling unwell, should leave the workplace immediately after informing their reporting officers. They should observe home-quarantine as per the guidelines issued by MoH&FW, Government of India available at the following URL: <a href="https://www.mohfw.gov.in/pdf/PreventivemeasuresDOPT.pdf" target="_blank">mohfw.qov.in/DraftGuideIinesforhomequarantine.pdf.</a></li>
              <li>The leave sanctioning authorities are advised to sanction leave whenever any request is made for self-quarantine as a precautionary measure.</li>
              <li>Advise all employees who are at higher risk i.e. older employees, pregnant employees and employees who have underlying medical conditions, to take extra precautions. The Ministries/Departments may take care not to expose such employees to any front-line work requiring direct contact with the public.</li>
            </ul>

            <p>3. An indicative list of Do's and Don'ts is also annexed for wide dissemination.</p>
          <h6>End: As above</h6>
          <p>(Umesh Kumar Bhatia)<br>Deputy Secretary to the Govt. of India </p>
          <p>To,</p>
            <ol>
              <li>All the Ministries/Departments, Government of India</li>
              <li>PMO/Cabinet Secretariat</li>
              <li>PS to Hon'ble MOS(PP)</li>
              <li>P50 to Secretary(Personnel)</li>
              <li>Sr. Tech. Dir., NIC, DoP&T </li>
            </ol>
          <h6 class="mg-b-0 tx-spacing--1 text-center">Do's </h6>
          <ul>
            <li>To maintain personal hygiene and physical distancing.</li>
            <li>To practice frequent hand washing. Wash hands with soap and water or use alcohol-based hand rub. Wash hands even if they are visibly clean. </li>
            <li>To cover your nose and mouth with handkerchief/tissue while sneezing and coughing. </li>
            <li>To throw used tissues into closed bins immediately after use. </li>
            <li>To maintain a safe distance from persons during interaction, especially with those having flu-like symptoms. </li>
            <li>To sneeze in the inner side of your elbow and not to cough into the palms of your hands.</li>
            <li>To take their temperature regularly and check for respiratory symptoms. To see a doctor if you feel unwell (fever, difficulty in breathing and coughing). While visiting doctor, wear a mask/cloth to cover your mouth and nose.</li>
            <li>For any fever/flu-like signs/symptoms, please call State helpline number. or the 24x7 helpline number of the Ministry of Health & Family Welfare at 011-23978046. </li>
          </ul>

          <h6 class="mg-b-0 tx-spacing--1 text-center">Don'ts </h6>
          <ul>
              <li>Shake hands. </li>
              <li>Have a close contact with anyone, if you're experiencing cough and fever.</li>
              <li>Touch your eyes, nose and mouth. </li>
              <li>Sneeze or cough into palms of your hands. </li>
              <li>Spit in Public. </li>
              <li>Travel unnecessarily, particularly to any affected region.</li>
              <li>Participate in large gatherings, including sitting in groups at canteens. </li>
              <li>Visit gyms, clubs and crowded places etc.</li>
              <li>Spread rumours or panic. </li>
          </ul>
          <p>Source link: <a href="https://www.mohfw.gov.in/pdf/PreventivemeasuresDOPT.pdf" target="_blank">Preventive Measures DOPT (pdf)</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
