<div class="content content-fixed background-transparent">
  <div class="container">


    <div class="page-header">
      <div class="page-header-text">
        <span class="ed-tag">Coronavirus Live Tracker India</span>
        <!-- Coronavirus Live Tracker -  -->
        <h1>Dashboard for the COVID-19 Virus Outbreak in India</h1>
      </div>
      <app-heaer-bar-chart></app-heaer-bar-chart>
    </div>

    <div class="data-updated-time">
      <h6>Last Updated on <strong>21 Apr</strong></h6>
    </div>

    <div class="quick-link">
      <div class="col-quick-link">
        <div class="card confirmed-card">
          <div class="card-body">
            <div class="card-statistics-container">
              <div>
                <h6 class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-8">Confirmed</h6>
                <div class="quick-link-statistics">
                  <h3 class="tx-normal tx-rubik mg-b-0 mg-r-5 lh-1 text-danger" *ngIf="totalConfirmedCases">
                    {{totalConfirmedCases | number}} <span class="new-record-update" *ngIf="todaysConfirmCount">[+{{todaysConfirmCount}}]</span>
                  </h3>
                </div>
              </div>
              <div>
                <canvas baseChart width="120" height="80" [datasets]="lineChartConfirmedData" [labels]="lineChartConfirmedSourceLabels"
                  [options]="cardLineChartOptions" [colors]="lineChartConfirmedSourceColors" [legend]="false" [chartType]="'line'"
                  [plugins]="lineChartPlugins">
               </canvas>
              </div>
            </div>
            <div class="deltas-container">
              <!-- *ngIf="totalConfirmUpCasesCount" -->
              <ng-container *ngIf="totalConfirmUpCasesCount">
                <span class="deltas deltas-up">
                  <i class="fa fa-arrow-up" aria-hidden="true"></i>{{totalConfirmUpCasesCount}}
                </span>
                more than yesterday
              </ng-container>
              <ng-container *ngIf="totalConfirmDownCasesCount">
                <span class="deltas deltas-down">
                  <i class="fa fa-arrow-down" aria-hidden="true"></i>{{totalConfirmDownCasesCount}}
                </span>
                less than yesterday
              </ng-container>
            </div>
            <div class="smiley">
              <img src="/assets/images/confirmed-smiley.svg" alt="">
            </div>
          </div>
        </div>
      </div>


      <div class="col-quick-link">
        <div class="card active-card">
          <div class="card-body">

            <div class="card-statistics-container">
              <div>
                <h6 class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-8">Active</h6>
                <div class="quick-link-statistics">
                  <h3 class="tx-normal tx-rubik mg-b-0 mg-r-5 lh-1 text-warning" *ngIf="totalHospitalisedCases">
                    {{totalHospitalisedCases| number}}
                    <span class="new-record-update">&nbsp;</span>
                  </h3>
                </div>
              </div>
              <div>
                <canvas baseChart width="120" height="80" [datasets]="lineChartActiveData" [labels]="lineChartActiveSourceLabels"
                  [options]="cardLineChartOptions" [colors]="lineChartActiveSourceColors" [legend]="false" [chartType]="'line'"
                  [plugins]="lineChartPlugins">
               </canvas>
              </div>
            </div>

            <div class="deltas-container">
              <p class="tx-11 tx-color-03 mg-b-0" *ngIf="totalHospitalisedCases && totalCases">
                <span class="tx-medium">{{(100*totalHospitalisedCases/totalCases).toFixed(2) | number: '1.0-0'}}
                  %<i class="icon ion-md-arrow-down"></i></span> of total cases</p>
            </div>

            <div class="smiley">
              <img src="/assets/images/active-smiley.svg" alt="">
            </div>

          </div>
        </div>
      </div>

      <div class="col-quick-link">
        <div class="card  recovered-card">
          <div class="card-body">

            <div class="card-statistics-container">
              <div>
                <h6 class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-8">Recovered</h6>
                <div class="quick-link-statistics">
                  <h3 class="tx-normal tx-rubik mg-b-0 mg-r-5 lh-1 text-success" *ngIf="totalDischargedCases">
                    {{totalDischargedCases| number}}
                    <span class="new-record-update" *ngIf="todaysRecoveredCount">[+{{todaysRecoveredCount}}]</span>
                  </h3>
                </div>
              </div>
              <div>
                <canvas baseChart width="120" height="80" [datasets]="lineChartDischargeData" [labels]="lineChartDischargeSourceLabels"
                  [options]="cardLineChartOptions" [colors]="lineChartDischargeSourceColors" [legend]="false" [chartType]="'line'"
                  [plugins]="lineChartPlugins">
               </canvas>
              </div>
            </div>

            <div class="deltas-container">
              <p class="tx-11 tx-color-03 mg-b-0" *ngIf="totalDischargedCases && totalCases">
                <span class="tx-medium">{{(100*totalDischargedCases/totalCases).toFixed(2)| number: '1.0-0'}}
                  %<i class="icon ion-md-arrow-up"></i></span> of total cases</p>
            </div>

            <div class="smiley">
              <img src="/assets/images/recovered-smiley.svg" alt="">
            </div>

          </div>
        </div>
      </div>

      <div class="col-quick-link">
        <div class="card  deceased-card">
          <div class="card-body">


            <div class="card-statistics-container">
              <div>
                <h6 class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-8">Deceased</h6>
                <div class="quick-link-statistics">
                  <h3 class="tx-normal tx-rubik mg-b-0 mg-r-5 lh-1 text-light" *ngIf="totalDeathCases">
                    {{totalDeathCases| number}}
                    <span class="new-record-update" *ngIf="todaysDeathCount">[+{{todaysDeathCount}}]</span>
                  </h3>
                </div>
              </div>
              <div>
                <canvas baseChart width="120" height="80" [datasets]="lineChartDeathData" [labels]="lineChartDeathLabels"
                  [options]="cardLineChartOptions" [colors]="lineChartDeathColors" [legend]="false" [chartType]="'line'"
                  [plugins]="lineChartPlugins">
                </canvas>
              </div>
            </div>

            <div class="deltas-container">
              <p class="tx-11 tx-color-03 mg-b-0" *ngIf="totalDeathCases && totalCases">
                <span class="tx-medium">{{(100*totalDeathCases/totalCases).toFixed(2)| number: '1.0-0'}} %<i
                    class="icon ion-md-arrow-up"></i></span> of total cases</p>
            </div>

            <div class="smiley">
              <img src="/assets/images/deceased-smiley.svg" alt="">
            </div>

          </div>
        </div>
      </div>

      <!-- <div class="col-quick-link margin-top-10">
        <div class="card card-body tests-conducted-card">
          <h6 class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-8">ICMR Tests</h6>
          <div class="d-flex d-lg-block d-xl-flex align-items-end quick-link-state" *ngIf="lastDateTestConductedData">
            <h3 class="tx-normal tx-rubik mg-b-0 mg-r-5 lh-1 text-info">{{lastDateTestConductedData.PositiveCount}}</h3>
            <p class="tx-11 tx-color-03 mg-b-0">
              <span class="tx-medium">Positives out of {{lastDateTestConductedData.IndividualTestCount}} tests</span>
            </p>
            <div class="deltas-container">
              <ng-container>
                <span class="deltas">
                  {{lastDateTestConductedData.ConductedOn}}
                </span>
              </ng-container>
              
            </div>
            
          </div>
          
          <div style="display: block;">
          </div>
        </div>
      </div> -->

    </div>


    <div class="india-map">
      <div class="card">
        <div class="card-header">
          Map
          <p>Rollover each state to view the stats</p>
        </div>
        <div class="card-body">
          <div class="map">
            <app-country-map></app-country-map>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header">
          Top State
        </div>
        <div class="card-body top-state-body">
          <app-top-state-cards></app-top-state-cards>
        </div>
      </div>
    </div>

    <div class="states-table">
      <div class="card">
        <div class="card-header">
          <strong>
            States Statistics
          </strong>
        </div>
        <app-top-state-table [endDate]="endDate"></app-top-state-table>
      </div>
    </div>


    <div class="number-of-cases">
      <div class="card">
        <div class="card-header">
          Number Of Cases
          <p *ngIf="startDate && endDate">{{startDate.toLocaleDateString("en-US" , "Option")}} to
            {{endDate.toLocaleDateString("en-US" , "Option")}}</p>
        </div>
        <div class="card-body">
          <!-- <div style="display: block;">
            <canvas width="500px" height="300px" baseChart [datasets]="casesLineChartData" 
                [labels]="casesLineChartLabels" [options]="casesLineChartOptions"
                [colors]="casesLineChartColors" [chartType]="'line'">
            </canvas>
          </div> -->
          <app-number-of-cases></app-number-of-cases>
        </div>
      </div>

      <div class="card cumulative-confirmed-card">
        <div class="card-header">Cumulative Confirmed Cases in India</div>
        <div class="card-body" style="padding: 0px; position: relative;"
          *ngIf="dateWisePateintData && dateWisePateintData.length">
          <div style="width: 100%; position: absolute; bottom: 0px;">
            <app-confirm-cumulative-chart [cases]="dateWisePateintData" [endDate]="endDate">
            </app-confirm-cumulative-chart>
          </div>
        </div>
      </div>

    </div>


    <div class="state-chart">
      <div class="card">
        <div class="card-header">State chart</div>
        <div class="card-body">
          <div id="chart">
            <div style="display: block;" class="stacked-chart">
              <canvas class="for-desktop" width="500px" height="300px" baseChart [datasets]="stateBarChartData"
                [labels]="stateBarChartLabels" [options]="stateBarChartOptions" [plugins]="stateBarChartPlugins"
                [colors]="chartColors" [legend]="false" chartType="horizontalBar">
              </canvas>
              <canvas class="for-mobile" width="600px" height="800px" baseChart [datasets]="stateBarChartData"
                [labels]="stateBarChartLabels" [options]="stateBarChartOptions" [plugins]="stateBarChartPlugins"
                [colors]="chartColors" [legend]="false" chartType="horizontalBar">
              </canvas>
            </div>
          </div>
        </div>
      </div>
    </div>



    <div class="test-conducted">

      <div class="card">
        <div class="card-header" style="text-align: center;">ICMR Tests</div>
        <div class="card-body">
          <canvas height="200" baseChart [data]="doughnutIcmrChartData" [legend]="false"
            [labels]="doughnutIcmrChartLabels" [chartType]="doughnutChartType" [options]="doughnutIcmrChartOptions"
            [colors]="doughnutIcmrChartColors">
          </canvas>
        </div>
        <div class="card-footer">
          <div>
            <h6>{{lastDateTestConductedData.PositiveCount}}</h6>
             Positives
          </div>
          <div>
            <h6>{{lastDateTestConductedData.IndividualTestCount}}</h6>
            Test Conducted
          </div>
        </div>
      </div>


      <div class="card">
        <div class="card-header">Tests Conducted Cumulative</div>
        <div class="card-body" *ngIf="filteredTestConductedData && filteredTestConductedData.length">
           <app-test-conducted-cumulative-chart [filteredTestConductedData]="filteredTestConductedData">
            </app-test-conducted-cumulative-chart>
        </div>
      </div>
    </div>


    <div class="social">

      <div class="card">
        <div class="card-body self-assessment-body"
          style="background-image: url('/assets/images/self-assessment-image.jpg');">
          <div>
            <h4 class="m-3 mt-4">Self assessment for symptoms of Corona Virus Infection</h4>
            <a target="_blank" href="https://covid-19.maharashtra.gov.in/" class="btn btn-success m-3">Visit</a>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header">Tweets</div>
        <div class="card-body twitter-timeline-body">
          <div class="twitter-timeline-wrapper" id="twitterTimelineWrapper">
            <a class="twitter-timeline" data-theme="light"
              href="https://twitter.com/covid_19_India?ref_src=twsrc%5Etfw">Tweets by covid_19_India</a>
          </div>
        </div>
      </div>

    </div>


  </div>
</div>