<div class="content content-fixed">
  <div class="container">
    <div class="d-sm-flex justify-content-between page-heading">
      <div>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb breadcrumb-title">
            <li class="breadcrumb-item">Helpline</li>
            <li class="breadcrumb-item"><a href="/helpline/awareness">Awareness</a></li>
            <li class="breadcrumb-item">COVID-19: GUIDELINES ON DEAD BODY MANAGEMENT</li>
          </ol>
        </nav>
        <h5 class="mg-b-0 tx-spacing--1">COVID-19: GUIDELINES ON DEAD BODY MANAGEMENT</h5>
      </div>
    </div>
    <div class="row">
      <div class="col-12 card">
        <div class="card-body">
          <h6 class="mg-b-0 tx-spacing--1">COVID-19: GUIDELINES ON DEAD BODY MANAGEMENT</h6>
          <div class="mb-2">
            <p class="font-weight-bold">1. Scope of the document</p>
            <ul>
              <li>There are currently over 100 laboratory confirmed cases and two deaths due to Novel Coronavirus disease (COVID-19) in India. Being a new disease there is knowledge gap on how to dispose of dead body of a suspect or confirmed case of COVID-19.</li>
              <li>This guideline is based on the current epidemiological knowledge about the COVID-19. India is currently having travel related cases and few cases of local transmission. At this stage, all suspect/ confirmed cases will be isolated in a health care facility. Hence the document is limited in scope to hospital deaths.</li>
            </ul>
          </div>
          <div class="mb-2">
            <p class="font-weight-bold">2. Key Facts</p>
            <ul>
              <li>The main driver of transmission of COVID-19 is through droplets. There is unlikely to be an increased risk of COVID infection from a dead body to health workers or family members who follow standard precautions while handling body.</li>
              <li>Only the lungs of dead COVID patients, if handled during an autopsy, can be infectious.</li>
            </ul>
          </div>
          <div class="mb-2">
            <p class="font-weight-bold">3. Standard Precautions to be followed by health care workers while handling dead bodies of COVID.</p>
            <p>Standard infection prevention control practices should be followed at all times. These include:</p>
            <ol>
              <li>Hand hygiene.</li>
              <li>Use of personal protective equipment (e.g., water resistant apron, gloves, masks, eyewear).</li>
              <li>Safe handling of sharps.</li>
              <li>Disinfect bag housing dead body; instruments and devices used on the patient.</li>
              <li>Disinfect linen. Clean and disinfect environmental surfaces.</li>
            </ol>
          </div>
          <div class="mb-2">
            <p class="font-weight-bold">4. Training in infection and prevention control practices</p>
            <p>All staff identified to handle dead bodies in the isolation area, mortuary, ambulance and those workers in the crematorium / burial ground should be trained in the infection prevention control practices.</p>
          </div>
          <div class="mb-2">
            <p class="font-weight-bold">5. Removal of the body from the isolation room or area</p>
            <ul>
              <li>The health worker attending to the dead body should perform hand hygiene, ensure proper use of PPE (water resistant apron, goggles, N95 mask, gloves).</li>
              <li>All tubes, drains and catheters on the dead body should be removed.</li>
              <li>Any puncture holes or wounds (resulting from removal of catheter, drains, tubes, or otherwise) should be disinfected with 1% hypochlorite and dressed with impermeable material.</li>
              <li>Apply caution while handling sharps such as intravenous catheters and other sharp devices. They should be disposed into a sharps container.</li>
              <li>Plug Oral, nasal orifices of the dead body to prevent leakage of body fluids.</li>
              <li>If the family of the patient wishes to view the body at the time of removal from the isolation room or area, they may be allowed to do so with the application of Standard Precautions.</li>
              <li>Place the dead body in leak-proof plastic body bag. The exterior of the body bag can be decontaminated with 1% hypochlorite.The body bagcan be wrapped with a mortuary sheet or sheet provided by the family members.</li>
              <li>The body will be either handed over to the relatives or taken to mortuary.</li>
              <li>All used/ soiled linen should be handled with standard precautions, put in biohazard bag and the outer surface of the bag disinfected with hypochlorite solution.</li>
              <li>Used equipment should be autoclaved or decontaminated with disinfectant solutions in accordance with established infection prevention control practices.</li>
              <li>All medical waste must be handled and disposed of in accordance with Biomedical waste management rules.</li>
              <li>The health staff who handled the body will remove personal protective equipment and will perform hand hygiene.</li>
              <li>Provide counseling to the family members and respect their sentiments.</li>
            </ul>
          </div>
          <div class="mb-2">
            <p class="font-weight-bold">6. Environmental cleaning and disinfection</p>
            <p>All surfaces of the isolation area (floors, bed, railings, side tables, IV stand, etc.) should be wiped with 1% Sodium Hypochlorite solution; allow a contact time of 30 minutes, and then allowed to air dry.</p>
          </div>
          <div class="mb-2">
            <p>7. Handling of dead body in Mortuary</p>
            <ul>
              <li>Mortuary staff handling COVID dead body should observe standard precautions.</li>
              <li>Dead bodies should be stored in cold chambers maintained at approximately 4°C.</li>
              <li>The mortuary must be kept clean. Environmental surfaces, instruments and transport trolleys should be properly disinfected with 1% Hypochlorite solution.</li>
              <li>After removing the body, the chamber door, handles and floor should be cleaned with sodium hypochlorite 1% solution.</li>
            </ul>
          </div>
          <div class="mb-2">
            <p class="font-weight-bold">8. Embalming</p>
            <ul>
              <li>Embalming of dead body should not be allowed.</li>
            </ul>
          </div>
          <div class="mb-2">
            <p class="font-weight-bold">9. Autopsies on COVID-19 dead bodies </p>
            <p>Autopsies should be avoided. If autopsy is to be performed for special reasons, the following infection prevention control practices should be adopted:</p>
            <ul>
              <li>The Team should be well trained in infection prevention control practices.</li>
              <li>The number of forensic experts and support staff in the autopsy room should be limited.</li>
              <li>The Team should use full complement of PPE (coveralls, head cover, shoe cover, N 95 mask, goggles / face shield).</li>
              <li>Round ended scissors should be used</li>
              <li>PM40 or any other heavy duty blades with blunted points to be used to reduce prick injuries</li>
              <li>Only one body cavity at a time should be dissected</li>
              <li>Unfixed organs must be held firm on the table and sliced with a sponge – care should be taken to protect the hand</li>
              <li>Negative pressure to be maintained in mortuary. An oscillator saw with suction extraction of the bone aerosol into a removable chamber should be used for sawing skull, otherwise a hand saw with a chain-mail glove may be used</li>
              <li>Needles should not be re-sheathed after fluid sampling – needles and syringes should be placed in a sharps bucket.</li>
              <li>Reduce aerosol generation during autopsy using appropriate techniques especially while handling lung tissue.</li>
              <li>After the procedure, body should be disinfected with 1% Sodium Hypochlorite and placed in a body bag, the exterior of which will again be decontaminated with 1% Sodium Hypochlorite solution.</li>
              <li>The body thereafter can be handed over to the relatives.</li>
              <li>Autopsy table to be disinfected as per standard protocol.</li>
            </ul>
          </div>
          <div class="mb-2">
            <p class="font-weight-bold">10. Transportation</p>
            <ul>
              <li>The body, secured in a body bag, exterior of which is decontaminated poses no additional risk to the staff transporting the dead body.</li>
              <li>The personnel handling the body may follow standard precautions (surgical mask, gloves).</li>
              <li>The vehicle, after the transfer of the body to cremation/ burial staff, will be decontaminated with 1% Sodium Hypochlorite.</li>
            </ul>
          </div>
          <div class="mb-2">
            <p class="font-weight-bold">11. At the crematorium/ Burial Ground</p>
            <ul>
              <li>The Crematorium/ burial Ground staff should be sensitized that COVID 19 does not pose additional risk.</li>
              <li>The staff will practice standard precautions of hand hygiene, use of masks and gloves.</li>
              <li>Viewing of the dead body by unzipping the face end of the body bag (by the staff using standard precautions) may be allowed, for the relatives to see the body for one last time.</li>
              <li>Religious rituals such as reading from religious scripts, sprinkling holy water and any other last rites that does not require touching of the body can be allowed.</li>
              <li>Bathing, kissing, hugging, etc. of the dead body should not be allowed.</li>
              <li>The funeral/ burial staff and family members should perform hand hygiene after cremation/ burial.</li>
              <li>The ash does not pose any risk and can be collected to perform the last rites.</li>
              <li>Large gathering at the crematorium/ burial ground should be avoided as a social distancing measure as it is possible that close family contacts may be symptomatic and/ or shedding the virus.</li>
            </ul>
          </div>
          <p>Source link: <a href="https://www.mohfw.gov.in/1584423700568_COVID19GuidelinesonDeadbodymanagement.pdf" target="_blank">COVID-19: GUIDELINES ON DEAD BODY MANAGEMENT (pdf)</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
