<div class="content content-fixed">
  <div class="container">
    <div class="d-sm-flex justify-content-between page-heading">
      <div>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb breadcrumb-title">
            <li class="breadcrumb-item">Helpline</li>
            <li class="breadcrumb-item"><a href="/helpline/awareness">Awareness</a></li>
            <li class="breadcrumb-item">Advisory on the use of hydroxy-chloroquine as prophylaxis for SARS-CoV-2 infection</li>
          </ol>
        </nav>
        <h5 class="mg-b-0 tx-spacing--1">Advisory on the use of hydroxy-chloroquine as prophylaxis for SARS-CoV-2 infection</h5>
      </div>
    </div>
    <div class="row">
      <div class="col-12 card">
        <div class="card-body">
          <h6 class="mg-b-0 tx-spacing--1"><u>Advisory on the use of hydroxy-chloroquine as prophylaxis for SARS-CoV-2 infection</u></h6>
          <p>The <b>National Task force for COVID-19</b> constituted by Indian Council of Medical Research recommends the use of hydroxy-chloroquine for prophylaxis of SARS-CoV-2 infection for high risk population. Copy is annexed.</p>
          <p>the Advisory provides for placing the following high risk population under chemoprophylaxis with hydroxy chloroquine :</p>
          <ul>
              <li>Asymptomatic Healthcare Workers involved in the care of suspected confirmed cases of COVID-19</li>
              <li>Asymptomatic household contacts of laboratory confirmed cases</li>
          </ul>
          <p>The protocol recommended by the National Task force has been approved by the Drug controller General of india for restricted use in emergency situations.</p>
          <p>While following the above recommendations, States should take note of the following:</p>
          <ol>
              <li><b>The placing of healthcare workers under chemoprophylaxis should not instill a sense of false security.</b> they should follow all prescribed public health measures such as frequent washing of hands, respiratory etiquettes, keeping a distance of minimum 1m and use of personal protective equipment (whereever applicable).</li>
              <li>They should self-monitor their health and report to health authorities immediately in the event of them becoming symptomatic.</li>
              <li>The high risk contacts of positive case placed under chemo prophylaxis, should remain in home quarantine while on prophylactic therapy.</li>
              <li>As recommended by the said Task Force, the drug should only be given on the prescription of a registered medical practitioner. The contraindications mentioned in the recommendations should strickly be followed.</li>
              <li>Apart from the symptoms of COVID-19 (falsever, cough, breathing difficulty), if the person on chemoprophylaxis develops any other symptoms, he should immediately seek medical treatment of the medical practitioner who has perscribed the chemoprophylaxis.</li>
          </ol>
          <h6>it is reiterated that the intake of the above medicine should not in still sense of false security.</h6>
          <p>Source link: <a href="https://www.mohfw.gov.in/pdf/AdvisoryontheuseofHydroxychloroquinasprophylaxisforSARSCoV2infection.pdf" target="_blank">Advisory on the use of Hydroxy-chloroquine as prophylaxis for SARS-CoV-2 infection (pdf)</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
