<div class="content content-fixed">
    <div class="container">
        <br/>
        <!-- Temporary append data to div for reading as DOM-->
        <div [innerHTML]="htmlString" style="display:none"></div>

        <div class="row row-xs quick-link">
            <div class="col-md-3 col-sm-4 margin-top-10" *ngFor="let state of stateWiseData">

                <div class="card card-body state-card" [ngStyle]="{'background-color': state.backgroundColor}"><!--- [ngStyle]="{'background-color': getRandomColor(), 'color':'white'}"-->

                    <div class="d-flex d-lg-block d-xl-flex align-items-end quick-link-state">
                        <h5 class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-8">{{state.name}}</h5>
                    </div>
                    <p class="tx-normal tx-rubik mg-b-0 mg-r-5 lh-1">Confirmed Indian Cases :
                        <strong><app-counter [maxValue]="state.totalIndianConfirmCases"></app-counter></strong>
                    </p>
                    <p class="tx-normal tx-rubik mg-b-0 mg-r-5 lh-1">Confirmed Foreign Nationals :
                        <strong><app-counter [maxValue]="state.totalForeignConfirmCases"></app-counter></strong>
                    </p>
                    <p class="tx-normal tx-rubik mg-b-0 mg-r-5 lh-1">Recovered :
                        <strong><app-counter [maxValue]="state.totalDischargedCases"></app-counter></strong>
                    </p>
                    <p class="tx-normal tx-rubik mg-b-0 mg-r-5 lh-1">Deceased :
                        <strong><app-counter [maxValue]="state.totalDeathCases"></app-counter></strong>
                    </p>
                </div>

            </div>
        </div>
</div>
</div>