<div class="content content-fixed">
  <div class="container">
    <div class="d-sm-flex justify-content-between page-heading">
      <div>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb breadcrumb-title">
            <li class="breadcrumb-item">Helpline</li>
            <li class="breadcrumb-item"><a href="/helpline/awareness">Awareness</a></li>
            <li class="breadcrumb-item">Guidelines on the measures to be taken by Ministries/ Departments of Government of India</li>
          </ol>
        </nav>
        <h5 class="mg-b-0 tx-spacing--1">Guidelines on the measures to be taken by Ministries/ Departments of Government of India</h5>
      </div>
    </div>
    <div class="row">
      <div class="col-12 card">
        <div class="card-body">
          <h6 class="mg-b-0 tx-spacing--1">Annexure to Ministry of Home Affairs Order No .40-3/2020-D dated 024.03.2020</h6>
          <h6 class="mg-b-0 tx-spacing--1">Guidelines on the measures to be taken by Ministries/ Departments of Government of India, State/Union Territory Governments and State/ Union Territory Authorities for containment of COVID-19 Epidemic in the Country.</h6>
          <br>
          <ol>
            <li>Offices of the Government of India, its Autonomous/ Subordinate Offices and Public Corporations shall remain closed.<br>Exceptions:<br>Defence, central armed police forces, treasury, public utilities (including petroleum, CNG, LPG, PNG), disaster management, power generation and transmission units, post offices, National Informatics Centre, Early Warning Agencies</li>
            <li>
              Offices of the State/ Union Territory Governments, their Autonomous Bodies, Corporations, etc. shall remain closed.<br>
              Exceptions:<br>
              <ol type="a">
                <li>Police, home guards, civil defence, fire and emergency services, disaster management, and prisons.</li>
                <li>District administration and Treasury</li>
                <li>Electricity, water, sanitation</li>
                <li>Municipal bodies—Only staff required for essential services like sanitation, personnel related to water supply etc</li>
              </ol>
              The above offices (SI. No I & 2) should work with minimum number of employees. All other offices may continue to work-from-home only.
            </li>
            <li>Hospitals and all related medical establishments, including their manufacturing and distribution units, both in public and private sector, such as dispensaries, chemist and medical equipment shops, laboratories, clinics, nursing homes, ambulance etc. will continue to remain functional. The transportation for all medical personnel, nurses, para-medical staff, other hospital support services be permitted.</li>
            <li>Commercial and private establishments shall be closed down.<br>
              Exceptions:<br>
              <ol type="a">
                <li>Shops, including ration shops (under PDS), dealing with food, groceries, fruits and vegetables, dairy and milk booths, meat and fish, animal fodder. However, district authorities may encourage and facilitate home delivery to minimize the movement of individuals outside their homes.</li>
                <li>Banks, insurance offices, and ATMs.</li>
                <li>Print and electronic media</li>
                <li>Telecommunications, internet services, broadcasting and cable services. IT and IT enabled Services only (for essential services) and as far as possible to work from home.</li>
                <li>Delivery of all essential goods including food, pharmaceuticals, medical equipment through E-commerce.</li>
                <li>Petrol pumps, LPG, Petroleum and gas retail and storage outlets.</li>
                <li>Power generation, transmission and distribution units and services.</li>
                <li>Capital and debt market services as notified by the Securities and Exchange Board of India</li>
                <li>Cold storage and warehousing services.</li>
                <li>Private security services</li>
              </ol>
              All other establishments may work-from-home only.
            </li>
            <li>
              Industrial Establishments will remain closed.
              <br>
              Exceptions:<br>
              <ol type="a">
                <li>Manufacturing units of essential commodities.</li>
                <li>Production units, which require continuous process, after obtaining required permission from the State Government</li>
              </ol>
            </li>
            <li>
              All transport services - air, rail, roadways - will remain suspended.<br>
              Exceptions:<br>
              <ol type="a">
                <li>Transportation for essential goods only.</li>
                <li>Fire, law and order and emergency services.</li>
              </ol>
            </li>
            <li>
              Hospitality Services to remain suspended<br>
              Exceptions:<br>
              <ol type="a">
                <li>Hotels, homestays, lodges and motels, which are accommodating  tourists and persons stranded due to lockdown, medical and emergency staff, air and sea crew.</li>
                <li>Establishments used/ earmarked for quarantine facilities.</li>
              </ol>
            </li>
            <li>All educational, training, research, coaching institutions etc. shall remain closed.</li>
            <li>All places of worship shall be closed for public. No religious congregations will be permitted, without any exception.</li>
            <li>All social/ political/ sports/ entertainment/ academic/ cultural/ religious functions I gatherings shall be barred.</li>
            <li>In case offunerals, congregation of not more than twenty persons will be permitted.</li>
            <li>All persons who have arrived into India after 15.02.2020, and all such persons who have been directed by health care personnel to remain under strict home/ institutional quarantine for a period as decided by local Health Authorities, failing which they will be liable to legal action under Sec. 188 of the IPC.</li>
            <li>Wherever  exceptions  to  above  containment  measures  have  been allowed,  the organisations/employers  must  ensure  necessary  precautions  against  COVI0-19 virus, as well as social distance measures, as advised by the Health Department from time to time.</li>
            <li>In order to implement these  containment measures, the District Magistrate will deploy Executive Magistrates as Incident Commanders in the respective local jurisdictions. The Incident Commander will be responsible for the overall implementation of these measures in their respective jurisdictions. All other line department officials in the specified area will work under the directions of such incident commander. The Incident Commander will issue passes for enabling essential movements as explained.</li>
            <li>All enforcing authorities to note that these strict restrictions fundamentally relate to movement of people, but not to that of essential goods.</li>
            <li>The Incident Commanders will in particular ensure that all efforts for mobilisation of resources, workers and material for augmentation and expansion of hospital infrastructure shall continue without any hindrance.</li>
            <li>Any person violating these containment measures will be liable to be proceeded against as per the provisions of Section 51 to 60 of the Disaster Management Act, 2005, besides legal action under Sec. 188 of the IPC (as per Appendix).</li>
            <li>The above containment measures will remain in force, in all parts of the country, for a period of 21 days with effect from 25.03.2020.</li>
          </ol>
          <br>
          <p>Source link: <a href="https://www.mohfw.gov.in/pdf/Annexure_MHA.pdf" target="_blank">Annexure to Ministry of Home Affairs (pdf)</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
