<div class="content content-fixed">
  <div class="container">
    <div class="d-sm-flex justify-content-between page-heading">
      <div>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb breadcrumb-title">
            <li class="breadcrumb-item">Helpline</li>
            <li class="breadcrumb-item"><a href="/helpline/awareness">Awareness</a></li>
            <li class="breadcrumb-item">Government of India Ministry of Shipping (Ports Wing)</li>
          </ol>
        </nav>
        <h5 class="mg-b-0 tx-spacing--1">Government of India Ministry of Shipping (Ports Wing)</h5>
      </div>
    </div>
    <div class="row">
      <div class="col-12 card">
        <div class="card-body">
          <h6 class="mg-b-0 tx-spacing--1 text-center">No: PD- I 4033 / 4/2020-PD_VII <br> Government of India <br> Ministry of Shipping <br> (Ports Wing)</h6>
          <p class="float-right">1, Parliament Street <br>Transport Bhawan, New Delhi <br> Dated: 23.3.2020</p>
          <p class="clearfix"></p>
          <br>
          <h6 class="mg-b-0 tx-spacing--1 text-center"><u>OFFICE ORDER</u></h6>
          <ol>
            <li>In, order to contain the spread of Coronavirus, various State Governments/Union, Territories have issued prohibitory orders, imposing restrictions on non-essential services.</li>
            <li>In this regard, it is brought to the notice of all concerned that <i>'transport service for carriage of goods by water and any service connected with loading, unloading, movement or storage of goods in any port are essential service'.</i></li>
            <li>All ports and IWAI are requested to take action accordingly, while dealing with incoming vessel, Ports should act in compliance with DGS order no. 4 of 2020 dated 20.03.2020, SoP issued by Ministry of Shipping dated 11.03.2020 and any other order/SoP issued by Ministry of Shipping or DG Shipping from time to time.</li>
            <li>Chairmen of Major Ports shall set up a control room and intimate the details to this Ministry.</li>
          </ol>
          <p class="float-right">(Arvind Chaudhary) <br> Director</p>
          <p class="clearfix"></p>
          <br>
          <p>To,</p>
          <ol type="i">
              <li>Chairmen/CMD, All Major Ports and IWAI</li>
              <li>Chief Secretary of Maritime States/UTs</li>
              <li>Secretaries of State looking after Ports/Maritime Boards</li>
              <li>DG(S)</li>
              <li>MD,IPA</li>
          </ol>
          <p>Copy to:</p>
          <ol type="i">
              <li>PS to Hon'ble Minister (IC)</li>
              <li>Secretary(Shipping)</li>
              <li>Secretary, MoH & FW</li>
              <li>Home Secretary, MHA</li>
              <li>Secretary, Ministry of Commerce</li>
              <li>Special Secretary (Logistics)</li>
          </ol>
          <p>Copy to for Internal Circulation to:</p>
          <ol type="i">
            <li>PS to AS(s)</li>
            <li>PS to JS(P)/JS(S)/JS(SM)/JS(PPP)/JS(A)</li>
            <li>PS To Sr. Advisor(E)</li>
            <li>All Director/DS in Ministry of Shipping</li>
          </ol>
          <p>Source link: <a href="https://www.mohfw.gov.in/pdf/ministryofshippingOrderdated2332020.pdf" target="_blank">Ministry of shipping Order dated 23-03-2020 (pdf)</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
