.breadcrumb-title{
    margin-top: 10px;
}

.legend-label-color{
  width: 8px;
  height: 8px;
  border-radius: 50%;
  display: inline-block;
  background-color: rgba(0,0,0,0.1);
  margin-right: 4px;
}

.date-range-select{
  width: 300px;
  text-align: center;
  background-color: #fff;
  cursor: pointer;
}

.rounded-circle{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 4px;

  &.male{
    background-color: #86c7f3;
  }

  &.female{
    background-color: #ffa1b5;
  }

}

.card-footer{
  .tx-uppercase{
    font-size: 0.75rem;
    text-transform: uppercase;
  }
  p,h5{
    margin-bottom: 0px;
  }
  .card-footer-state{
    small{
      color: rgba(0,0,0,0.5);
    }
  }
}

.nationality-legends{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  //align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 0.8rem;
  max-width: 180px;
  margin:auto;
  margin-top: 10px;
  .nationality-lable{
    display: flex;
    margin-left: 0.3rem;
    margin-right: 0.3rem;
  }
  .nationality-lable-text{
    flex: auto;
  }
  .nationality-value{
    text-align: right;
    flex: 1;
  }
}

.gender-over-time-body{
  display: flex;
  flex-direction: column;
  .canvas-wrapper{
    flex: auto;
    display: flex;
    align-items: flex-end;
    canvas{
      height: 100%;
    }
  }
}

.quick-link-state{
  p{
    font-size: 0.7rem;
    margin-left: 6px;
    .tx-danger{
      color: #e60f24;
    }
    .tx-success {
      color: #08bf58;
    }
  }
}

.icon-male{
  width: 40px;
  height: 40px;
  border-radius: 4px;
  background-color: #86c7f3!important;
  color: #fff;
}

.icon-female{
  width: 40px;
  height: 40px;
  border-radius: 4px;
  background-color: #ffa1b5!important;
  color: #fff;
}

.media{
  .media-body{
    margin-left: 6px;
    h6{
      margin-bottom: 2px;
    }
    p{
      margin-bottom: 0px;
      font-size: 0.8rem;
      opacity: 0.5;
    }
  }
}
