<div class="content content-fixed">
  <div class="container">
    <div class="d-md-flex justify-content-between page-heading mg-b-10 mg-lg-b-25 mg-xl-b-30" style="margin-bottom: 20px;">
      <div>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb breadcrumb-title">
            <li class="breadcrumb-item"><a>Coronavirus Tracker India</a></li>
            
          </ol>
        </nav>
        <h1 class="mg-b-0 tx-spacing--1 text-font-size-h5">Coronavirus Live Tracker - Dashboard for the COVID-19 Virus Outbreak in India</h1>
      </div>
      <div class="d-flex justify-content-end calendar-button">
        

        <input class="form-control date-range-select" #daterangepicker="bsDaterangepicker" bsDaterangepicker
          [(ngModel)]="bsRangeValue"
          [bsConfig]="{ rangeInputFormat : 'MMMM Do YYYY', dateInputFormat: 'MMMM Do YYYY', showWeekNumbers: false }"
          (bsValueChange)="dateFilterChanged($event)" [minDate]="minDate" readonly>

       


      </div>

    </div>

    <div class="row" style="margin-bottom: 10px;">
      <div class="col-lg-12">
        <a href="/analytics/state_wise_cases" class="btn btn-link link-button">State wise cases</a>
        <a href="/analytics/city_wise_cases" class="btn btn-link link-button">City wise cases</a>
      </div>
    </div>

    <div class="row row-xs quick-link">
      <div class="col-sm-6 col-lg-3 margin-top-10">
        <div class="card card-body">
          <h6 class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-8">Confirmed</h6>
          <div class="d-flex d-lg-block d-xl-flex align-items-end quick-link-state">
            <h3 class="tx-normal tx-rubik mg-b-0 mg-r-5 lh-1" *ngIf="totalConfirmedCases">{{totalConfirmedCases | number}}</h3>
            <p class="tx-11 tx-color-03 mg-b-0">
              <span class="tx-medium tx-danger" *ngIf="totalIntesiveCases">{{totalIntesiveCases | number}}
                <i class="icon ion-md-arrow-up"></i>
              </span>
              <span class="tx-medium tx-danger" *ngIf="!totalIntesiveCases"> 0
                <i class="icon ion-md-arrow-up"></i>
              </span>  in ICU
            </p>
          </div>
          <div style="display: block;">
            <canvas baseChart height="60" [datasets]="lineChartConfirmedData" [labels]="lineChartConfirmedSourceLabels"
              [options]="lineChartConfirmedSourceOptions" [colors]="lineChartConfirmedSourceColors" [legend]="false"
              [chartType]="lineChartType" [plugins]="lineChartPlugins">
            </canvas>
          </div>
        </div>

      </div>
      <div class="col-sm-6 col-lg-3 margin-top-10">
        <div class="card card-body">
          <h6 class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-8">Active</h6>
          <div class="d-flex d-lg-block d-xl-flex align-items-end quick-link-state">
            <h3 class="tx-normal tx-rubik mg-b-0 mg-r-5 lh-1" *ngIf="totalHospitalisedCases">{{totalHospitalisedCases}}</h3>
            <p class="tx-11 tx-color-03 mg-b-0" *ngIf="totalHospitalisedCases && totalCases">
              <span class="tx-medium tx-success">{{(100*totalHospitalisedCases/totalCases).toFixed(2) | number: '1.0-0'}} %<i
                  class="icon ion-md-arrow-down"></i></span> of total cases</p>
          </div>
          <div style="display: block;">
            <canvas baseChart height="60" [datasets]="lineChartSymptomaticData"
              [labels]="lineChartSymptomaticSourceLabels" [options]="lineChartSymptomaticSourceOptions"
              [colors]="lineChartSymptomaticSourceColors" [legend]="false" [chartType]="lineChartType"
              [plugins]="lineChartPlugins">
            </canvas>
          </div>
        </div>
      </div>
      
      <div class="col-sm-6 col-lg-3 margin-top-10">
        <div class="card card-body">
          <h6 class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-8">Recovered</h6>
          <div class="d-flex d-lg-block d-xl-flex align-items-end quick-link-state">
            <h3 class="tx-normal tx-rubik mg-b-0 mg-r-5 lh-1" *ngIf="totalDischargedCases">{{totalDischargedCases}}</h3>
            <p class="tx-11 tx-color-03 mg-b-0" *ngIf="totalDischargedCases && totalCases">
              <span class="tx-medium tx-success">{{(100*totalDischargedCases/totalCases).toFixed(2)| number: '1.0-0'}} %<i
                  class="icon ion-md-arrow-up"></i></span> of total cases</p>
          </div>
          <div style="display: block;">
            <canvas baseChart height="60" [datasets]="lineChartDischargeData" [labels]="lineChartDischargeSourceLabels"
              [options]="lineChartDischargeSourceOptions" [colors]="lineChartDischargeSourceColors" [legend]="false"
              [chartType]="lineChartType" [plugins]="lineChartPlugins">
            </canvas>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3 margin-top-10">
        <div class="card card-body">
          <h6 class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-8">Deceased</h6>
          <div class="d-flex d-lg-block d-xl-flex align-items-end quick-link-state">
            <h3 class="tx-normal tx-rubik mg-b-0 mg-r-5 lh-1" *ngIf="totalDeathCases">{{totalDeathCases}}</h3>
            <p class="tx-11 tx-color-03 mg-b-0" *ngIf="totalDeathCases && totalCases">
              <span class="tx-medium tx-success">{{(100*totalDeathCases/totalCases).toFixed(2)| number: '1.0-0'}} %<i
                  class="icon ion-md-arrow-up"></i></span> of total cases</p>
          </div>
          <div style="display: block;">
            <canvas baseChart height="60" [datasets]="lineChartDeathData" [labels]="lineChartDeathLabels"
              [options]="lineChartDeathOptions" [colors]="lineChartDeathColors" [legend]="false"
              [chartType]="lineChartType" [plugins]="lineChartPlugins">
            </canvas>
          </div>
        </div>
      </div>
    </div>
    

    
    <div class="row row-xs">
      <div class="col-lg-12 margin-top-10">
        <div class="card">
          <div class="card-header">
            Map
            <p>Rollover each state to view the stats</p>
          </div>
          <div class="card-body">
            <app-country-map [cases]="dateWisePateintData"></app-country-map>
          </div>
        </div>
      </div>
      <div class="col-lg-8 col-xl-9 margin-top-10">
        <div class="card">
          <div class="card-header">
            Number Of Cases
            <p *ngIf="startDate && endDate">{{startDate.toLocaleDateString("en-US" , "Option")}} to
              {{endDate.toLocaleDateString("en-US" , "Option")}}</p>
          </div>
          <div class="card-body">
            <div style="display: block;" class="stacked-chart">
              <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
                [plugins]="barChartPlugins" [legend]="barChartLegend" [chartType]="barChartType">
              </canvas>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-xl-3 margin-top-10">
        <div class="card">
          <div class="card-header">Gender</div>
          <div class="card-body">
            <div style="display: block;" class="doughnut-chart">
              <canvas height="400" baseChart [data]="doughnutChartData" [legend]="false" [labels]="doughnutChartLabels"
                [chartType]="doughnutChartType" [options]="pieChartGenderOptions" [colors]="pieChartGenderColors">
              </canvas>
            </div>
          </div>
          <div class="card-footer pd-10">
            <div class="row">
              <div class="col-6">
                <p class="tx-10 tx-uppercase tx-medium tx-color-03 tx-spacing-1 mg-b-5">
                  <span class="legend-label-color" style="background-color: #86c7f3;"></span>
                  Male
                </p>
                <div class="d-flex align-items-center">
                  <h5 class="tx-normal tx-rubik mg-b-0" *ngIf="maleCount && femaleCount">
                    <small class="tx-color-04">{{(maleCount*100/(femaleCount+maleCount)).toFixed(2)| number: '1.0-0'}}%</small></h5>
                </div>
              </div><!-- col -->
              <div class="col-6">
                <p class="tx-10 tx-uppercase tx-medium tx-color-03 tx-spacing-1 tx-nowrap mg-b-5">
                  <span class="legend-label-color" style="background-color: #ffa1b5;"></span>
                  Female
                </p>
                <div class="d-flex align-items-center">
                  <h5 class="tx-normal tx-rubik mg-b-0" *ngIf="maleCount && femaleCount">
                    <small class="tx-color-04">{{(femaleCount*100/(femaleCount+maleCount)).toFixed(2)| number: '1.0-0'}}%</small></h5>
                </div>
              </div><!-- col -->
            </div><!-- row -->
          </div>
        </div>
      </div>
      <div class="col-lg-12 margin-top-10">

        <div class="card card-body">
          <h6 class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-8">Cumulative Confirmed Codiv-19 Cases in India</h6>
          <div style="display: block;">
            <canvas baseChart [datasets]="cumulativeChartConfirmData" [legend]="false" [labels]="cumulativeChartConfirmLabels"
              [options]="cumulativeChartConfirmOptions" [colors]="cumulativeChartConfirmColors"
              [chartType]="lineChartType" [plugins]="lineChartPlugins">
            </canvas>
          </div>
        </div>
      </div>

      <div class="col-lg-12 margin-top-10">
        <div class="card">
          <div class="card-header">State chart</div>
          <div class="card-body">
            <div id="chart">
              <div style="display: block;" class="stacked-chart">
                <canvas baseChart [datasets]="stateBarChartData" [labels]="stateBarChartLabels"
                  [options]="stateBarChartOptions" [plugins]="stateBarChartPlugins" [colors]="chartColors"
                  [legend]="false" chartType="horizontalBar">
                </canvas>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 margin-top-10">
        <div class="card">
          <div class="card-header">Nationality</div>
          <div class="card-body">
            <div style="display: block;" class="doughnut-chart">
              <canvas height="300" baseChart [legend]="false" [data]="doughnutNationalityChartData"
                [labels]="doughnutNationalityChartLabels" [chartType]="doughnutChartType"
                [options]="pieChartNationalityOptions" [colors]="chartColors">
              </canvas>
            </div>
            <div class="nationality-legends">
              <div class="nationality-lable" *ngFor="let lable of doughnutNationalityChartLabels;let i = index">
                <div class="nationality-lable-text">
                  <span class="legend-label-color" [ngStyle]="{'background-color': getNationalityChartLabelColor(i)}"></span> {{lable}}
                </div>&nbsp;                       
                <div class="nationality-value">{{doughnutNationalityChartData[0][i]}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-8 margin-top-10">
        <div class="card">
          <div class="card-header">
            Gender over Time
            <p>Showing Male Cases vs Female Over Time.</p>
          </div>
          <div class="card-body gender-over-time-body">
            <div class="row row-sm">
              <div class="col-6">
                <div class="media">
                  <div class="icon-male d-flex align-items-center justify-content-center">
                    <i class="fa fa-male" aria-hidden="true"></i>
                  </div>
                  <div class="media-body mg-l-10">
                    <h6 class="tx-normal tx-rubik tx-spacing--2 lh-1 mg-b-5" *ngIf="maleCount && femaleCount">
                      {{(maleCount*100/(femaleCount+maleCount)).toFixed(2)| number: '1.0-0'}}%</h6>
                    <p class="tx-10 tx-uppercase tx-medium tx-color-03 tx-spacing-1 tx-nowrap mg-b-0">MALE</p>
                  </div>
                  <!-- media-body -->
                </div>
                <!-- media -->
              </div>
              <!-- col -->
              <div class="col-6">
                <div class="media">
                  <div class="icon-female d-flex align-items-center justify-content-center">
                    <i class="fa fa-female" aria-hidden="true"></i>
                  </div>
                  <div class="media-body mg-l-10">
                    <h6 class="tx-normal tx-rubik tx-spacing--2 lh-1 mg-b-5" *ngIf="femaleCount && maleCount">
                      {{(femaleCount*100/(femaleCount+maleCount)).toFixed(2)| number: '1.0-0'}}%</h6>
                    <p class="tx-10 tx-uppercase tx-medium tx-color-03 tx-spacing-1 tx-nowrap mg-b-0">FEMALE</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="canvas-wrapper">
              <canvas baseChart [datasets]="lineChartData" [labels]="lineChartLabels"
                [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend"
                [chartType]="lineChartType" [plugins]="lineChartPlugins">
              </canvas>
            </div>
          </div>
        </div>
      </div>

    

      <div class="col-lg-4 margin-top-10">
        <div class="card">
          <div class="card-header">Source</div>
          <div class="card-body">
            <div style="display: block;" class="doughnut-chart">
              <canvas height="300" baseChart [legend]="false" [data]="doughnutSourceChartData" [options]="pieChartSourceOptions"
                [labels]="doughnutSourceChartLabels" [chartType]="doughnutChartType"
                [colors]="doughnutSourceChartColors">
              </canvas>
            </div>
          </div>
          <div class="card-footer pd-10">
            <div class="row">
              <ng-container *ngIf="doughnutSourceChartLabels.length > 0">
                <div class="col-6" *ngFor="let label of doughnutSourceChartLabels; let i = index">
                  <p class="tx-10 tx-uppercase tx-medium tx-color-03 tx-spacing-1 mg-b-5">
                    <span class="legend-label-color" [ngStyle]="{'background-color': getSourceChartLabelColor(i)}" ></span>
                    {{label}}
                  </p>
                  <div class="d-flex align-items-center">
                    <h5 class="tx-normal tx-rubik mg-b-0">{{doughnutSourceChartData[0][i]}} </h5>
                    
                  </div>
                </div>
              </ng-container>

  
            </div><!-- row -->
          </div>
        </div>
      </div>


      <div class="col-lg-8 margin-top-10">
        <div class="card">
          <div class="card-header">
            Infection Source over Time
            <p>Showing Number of Imported Cases vs Local Transmission Over Time.</p>
          </div>
          <div class="card-body">

            <div class="row row-sm">
              <div class="col-6">
                <div class="media">
                  <div class="icon-male d-flex align-items-center justify-content-center">
                    <i class="fa fa-wifi" aria-hidden="true"></i>
                  </div>
                  <div class="media-body mg-l-10">
                    <h6 class="tx-normal tx-rubik tx-spacing--2 lh-1 mg-b-5" [innerHTML]="totalLocalTransmission">
                    </h6>
                    <p class="tx-10 tx-uppercase tx-medium tx-color-03 tx-spacing-1 tx-nowrap mg-b-0">LOCAL TRANSMISSION
                    </p>
                  </div>
                  <!-- media-body -->
                </div>
                <!-- media -->
              </div>
              <!-- col -->
              <div class="col-6">
                <div class="media">
                  <div class="icon-female d-flex align-items-center justify-content-center">
                    <i class="fa fa-paper-plane" aria-hidden="true"></i>
                  </div>
                  <div class="media-body mg-l-10">
                    <h6 class="tx-normal tx-rubik tx-spacing--2 lh-1 mg-b-5" [innerHTML]="totalImportedTransmission">
                    </h6>
                    <p class="tx-10 tx-uppercase tx-medium tx-color-03 tx-spacing-1 tx-nowrap mg-b-0">IMPORTED CASE</p>
                  </div>
                </div>
              </div>
            </div>

            <div style="display: block;">
              <canvas baseChart height="120" [datasets]="lineChartInfectionSourceData"
                [labels]="lineChartInfectionSourceLabels" [options]="lineChartInfectionSourceOptions"
                [colors]="lineChartInfectionSourceColors" [legend]="lineChartLegend" [chartType]="lineChartType"
                [plugins]="lineChartPlugins">
              </canvas>
            </div>
          </div>
        </div>
      </div>







    </div>
  </div>
</div>
