.breadcrumb-title{
    margin-top: 10px;
}

.quick-link{
  display: grid;
  grid-auto-rows: 1fr;
  grid-template-columns: repeat(5, 1fr);
}

@media(max-width: 960px){
  .quick-link{
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}

.text-font-size-h5{
  font-size: 1.25rem;
}

.deltas-container{
  position: absolute;
  bottom: 2px;
  right: 7px;
  font-size: 0.7rem;
  .deltas{
    &.deltas-up{
      color: #fd5e53;
    }
    &.deltas-down{
      color: #21bf73;
    }
  }
  
}

.legend-label-color{
  width: 8px;
  height: 8px;
  border-radius: 50%;
  display: inline-block;
  background-color: rgba(0,0,0,0.1);
  margin-right: 4px;
}

.date-range-select{
  width: 300px;
  text-align: center;
  background-color: #fff;
  cursor: pointer;
}

.link-button{
  padding: 0px;
  margin-right: 20px;
}

.rounded-circle{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 4px;

  &.male{
    background-color: #86c7f3;
  }

  &.female{
    background-color: #ffa1b5;
  }

}

.card-footer{
  .tx-uppercase{
    font-size: 0.75rem;
    text-transform: uppercase;
  }
  p,h5{
    margin-bottom: 0px;
  }
  .card-footer-state{
    small{
      color: rgba(0,0,0,0.5);
    }
  }
}

.nationality-legends{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  //align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 0.8rem;
  max-width: 180px;
  margin:auto;
  margin-top: 10px;
  .nationality-lable{
    display: flex;
    margin-left: 0.3rem;
    margin-right: 0.3rem;
  }
  .nationality-lable-text{
    flex: auto;
  }
  .nationality-value{
    text-align: right;
    flex: 1;
  }
}

.gender-over-time-body{
  display: flex;
  flex-direction: column;
  .canvas-wrapper{
    flex: auto;
    display: flex;
    align-items: flex-end;
    canvas{
      height: 100%;
    }
  }
}

.quick-link-state{
  p{
    font-size: 0.7rem;
    margin-left: 6px;
    .tx-danger{
      color: #e60f24;
    }
    .tx-success {
      color: #08bf58;
    }
  }
}

.icon-male{
  width: 40px;
  height: 40px;
  border-radius: 4px;
  background-color: #86c7f3!important;
  color: #fff;
}

.icon-female{
  width: 40px;
  height: 40px;
  border-radius: 4px;
  background-color: #ffa1b5!important;
  color: #fff;
}

.media{
  .media-body{
    margin-left: 6px;
    h6{
      margin-bottom: 2px;
    }
    p{
      margin-bottom: 0px;
      font-size: 0.8rem;
      opacity: 0.5;
    }
  }
}

.states-table{
  font-size: 0.86rem;
  thead{
    th{
      font-weight: 500;
    }
  }
  thead th {
    border-top: 0px;
    border-bottom: 1px solid #dee2e6;
  }
  .cities-row{
    background-color: #f6f6f6;
  }
  .deltas{
    font-size: 0.7rem;
    margin-right: 2px;
    i{
      margin-right: 2px;
    }
    &.deltas-danger{
      color: #fd5e53;
    }
    &.deltas-warning{
      color: #ffd30a;
    }
    &.deltas-success{
      color: #21bf73;
    }
  }
}

@media (max-width: 768px) {
  .date-range-select{
    width: 100%;
  }
}