.breadcrumb-title{
    margin-top: 10px;
}

.rounded-circle{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 4px;

  &.male{
    background-color: #86c7f3;
  }

  &.female{
    background-color: #ffa1b5;
  }

}

.card-footer{
  p,h5{
    margin-bottom: 0px;
  }
  .card-footer-state{
    small{
      color: rgba(0,0,0,0.5);
    }
  }
}

.quick-link-state{
  p{
    font-size: 0.7rem;
    margin-left: 6px;
    .tx-danger{
      color: #e60f24;
    }
    .tx-success {
      color: #08bf58;
    }
  }
}


  // .quick-link{
  //   margin-bottom: 20px;
  // }

  #chart {
    max-width: 650px;
    margin: 35px auto;
  }
