<div class="content content-fixed">
  <div class="container">
    <div class="content content-fixed">
      <div class="container">
        <div class="d-sm-flex justify-content-between page-heading">
          <div>
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb breadcrumb-title">
                <li class="breadcrumb-item"><a href="#/helpline">Helpline</a></li>
                <li class="breadcrumb-item"><a href="#/helpline/awareness">Awareness</a></li>
                <li class="breadcrumb-item">Standard Operating Procedure for Passenger Movement post Disembarkation</li>
              </ol>
            </nav>
            <h5 class="mg-b-0 tx-spacing--1">Standard Operating Procedure for Passenger Movement post Disembarkation</h5>
          </div>
        </div>
        <div class="row">
          <div class="col-12 card">
            <div class="card-body">
              <h6 class="mg-b-0 tx-spacing--1">Standard Operating Procedure for Passenger Movement post Disembarkation</h6>
              <ol>
                <li>Ministry of Civil Aviation would instruct the Airport Authorities to stagger the arrival of flights from COVID19 affected areas so that the flow of passengers is maintained for the screening of passengers.</li>
                <li>From the dedicated aerobridges, the passengers will arrive escorted by Airline Staff to the APHO Health Counters for Initial Thermal Screening, where symptomatic passengers would be isolated and moved to designated hospital as per the existing SOPs.</li>
                <li>After screening, the remaining asymptomatic passengers will be allowed to move to the designated Immigration Counters with passports and a copy of the SRF (Self-Reporting Form) as per the existing SOP. A Note: Airlines staff in the aircraft and at ground will ensure that the arriving passengers have filled their SRFs properly.</li>
                <li>Though the passengers will be directed to the designated Immigration Counters, in case any passenger presents himself at any other counter, the Immigration staff would direct him to the designated counters.</li>
                <li>After clearance of immigration, the passport of the passengers shall be retained by the Immigration officials.</li>
                <li>Passengers in batches of 30, will be handed over to the escort team (24x7 - 5 member Team, Headed by CISF and comprising representative from DIAL, Airlines and Delhi Police). The passports of these passengers would be handed over by the Immigration staff to the Team Lead (CISF officer). <b>THE PASSPORTS SHALL NOT BE HANDED OVER TO THE PASSENGERS, AT ANY COST.</b></li>
                <li>The Team, along with the passengers shall move to the luggage belts to collect the luggage. If there is any delay/missing luggage in the case of any/few passengers, the respective passenger shall stay behind along with a team member and the rest of the team and passengers shall proceed further through the customs.</li>
                <li>If there is any delay in the Customs Clearance, the respective passenger shall stay behind along with a team member, while the rest of the team and passengers shall proceed further.</li>
                <li>The team along with the passengers shall move to the designated triage area manned by Delhi State Govt. Officials with logistics like Laptops, etc. The Control Room In-charge would perform the functions of supervision and coordination.</li>
                <li>There would be a control room at the triage area and 5 screening counters manned by medical officers and para-medical staff deputed by Delhi Government.</li>
                <li>The escort team would report to the control room in-charge who will assign a counter to the batch.</li>
                <li>At the assigned counter, the passports of the entire batch will be handed over by the Team Lead to the Medical Officer in-charge of the counter. Here the passengers would be screened and those without any risk factors would be sent for home quarantine after providing them with their passports, the Home Quarantine Advisory and collecting a declaration from them, to remain strictly under Home Quarantine, or else face penal action, as per the rules. The possibility of stamping the passengers, as done in Maharashtra, with Home Quarantine Stamps would be explored. These passengers would be linked to the IDSP, surveillance system. Delhi Government would depute Delhi State IDSP team for this purpose.</li>
                <li>The High Risk Passengers identified for quarantine at the facilities would be first asked to fill up a declaration opting for paid hotel facility/Govt. Quarantine Facility (based on availability) and subsequently would be quarantined as per availability list of quarantine Facilities given by the State Government.</li>
                <li>The escort team would escort these passengers to the transport provided by the State Govt.</li>
                <li>The Passengers shall be quarantined as per the laid down guidelines.</li>
              </ol>
              <p>Source link: <a href="https://www.mohfw.gov.in/pdf/SOPQuarantineofPassengers.pdf" target="_blank">SOP Quarantine of Passengers (pdf)</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
