<div class="content content-fixed">
  <div class="container">
    <div class="d-sm-flex justify-content-between page-heading">
      <div>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb breadcrumb-title">
            <li class="breadcrumb-item">Helpline</li>
            <li class="breadcrumb-item"><a href="/helpline/awareness">Awareness</a></li>
            <li class="breadcrumb-item">Health Advisory for Elderly Population of India during COVID19 Pandemic</li>
          </ol>
        </nav>
        <h5 class="mg-b-0 tx-spacing--1">Health Advisory for Elderly Population of India during COVID19 Pandemic</h5>
      </div>
    </div>
    <div class="row">
      <div class="col-12 card">
        <div class="card-body">
          <h6 class="mg-b-0 tx-spacing--1 text-center">Health Advisory for Elderly Population of India during COVID19 Pandemic</h6>
          <br>
          <p>Globally, COVID-19 has impacted several lives and is steadily increasing its reach. While Indian Government has taken stringent actions to contain the spread of COVID-19, including nation-wide lockdown, it is also critical for each one of us to follow the protocols and take necessary measures and precautions to break the chain of transmission of the disease.</p>
          <p>Elderly people are at a higher risk of COVID-19 infection due to their decreased immunity and body reserves, as well as multiple associated comorbidities like diabetes, hypertension, chronic kidney disease and chronic obstructive pulmonary disease. Also, course of disease tends to be more severe in case of elderlies resulting in higher mortality.</p>
          <p>However, COVID-19 transmission among elderly population can be reduced by taking following measures:</p>
          <p><b>DO's</b></p>
          <ol>
            <li>Stay at home. Avoid meeting visitors at home. If meeting is essential, maintain a distance of one meter.</li>
            <li>Wash your hands and face at regular intervals with soap and water.</li>
            <li>Sneeze and cough either into your elbow or into tissue paper / handkerchief. After coughing or sneezing dispose of the tissue paper/ wash your handkerchief.</li>
            <li>Ensure proper nutrition through home cooked fresh hot meals, hydrate frequently and take fresh juices to boost immunity.</li>
            <li>Exercise and meditate.</li>
            <li>Take your daily prescribed medicines regularly.</li>
            <li>Talk to your family members (not staying with you), relatives, friends via call or video conferencing, take help from family members if needed</li>
            <li>Postpone your elective surgeries (if any) like cataract surgery or total knee replacement</li>
            <li>Clean the frequently touched surfaces with disinfectant regularly.</li>
            <li>Monitor your health. If you develop fever, cough and/or breathing difficulty immediately contact nearest health care facility and follow the medical advice rendered</li>
          </ol>
          <p><b>DON'Ts</b></p>
          <ol>
            <li>Do not cough or sneeze into your bare hands or without covering your face.</li>
            <li>Don’t go near your contacts if you are suffering from fever and cough.</li>
            <li>Don’t touch your eyes, face, nose and tongue.</li>
            <li>Don’t go near affected/ sick people.</li>
            <li>Don’t self-medicate.</li>
            <li>Don’t shake hands or hug your friends and near ones.</li>
            <li>Do not go to hospital for routine checkup or follow up. As far as possible make tele-consultation with your healthcare provider.</li>
            <li>Don’t go to crowded places like parks, markets and religious places.</li>
            <li>Don’t go out unless it is absolutely essential.</li>
          </ol>
          <br>
          <p>Source link: <a href="https://www.mohfw.gov.in/pdf/AdvisoryforElderlyPopulation.pdf" target="_blank">Advisory for Elderly Population (pdf)</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
